# BASE DE DADOS AVANÇADAS

This project was made by group 008:

Afonso Baptista - fc58213 \
Miguel Borges - fc58187 \
Miguel Dinis - fc58198 \
Rafael Correia - fc58256 \
\
\
Em falta: Tempos que cada coisa demora (obrigatório na fase 2) inicial e depois das otimizações \
Relational -> Tabelas na 3FN (2 tipos de dados diferentes na mesma tabela; não ter uma coluna com lista de strings que devia ser uma tabela nova; tabela com 15 colunas devia ser partida em 2 e pode ficar + rápida; há pelo menos uma coisa que devia originar outra tabela pela 3FN) VER DEFINIÇÃO E OTIMIZAÇÃO NOS SLIDES \
Ver se dá para partir mais as tabelas \
Justificar bem porque usamos só uma (pode pesar nas escritas ou leituras porque podemos não querer passar por tudo para ver uma coisa específica) \
\
\
Para corrigir: É preciso corrigir a parte de inserir os dados na tabela sql otimizada, neste momento é preciso corre-la 2 vezes para todos os dados ficarem escritos (tirando 2 linhas) \
É preciso corrigir as queries complexas do sql otimizado \
\
\
Podemos fazer a fase 2 neste notebook mas temos de dividir bem o que pertece a quê.
\
Melhorar o esquema de dados \
Melhorar as queries\
Usar indexes \
Ver os tempos \
Deixar mais claro o que fizemos em termos de update e write no relatório

## Imports

In [444]:
import pandas as pd
from pymongo import MongoClient
import random
import datetime
from sqlalchemy import create_engine, text
from datetime import datetime
import time
from bson import ObjectId
from pymongo import ASCENDING, DESCENDING

# PHASE 1(only for comparison propose)

## Clean the data

Analyzing the data, we can see that some of the data is missing. Some of the rows on goalscores.csv are missing the 'minute' column. We will remove these rows from the data.

On the other hand, shootouts.csv has missing values in the column 'first_shooter', but it is around 64% of the data, so it is not a good idea to remove it. Instead, we can fill it with random values between the two teams that are playing the match.

We also see that the types of the columns are not correct. We can see that the columns that should be dates are objects. We will convert the columns to the correct types.

To finish the process, we need to drop the rows that are duplicated that have the same date and the same teams playing the match

In [445]:
def clean_data():
    # Load the csvs files into dataframes

    df_results = pd.read_csv('results.csv')
    df_goalscorers = pd.read_csv('goalscorers.csv')
    df_shootouts = pd.read_csv('shootouts.csv')

    # Remove the rows with NaN values from goalscorers dataframe

    df_goalscorers = df_goalscorers.dropna()

    # Substitute the NaN values in the shootouts dataframe on the 'first_shooter' with a random team between the two teams that played the match

    for index, row in df_shootouts.iterrows():
        if pd.isna(row['first_shooter']):
            df_shootouts.at[index, 'first_shooter'] = random.choice([row['home_team'], row['away_team']])
            
    # Convert the datatypes that are objects to datetime

    columns_to_convert_to_datetime = ['date']

    for column in columns_to_convert_to_datetime:
        if column in df_results.columns:
            df_results[column] = pd.to_datetime(df_results[column])
        if column in df_goalscorers.columns:
            df_goalscorers[column] = pd.to_datetime(df_goalscorers[column])
        if column in df_shootouts.columns:
            df_shootouts[column] = pd.to_datetime(df_shootouts[column])
            
    # Drop the rows that are duplicated in the dataframes
    df_results = df_results.drop_duplicates(subset=['date', 'home_team', 'away_team'])
    
    # Reset the index of the dataframes
    df_results.reset_index(drop=True, inplace=True)
    
    return df_results, df_goalscorers, df_shootouts

df_results, df_goalscorers, df_shootouts = clean_data()

## MONGODB

### Connections to MongoDB

In [581]:
# MongoDB do Miguel Dinis
#client = MongoClient("mongodb+srv://fc58198:ClusterPass@cluster0.wbcd4.mongodb.net/") 
# MongoDB do Rafa
client = MongoClient("mongodb://localhost:27017")
# MongoDB do Afonso
# client = MongoClient("mongodb://localhost:27017")
# MongoDB do Miguel Borges
# client = MongoClient("mongodb+srv://mfsb3110:Cfsb1705@cluster10.azlt2.mongodb.net/")

### MongoDB collections structure and Database/collection creation

In [582]:
def create_mongo_basic_database(client):     
    schema_validator = {
        "$jsonSchema": {
            "bsonType": "object",
            "title": "Schema for the results of the matches",
            "required": [
                "date",
                "home_team",
                "away_team",
                "home_score",
                "away_score",
                "tournament",
                "city",
                "country",
                "neutral",
                "goalscorers",
            ],
            "properties": {
                "date": {
                    "bsonType": "date",
                    "description": "Must be a date representing the date of the match",
                },
                "home_team": {
                    "bsonType": "string",
                    "description": "Must be a string representing the home team",
                },
                "away_team": {
                    "bsonType": "string",
                    "description": "Must be a string representing the away team",
                },
                "home_score": {
                    "bsonType": "int",
                    "description": "Must be an integer representing the home team score",
                },
                "away_score": {
                    "bsonType": "int",
                    "description": "Must be an integer representing the away team score",
                },
                "tournament": {
                    "bsonType": "string",
                    "description": "Must be a string representing the tournament name",
                },
                "city": {
                    "bsonType": "string",
                    "description": "Must be a string representing the city",
                },
                "country": {
                    "bsonType": "string",
                    "description": "Must be a string representing the country",
                },
                "neutral": {
                    "bsonType": "bool",
                    "description": "Must be a boolean indicating if the match was played at a neutral venue",
                },
                "goalscorers": {
                    "bsonType": "array",
                    "description": "List of goalscorers, can be empty",
                    "items": {
                        "bsonType": "object",
                        "required": ["team", "scorer", "minute", "own_goal", "penalty"],
                        "properties": {
                            "team": {
                                "bsonType": "string",
                                "description": "Must be a string representing the team of the scorer",
                            },
                            "scorer": {
                                "bsonType": "string",
                                "description": "Must be a string representing the name of the scorer",
                            },
                            "minute": {
                                "bsonType": "double",
                                "description": "Must be a float representing the minute of the goal",
                            },
                            "own_goal": {
                                "bsonType": "bool",
                                "description": "Must be a boolean indicating if the goal was an own goal",
                            },
                            "penalty": {
                                "bsonType": "bool",
                                "description": "Must be a boolean indicating if the goal was a penalty",
                            },
                        },
                    },
                },
                "shootout": {
                    "oneOf": [
                        {
                            "bsonType": "null",
                            "description": "Can be null if no shootout occurred",
                        },
                        {
                            "bsonType": "object",
                            "description": "Optional object for shootout details",
                            "required": ["winner", "first_shooter"],
                            "properties": {
                                "winner": {
                                    "bsonType": "string",
                                    "description": "Must be a string representing the shootout winner",
                                },
                                "first_shooter": {
                                    "bsonType": "string",
                                    "description": "Must be a string representing the first shooter",
                                },
                            },
                        },
                    ],
                }
            },
        }
    }

    client.drop_database('football') # Drop the database if it already exists

    db = client['football'] # Create the database

    # Create the collection with the schema validator

    try:
        collection_results = db.create_collection('football_results', validator={'$jsonSchema': schema_validator['$jsonSchema']}) 
    except Exception as e:
        print(e)
        
    return db, collection_results

db, collection_results = create_mongo_basic_database(client)

### Data insertion

First we need to put together all the dataframes into a single one, inserting the goalscorers and shootout details into one dataframe. After that we can insert the data into the MongoDB collection.

Obs: We saw that exists 2 shootouts there are not in the results.csv file, so we will not insert them in the database, because if we dont have the match itself, we thought that it would not make sense to insert the shootout in the database.

In [583]:
def insert_data_mongo_basic(df_results, df_goalscorers, df_shootouts, collection_results):
    # Create the dataframe to insert into the database

    df_matches = df_results.copy(deep=True)

    # Group the goalscorers by date, home_team, away_team and put each goalscorer in a object with the team, scorer, minute, own_goal and penalty fields in a list 

    grouped_goalscorers = df_goalscorers.groupby(['date', 'home_team', 'away_team'], group_keys=False).apply(
        lambda x: x[['team', 'scorer', 'minute', 'own_goal', 'penalty']].to_dict(orient='records'), include_groups = False
    ).reset_index(name='goalscorers')

    # Merge the grouped goalscorers with the matches dataframe

    df_matches = pd.merge(df_matches, grouped_goalscorers, on=['date', 'home_team', 'away_team'], how='left')

    # Fill the NaN values with an empty list

    df_matches['goalscorers'] = df_matches['goalscorers'].apply(lambda x: [] if isinstance(x, float) and pd.isna(x) else x)

    # Group the shootouts by date, home_team, away_team and put the winner and first_shooter in a object

    grouped_shootouts = df_shootouts.groupby(['date', 'home_team', 'away_team'], group_keys=False).apply(
        lambda x: {
            'winner': x['winner'].iloc[0],
            'first_shooter': x['first_shooter'].iloc[0]
        }, 
        include_groups = False
    ).reset_index(name='shootout')

    # Adding the column shootout to the dataframe

    df_matches = pd.merge(df_matches, grouped_shootouts, on=['date', 'home_team', 'away_team'], how='left')

    # Fill the NaN values with None

    df_matches['shootout'] = df_matches['shootout'].apply(lambda x: None if isinstance(x, float) and pd.isna(x) else x)

    # Insert the data into the database

    collection_results.insert_many(df_matches.to_dict(orient='records'))
    
df_results, df_goalscorers, df_shootouts = clean_data()
_, collection_results = create_mongo_basic_database(client)
insert_data_mongo_basic(df_results, df_goalscorers, df_shootouts, collection_results)

## Queries on MongoDB

### Two simple queries on MongoDB

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [584]:
def simple_queries_mongo_basic(collection_results): 
    # Query 1

    # We need to convert the date to a datetime object to compare it with the date_limit
    date_limit = datetime(2003, 12, 31)

    query1 = {
            "description": "Games where Portugal scored more than 3 goals after 2003",
            "query": {
                "$and": [
                    {"$or": [{"home_team": "Portugal", "home_score": {"$gt": 3}},
                            {"away_team": "Portugal", "away_score": {"$gt": 3}}]},
                    {"date": {"$gt": date_limit}}
                ]
            }
        }


    # Query 2
    query2 = {
            "description": "Games where Australia and Sweden played against each other",
            "query": {
                "$or": [
                    {"home_team": "Australia", "away_team": "Sweden"},
                    {"home_team": "Sweden", "away_team": "Australia"}
                ]
            }
        }

    # Execute the queries
    start_time = time.perf_counter()
    results_query1_cursor = collection_results.find(query1['query'])
    mongo_basic_sq1_time = time.perf_counter() - start_time
    results_query1_count = len(list(collection_results.find(query1['query'])))
    print("Time to execute query 1:", mongo_basic_sq1_time)
    print(results_query1_count, " results for query 1")

        
    start_time = time.perf_counter()
    results_query2_cursor = collection_results.find(query2['query'])
    mongo_basic_sq2_time = time.perf_counter() - start_time
    results_query2_count = len(list(collection_results.find(query2['query'])))  
    print("Time to execute query 2:", mongo_basic_sq2_time)
    print(results_query2_count, " results for query 2")

    print("Results for query 1:")
    for result in results_query1_cursor:
        print("Date:", result['date'], "Home team:", result['home_team'], "Away team:", result['away_team'], "Home score:", result['home_score'], "Away score:", result['away_score'])
        
    print("Results for query 2:")
    for result in results_query2_cursor:
        print("Date:", result['date'], "Home team:", result['home_team'], "Away team:", result['away_team'], "Home score:", result['home_score'], "Away score:", result['away_score'])
    
    return mongo_basic_sq1_time, mongo_basic_sq2_time

mongo_basic_sq1_time, mongo_basic_sq2_time = simple_queries_mongo_basic(collection_results)

Time to execute query 1: 1.8166028894484043e-05
46  results for query 1
Time to execute query 2: 1.1709053069353104e-05
5  results for query 2
Results for query 1:
Date: 2004-06-05 00:00:00 Home team: Portugal Away team: Lithuania Home score: 4 Away score: 1
Date: 2004-09-08 00:00:00 Home team: Portugal Away team: Estonia Home score: 4 Away score: 0
Date: 2004-10-13 00:00:00 Home team: Portugal Away team: Russia Home score: 7 Away score: 1
Date: 2004-11-17 00:00:00 Home team: Luxembourg Away team: Portugal Home score: 0 Away score: 5
Date: 2005-03-26 00:00:00 Home team: Portugal Away team: Canada Home score: 4 Away score: 1
Date: 2005-09-03 00:00:00 Home team: Portugal Away team: Luxembourg Home score: 6 Away score: 0
Date: 2006-05-27 00:00:00 Home team: Portugal Away team: Cape Verde Home score: 4 Away score: 1
Date: 2007-03-24 00:00:00 Home team: Portugal Away team: Belgium Home score: 4 Away score: 0
Date: 2008-08-20 00:00:00 Home team: Portugal Away team: Faroe Islands Home score: 5 Away score: 0
Date: 2008-09-06 00:00:00 Home team: Malta Away team: Portugal Home score: 0 Away score: 4
Date: 2009-10-14 00:00:00 Home team: Portugal Away team: Malta Home score: 4 Away score: 0
Date: 2010-06-21 00:00:00 Home team: Portugal Away team: North Korea Home score: 7 Away score: 0
Date: 2010-09-03 00:00:00 Home team: Portugal Away team: Cyprus Home score: 4 Away score: 4
Date: 2010-11-17 00:00:00 Home team: Portugal Away team: Spain Home score: 4 Away score: 0
Date: 2011-08-10 00:00:00 Home team: Portugal Away team: Luxembourg Home score: 5 Away score: 0
Date: 2011-09-02 00:00:00 Home team: Cyprus Away team: Portugal Home score: 0 Away score: 4
Date: 2011-10-07 00:00:00 Home team: Portugal Away team: Iceland Home score: 5 Away score: 3
Date: 2011-11-15 00:00:00 Home team: Portugal Away team: Bosnia and Herzegovina Home score: 6 Away score: 2
Date: 2013-09-06 00:00:00 Home team: Northern Ireland Away team: Portugal Home score: 2 Away score: 4
Date: 2014-03-05 00:00:00 Home team: Portugal Away team: Cameroon Home score: 5 Away score: 1
Date: 2014-06-10 00:00:00 Home team: Republic of Ireland Away team: Portugal Home score: 1 Away score: 5
Date: 2016-06-08 00:00:00 Home team: Portugal Away team: Estonia Home score: 7 Away score: 0
Date: 2016-09-01 00:00:00 Home team: Portugal Away team: Gibraltar Home score: 5 Away score: 0
Date: 2016-10-07 00:00:00 Home team: Portugal Away team: Andorra Home score: 6 Away score: 0
Date: 2016-10-10 00:00:00 Home team: Faroe Islands Away team: Portugal Home score: 0 Away score: 6
Date: 2016-11-13 00:00:00 Home team: Portugal Away team: Latvia Home score: 4 Away score: 1
Date: 2017-06-03 00:00:00 Home team: Portugal Away team: Cyprus Home score: 4 Away score: 0
Date: 2017-06-24 00:00:00 Home team: New Zealand Away team: Portugal Home score: 0 Away score: 4
Date: 2017-08-31 00:00:00 Home team: Portugal Away team: Faroe Islands Home score: 5 Away score: 1
Date: 2019-09-07 00:00:00 Home team: Serbia Away team: Portugal Home score: 2 Away score: 4
Date: 2019-09-10 00:00:00 Home team: Lithuania Away team: Portugal Home score: 1 Away score: 5
Date: 2019-11-14 00:00:00 Home team: Portugal Away team: Lithuania Home score: 6 Away score: 0
Date: 2020-09-05 00:00:00 Home team: Portugal Away team: Croatia Home score: 4 Away score: 1
Date: 2020-11-11 00:00:00 Home team: Portugal Away team: Andorra Home score: 7 Away score: 0
Date: 2021-06-09 00:00:00 Home team: Portugal Away team: Israel Home score: 4 Away score: 0
Date: 2021-10-12 00:00:00 Home team: Portugal Away team: Luxembourg Home score: 5 Away score: 0
Date: 2022-06-05 00:00:00 Home team: Portugal Away team: Switzerland Home score: 4 Away score: 0
Date: 2022-09-24 00:00:00 Home team: Czech Republic Away team: Portugal Home score: 0 Away score: 4
Date: 2022-11-17 00:00:00 Home team: Portugal Away team: Nigeria Home score: 4 Away score: 0
Date: 2022-12-06 00:00:00 Home team: Portugal Away team: Switzerland Home score: 6 Away score: 1
Date: 2023-03-23 00:00:00 Home team: Portugal Away team: Liechtenstein Home score: 4 Away score: 0
Date: 2023-03-26 00:00:00 Home team: Luxembourg Away team: Portugal Home score: 0 Away score: 6
Date: 2023-09-11 00:00:00 Home team: Portugal Away team: Luxembourg Home score: 9 Away score: 0
Date: 2023-10-16 00:00:00 Home team: Bosnia and Herzegovina Away team: Portugal Home score: 0 Away score: 5
Date: 2024-03-21 00:00:00 Home team: Portugal Away team: Sweden Home score: 5 Away score: 2
Date: 2024-06-04 00:00:00 Home team: Portugal Away team: Finland Home score: 4 Away score: 2
Results for query 2:
Date: 1992-01-26 00:00:00 Home team: Australia Away team: Sweden Home score: 0 Away score: 0
Date: 1992-01-29 00:00:00 Home team: Australia Away team: Sweden Home score: 1 Away score: 0
Date: 1992-02-02 00:00:00 Home team: Australia Away team: Sweden Home score: 1 Away score: 0
Date: 1996-02-25 00:00:00 Home team: Australia Away team: Sweden Home score: 0 Away score: 2
Date: 1996-02-28 00:00:00 Home team: Australia Away team: Sweden Home score: 0 Away score: 0

### Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [585]:
def complex_query1_mongo_basic(collection_results): 
    # Complex query 1

    # Obtain the teams that have played with each other at least 100 times
    pipeline = [
        {
            "$project": {
                "team_pair": {
                    "$cond": [
                        { "$lt": ["$home_team", "$away_team"] },
                        { "home_team": "$home_team", "away_team": "$away_team" },
                        { "home_team": "$away_team", "away_team": "$home_team" }
                    ]
                }
            }
        },
        {
            "$group": {
                "_id": "$team_pair",
                "count": { "$sum": 1 }
            }
        },
        {
            "$match": {
                "count": { "$gt": 100 }
            }
        }
    ]



    # Get the teams that have played with each other at least 100 times
    start_time = time.perf_counter()
    teams_that_played_at_least_100_times = list(collection_results.aggregate(pipeline))

    matched_count = 0
    modified_count = 0

    # Iterate over the teams that have played with each other at least 100 times and update the matches that have more than 5 goals scored
    for team_pair in teams_that_played_at_least_100_times:
        home_team = team_pair['_id']['home_team']
        away_team = team_pair['_id']['away_team']
        
        try:
            # Update the matches that have more than 5 goals scored and that the teams are in the team_pair
            results = collection_results.update_many(
                {
                    "$or": [
                        {"home_team": home_team, "away_team": away_team},
                        {"home_team": away_team, "away_team": home_team}
                    ],
                    "$expr": {"$gt": [{"$add": ["$home_score", "$away_score"]}, 5]}
                },
                {
                    "$set": {
                        "neutral": True
                    }
                }
            )

            matched_count += results.matched_count
            modified_count += results.modified_count
        except Exception as e:
            print("Error updating the documents, error: ", e)   

    mongo_basic_cq1_time = time.perf_counter() - start_time
    print("Time to execute the complex query 1:", mongo_basic_cq1_time)

    # Print the teams that have played with each other at least 100 times
    print("Teams that have played with each other at least 100 times:")
    for team_pair in teams_that_played_at_least_100_times:
        print("Home team: ", team_pair['_id']['home_team'], ", Away team: ", team_pair['_id']['away_team'], ", Count: ", team_pair['count'])
            
    print("Matched count: ", matched_count)
    print("Modified count: ", modified_count)
    
    return mongo_basic_cq1_time

mongo_basic_cq1_time = complex_query1_mongo_basic(collection_results)

Time to execute the complex query 1: 0.26157895801588893
Teams that have played with each other at least 100 times:
Home team:  Belgium , Away team:  Netherlands , Count:  128
Home team:  Argentina , Away team:  Paraguay , Count:  106
Home team:  Argentina , Away team:  Uruguay , Count:  182
Home team:  Austria , Away team:  Hungary , Count:  137
Home team:  Kenya , Away team:  Uganda , Count:  110
Home team:  England , Away team:  Wales , Count:  105
Home team:  Norway , Away team:  Sweden , Count:  109
Home team:  Denmark , Away team:  Sweden , Count:  108
Home team:  England , Away team:  Scotland , Count:  118
Home team:  Scotland , Away team:  Wales , Count:  106
Home team:  Argentina , Away team:  Brazil , Count:  109
Home team:  Guernsey , Away team:  Jersey , Count:  119
Matched count:  229
Modified count:  215

In [586]:
def complex_query2_mongo_basic(collection_results):    
    # Complex query 2

    # Get the matches with the most difference between the home_score and away_score
    pipeline = [
        {
            "$project": {
                "difference": {"$abs": {"$subtract": ["$home_score", "$away_score"]}},
                "date": 1,
                "home_team": 1,
                "away_team": 1,
                "home_score": 1,
                "away_score": 1,
                "tournament": 1,
                "city": 1,
                "country": 1,
                "neutral": 1,
            }
        },
        {"$sort": {"difference": -1}},
        {"$limit": 100},
    ]

    start_time = time.perf_counter()
    matches_with_most_difference = list(collection_results.aggregate(pipeline))

    # Add the 100 matches with the most difference in goals scored between the two teams, but flipped
    new_matches = []
    for match in matches_with_most_difference:
        new_match = {
            "date": match['date'],
            "home_team": match['home_team'],
            "away_team": match['away_team'],
            "home_score": match['away_score'],
            "away_score": match['home_score'],
            "tournament": match['tournament'],
            "city": match['city'],
            "country": match['country'],
            "neutral": match['neutral'],
            "goalscorers": [],
            "shootout": None
        }
        new_matches.append(new_match)
        
    try:
        collection_results.insert_many(new_matches)
    except Exception as e:
        print("Error inserting the documents, error: ", e)

    mongo_basic_cq2_time = time.perf_counter() - start_time
    print("Time to execute the complex query 2:", mongo_basic_cq2_time)
    print(f"Inserted {len(new_matches)} matches with the most difference in goals scored between the two teams flipped.")
    # Print the matches with the most difference between the home_score and away_score
    counter = 0
    print("Matches with the most difference between the home_score and away_score:")
    for match in matches_with_most_difference:
        counter += 1
        print("Match number: ", counter, ", Difference: ", match['difference'], ", Date: ", match['date'], ", Home team: ", match['home_team'], ", Away team: ", match['away_team'])
    
    return mongo_basic_cq2_time

mongo_basic_cq2_time = complex_query2_mongo_basic(collection_results)

Time to execute the complex query 2: 0.09429875004570931
Inserted 100 matches with the most difference in goals scored between the two teams flipped.
Matches with the most difference between the home_score and away_score:
Match number:  1 , Difference:  31 , Date:  2001-04-11 00:00:00 , Home team:  Australia , Away team:  American Samoa
Match number:  2 , Difference:  30 , Date:  1971-09-13 00:00:00 , Home team:  Tahiti , Away team:  Cook Islands
Match number:  3 , Difference:  24 , Date:  1979-08-30 00:00:00 , Home team:  Fiji , Away team:  Kiribati
Match number:  4 , Difference:  22 , Date:  2001-04-09 00:00:00 , Home team:  Australia , Away team:  Tonga
Match number:  5 , Difference:  21 , Date:  1966-04-03 00:00:00 , Home team:  Libya , Away team:  Oman
Match number:  6 , Difference:  21 , Date:  2005-03-11 00:00:00 , Home team:  Guam , Away team:  North Korea
Match number:  7 , Difference:  20 , Date:  1987-12-15 00:00:00 , Home team:  American Samoa , Away team:  Papua New Guinea
Match number:  8 , Difference:  20 , Date:  2006-11-24 00:00:00 , Home team:  Sápmi , Away team:  Monaco
Match number:  9 , Difference:  20 , Date:  2000-02-14 00:00:00 , Home team:  Kuwait , Away team:  Bhutan
Match number:  10 , Difference:  20 , Date:  2014-06-01 00:00:00 , Home team:  Darfur , Away team:  Padania
Match number:  11 , Difference:  20 , Date:  2003-06-30 00:00:00 , Home team:  Sark , Away team:  Isle of Wight
Match number:  12 , Difference:  19 , Date:  1983-08-22 00:00:00 , Home team:  Niue , Away team:  Papua New Guinea
Match number:  13 , Difference:  19 , Date:  2000-11-24 00:00:00 , Home team:  Iran , Away team:  Guam
Match number:  14 , Difference:  19 , Date:  2000-01-26 00:00:00 , Home team:  China PR , Away team:  Guam
Match number:  15 , Difference:  19 , Date:  1997-05-13 00:00:00 , Home team:  Kazakhstan , Away team:  Guam
Match number:  16 , Difference:  19 , Date:  2014-06-02 00:00:00 , Home team:  Darfur , Away team:  South Ossetia
Match number:  17 , Difference:  19 , Date:  2003-06-29 00:00:00 , Home team:  Gibraltar , Away team:  Sark
Match number:  18 , Difference:  18 , Date:  1991-09-15 00:00:00 , Home team:  Guam , Away team:  New Caledonia
Match number:  19 , Difference:  18 , Date:  2012-06-05 00:00:00 , Home team:  Darfur , Away team:  Provence
Match number:  20 , Difference:  18 , Date:  1994-03-19 00:00:00 , Home team:  Jersey , Away team:  Alderney
Match number:  21 , Difference:  18 , Date:  2003-07-07 00:00:00 , Home team:  Kiribati , Away team:  Vanuatu
Match number:  22 , Difference:  18 , Date:  1979-08-30 00:00:00 , Home team:  Tahiti , Away team:  Tuvalu
Match number:  23 , Difference:  18 , Date:  2003-07-01 00:00:00 , Home team:  Micronesia , Away team:  New Caledonia
Match number:  24 , Difference:  18 , Date:  1963-09-06 00:00:00 , Home team:  Solomon Islands , Away team:  Tahiti
Match number:  25 , Difference:  17 , Date:  2010-10-14 00:00:00 , Home team:  Dominican Republic , Away team:  British Virgin Islands
Match number:  26 , Difference:  17 , Date:  2003-06-30 00:00:00 , Home team:  Tahiti , Away team:  Micronesia
Match number:  27 , Difference:  17 , Date:  1997-06-02 00:00:00 , Home team:  Maldives , Away team:  Iran
Match number:  28 , Difference:  17 , Date:  2000-06-19 00:00:00 , Home team:  Australia , Away team:  Cook Islands
Match number:  29 , Difference:  16 , Date:  2003-09-29 00:00:00 , Home team:  South Korea , Away team:  Nepal
Match number:  30 , Difference:  16 , Date:  1998-09-28 00:00:00 , Home team:  Australia , Away team:  Cook Islands
Match number:  31 , Difference:  16 , Date:  2003-07-01 00:00:00 , Home team:  Greenland , Away team:  Sark
Match number:  32 , Difference:  16 , Date:  1995-08-21 00:00:00 , Home team:  Cook Islands , Away team:  Solomon Islands
Match number:  33 , Difference:  16 , Date:  2012-09-05 00:00:00 , Home team:  Martinique , Away team:  British Virgin Islands
Match number:  34 , Difference:  16 , Date:  2012-01-14 00:00:00 , Home team:  Gozo , Away team:  Raetia
Match number:  35 , Difference:  16 , Date:  2011-09-03 00:00:00 , Home team:  Kiribati , Away team:  Papua New Guinea
Match number:  36 , Difference:  16 , Date:  2000-11-26 00:00:00 , Home team:  Tajikistan , Away team:  Guam
Match number:  37 , Difference:  16 , Date:  2011-09-05 00:00:00 , Home team:  Kiribati , Away team:  Tahiti
Match number:  38 , Difference:  16 , Date:  2007-08-25 00:00:00 , Home team:  Fiji , Away team:  Tuvalu
Match number:  39 , Difference:  15 , Date:  2005-03-07 00:00:00 , Home team:  Guam , Away team:  Hong Kong
Match number:  40 , Difference:  15 , Date:  1991-09-09 00:00:00 , Home team:  Guam , Away team:  Tahiti
Match number:  41 , Difference:  15 , Date:  1998-12-05 00:00:00 , Home team:  Mongolia , Away team:  Uzbekistan
Match number:  42 , Difference:  15 , Date:  2019-11-10 00:00:00 , Home team:  Trinidad and Tobago , Away team:  Anguilla
Match number:  43 , Difference:  15 , Date:  2015-09-03 00:00:00 , Home team:  Qatar , Away team:  Bhutan
Match number:  44 , Difference:  15 , Date:  1963-11-15 00:00:00 , Home team:  Egypt , Away team:  Laos
Match number:  45 , Difference:  15 , Date:  2012-09-28 00:00:00 , Home team:  Saint Pierre and Miquelon , Away team:  New Caledonia
Match number:  46 , Difference:  15 , Date:  2012-06-04 00:00:00 , Home team:  Northern Cyprus , Away team:  Darfur
Match number:  47 , Difference:  15 , Date:  1971-09-11 00:00:00 , Home team:  Cook Islands , Away team:  Papua New Guinea
Match number:  48 , Difference:  15 , Date:  2007-08-29 00:00:00 , Home team:  American Samoa , Away team:  Vanuatu
Match number:  49 , Difference:  15 , Date:  2003-07-03 00:00:00 , Home team:  Frøya , Away team:  Sark
Match number:  50 , Difference:  14 , Date:  1971-09-15 00:00:00 , Home team:  Cook Islands , Away team:  Fiji
Match number:  51 , Difference:  14 , Date:  2006-11-23 00:00:00 , Home team:  Sápmi , Away team:  Monaco
Match number:  52 , Difference:  14 , Date:  2005-05-03 00:00:00 , Home team:  Occitania , Away team:  Chechnya
Match number:  53 , Difference:  14 , Date:  2023-11-18 00:00:00 , Home team:  France , Away team:  Gibraltar
Match number:  54 , Difference:  14 , Date:  2021-03-30 00:00:00 , Home team:  Japan , Away team:  Mongolia
Match number:  55 , Difference:  14 , Date:  2007-06-21 00:00:00 , Home team:  Hong Kong , Away team:  Guam
Match number:  56 , Difference:  14 , Date:  2017-03-28 00:00:00 , Home team:  Oman , Away team:  Bhutan
Match number:  57 , Difference:  14 , Date:  1998-04-19 00:00:00 , Home team:  Guyana , Away team:  Anguilla
Match number:  58 , Difference:  14 , Date:  1963-11-11 00:00:00 , Home team:  North Korea , Away team:  Somalia
Match number:  59 , Difference:  14 , Date:  1983-08-20 00:00:00 , Home team:  Niue , Away team:  Tahiti
Match number:  60 , Difference:  14 , Date:  2019-07-15 00:00:00 , Home team:  Tonga , Away team:  Vanuatu
Match number:  61 , Difference:  14 , Date:  1962-08-26 00:00:00 , Home team:  Malaysia , Away team:  Philippines
Match number:  62 , Difference:  14 , Date:  2019-10-10 00:00:00 , Home team:  Iran , Away team:  Cambodia
Match number:  63 , Difference:  14 , Date:  1973-08-17 00:00:00 , Home team:  Algeria , Away team:  Yemen
Match number:  64 , Difference:  14 , Date:  1946-12-15 00:00:00 , Home team:  Curaçao , Away team:  Puerto Rico
Match number:  65 , Difference:  14 , Date:  1966-11-30 00:00:00 , Home team:  North Korea , Away team:  Yemen
Match number:  66 , Difference:  13 , Date:  2006-09-06 00:00:00 , Home team:  San Marino , Away team:  Germany
Match number:  67 , Difference:  13 , Date:  1999-06-28 00:00:00 , Home team:  Hitra , Away team:  Isle of Man
Match number:  68 , Difference:  13 , Date:  1992-08-18 00:00:00 , Home team:  Ethiopia , Away team:  Iraq
Match number:  69 , Difference:  13 , Date:  1991-09-12 00:00:00 , Home team:  Fiji , Away team:  Guam
Match number:  70 , Difference:  13 , Date:  2021-06-05 00:00:00 , Home team:  Panama , Away team:  Anguilla
Match number:  71 , Difference:  13 , Date:  2004-02-29 00:00:00 , Home team:  Bermuda , Away team:  Montserrat
Match number:  72 , Difference:  13 , Date:  1917-05-10 00:00:00 , Home team:  Japan , Away team:  Philippines
Match number:  73 , Difference:  13 , Date:  1917-05-07 00:00:00 , Home team:  Japan , Away team:  Philippines
Match number:  74 , Difference:  13 , Date:  2018-09-10 00:00:00 , Home team:  Haiti , Away team:  Sint Maarten
Match number:  75 , Difference:  13 , Date:  2019-07-08 00:00:00 , Home team:  Tuvalu , Away team:  Solomon Islands
Match number:  76 , Difference:  13 , Date:  1997-06-11 00:00:00 , Home team:  Australia , Away team:  Solomon Islands
Match number:  77 , Difference:  13 , Date:  1998-04-15 00:00:00 , Home team:  Grenada , Away team:  Anguilla
Match number:  78 , Difference:  13 , Date:  1950-04-14 00:00:00 , Home team:  Mauritius , Away team:  Réunion
Match number:  79 , Difference:  13 , Date:  1966-04-06 00:00:00 , Home team:  Libya , Away team:  Yemen
Match number:  80 , Difference:  13 , Date:  1981-08-16 00:00:00 , Home team:  New Zealand , Away team:  Fiji
Match number:  81 , Difference:  13 , Date:  2019-07-15 00:00:00 , Home team:  Solomon Islands , Away team:  American Samoa
Match number:  82 , Difference:  13 , Date:  1981-07-08 00:00:00 , Home team:  Tahiti , Away team:  Western Samoa
Match number:  83 , Difference:  13 , Date:  1882-02-18 00:00:00 , Home team:  Northern Ireland , Away team:  England
Match number:  84 , Difference:  13 , Date:  1995-08-17 00:00:00 , Home team:  Tahiti , Away team:  Wallis Islands and Futuna
Match number:  85 , Difference:  13 , Date:  1933-05-21 00:00:00 , Home team:  Spain , Away team:  Bulgaria
Match number:  86 , Difference:  13 , Date:  2001-04-07 00:00:00 , Home team:  Fiji , Away team:  American Samoa
Match number:  87 , Difference:  13 , Date:  1979-08-31 00:00:00 , Home team:  Kiribati , Away team:  Papua New Guinea
Match number:  88 , Difference:  13 , Date:  2001-04-14 00:00:00 , Home team:  Saint Lucia , Away team:  United States Virgin Islands
Match number:  89 , Difference:  13 , Date:  2012-09-22 00:00:00 , Home team:  Guadeloupe , Away team:  Saint Pierre and Miquelon
Match number:  90 , Difference:  13 , Date:  1998-08-01 00:00:00 , Home team:  Palau , Away team:  Guam
Match number:  91 , Difference:  13 , Date:  1940-09-01 00:00:00 , Home team:  Germany , Away team:  Finland
Match number:  92 , Difference:  12 , Date:  2006-02-18 00:00:00 , Home team:  Monaco , Away team:  Chechnya
Match number:  93 , Difference:  12 , Date:  2004-11-24 00:00:00 , Home team:  Jamaica , Away team:  Saint Martin
Match number:  94 , Difference:  12 , Date:  2003-12-03 00:00:00 , Home team:  Maldives , Away team:  Mongolia
Match number:  95 , Difference:  12 , Date:  1998-09-07 00:00:00 , Home team:  Tahiti , Away team:  American Samoa
Match number:  96 , Difference:  12 , Date:  1927-05-29 00:00:00 , Home team:  Sweden , Away team:  Latvia
Match number:  97 , Difference:  12 , Date:  1967-08-23 00:00:00 , Home team:  Denmark , Away team:  Iceland
Match number:  98 , Difference:  12 , Date:  2003-07-05 00:00:00 , Home team:  Fiji , Away team:  Kiribati
Match number:  99 , Difference:  12 , Date:  2001-04-14 00:00:00 , Home team:  Brunei , Away team:  United Arab Emirates
Match number:  100 , Difference:  12 , Date:  1917-10-07 00:00:00 , Home team:  Denmark , Away team:  Norway

## SQL

### Connecting to MYSQL

In [574]:
# Create a MySQL database, a table named "Football" to store the data
# Afonso
# username = 'root'
# password = "1234"

# Miguel Borges
# username = 'root'
# password = "Cfsb1705!"

# Miguel Dinis
# username = 'root'
# password = "1234"

# Rafael
username = 'root'
password = "olaolaola"

host = 'localhost'
port = '3306'
database_name_sql_basic = 'football_db'

# Create a connection to the MySQL server
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}'
engine = create_engine(db_url)

# Test connection
try:
    with engine.connect() as connection:
        print("Successfully connected to MySQL server.")
except Exception as e:
    print(f"Error connecting to MySQL: {e}")

Successfully connected to MySQL server.

### Creating the database and relational schema

In [575]:
def create_mysql_database_basic(engine, database_name): 
    # Create the database
    try:
        with engine.connect() as connection:
            connection.execute(text(f"DROP DATABASE IF EXISTS {database_name}"))  # Optional: Drops if already exists
            connection.execute(text(f"CREATE DATABASE {database_name}"))
            connection.execute(text(f"USE {database_name}"))
            print(f"Database '{database_name}' created successfully.")
    except Exception as e:
        print(f"Error creating database: {e}")


    # SQL commands for individual table creation
    create_matches_table = """
    CREATE TABLE IF NOT EXISTS matches (
        match_id INT AUTO_INCREMENT PRIMARY KEY,
        date DATE NOT NULL,
        home_team VARCHAR(100) NOT NULL,
        away_team VARCHAR(100) NOT NULL,
        home_score INT NOT NULL,
        away_score INT NOT NULL,
        tournament VARCHAR(100) NOT NULL,
        city VARCHAR(100) NOT NULL,
        country VARCHAR(100) NOT NULL,
        neutral BOOLEAN NOT NULL
    );
    """

    create_goalscorers_table = """
    CREATE TABLE IF NOT EXISTS goalscorers (
        goal_id INT AUTO_INCREMENT PRIMARY KEY,
        match_id INT NOT NULL,
        team VARCHAR(100) NOT NULL,
        scorer VARCHAR(100) NOT NULL,
        minute DOUBLE NOT NULL,
        penalty BOOLEAN NOT NULL,
        own_goal BOOLEAN NOT NULL,
        FOREIGN KEY (match_id) REFERENCES matches(match_id)
    );
    """

    create_shootouts_table = """
    CREATE TABLE IF NOT EXISTS shootouts (
        shootout_id INT AUTO_INCREMENT PRIMARY KEY,
        match_id INT NOT NULL,
        winner VARCHAR(100) NOT NULL,
        first_shooter VARCHAR(100) NOT NULL,
        FOREIGN KEY (match_id) REFERENCES matches(match_id)
    );
    """

    # Execute each CREATE TABLE command separately
    try:
        with engine.connect() as connection:
            connection.execute(text(create_matches_table))
            print("Table 'matches' created successfully.")
            
            connection.execute(text(create_goalscorers_table))
            print("Table 'goalscorers' created successfully.")
            
            connection.execute(text(create_shootouts_table))
            print("Table 'shootouts' created successfully.")
    except Exception as e:
        print(f"Error creating tables: {e}")
        
create_mysql_database_basic(engine, database_name_sql_basic)

Database 'football_db' created successfully.
Table 'matches' created successfully.
Table 'goalscorers' created successfully.
Table 'shootouts' created successfully.

### Data insertion

In [576]:
def insert_data_mysql_basic(df_results, df_goalscorers, df_shootouts, engine):
    # Batch size for inserts
    batch_size = 1000  # You can adjust this based on your dataset size


    insert_matches_query = """
    INSERT INTO matches (date, home_team, away_team, home_score, away_score, tournament, city, country, neutral)
    VALUES (:date, :home_team, :away_team, :home_score, :away_score, :tournament, :city, :country, :neutral)
    """

    # Connect to the database and execute the insert queries
    try:
        with engine.begin() as connection:
            batch_data = []  # Temporary list to hold rows for batch insert
            for index, row in df_results.iterrows():
                batch_data.append({
                    'date': row['date'],
                    'home_team': row['home_team'],
                    'away_team': row['away_team'],
                    'home_score': row['home_score'],
                    'away_score': row['away_score'],
                    'tournament': row['tournament'],
                    'city': row['city'],
                    'country': row['country'],
                    'neutral': row['neutral']
                })
                if len(batch_data) >= batch_size:  # If batch size is reached
                    connection.execute(text(insert_matches_query), batch_data)
                    batch_data = []  # Reset batch data
            if batch_data:  # Insert any remaining data
                connection.execute(text(insert_matches_query), batch_data)
            print("Data inserted into 'matches' successfully.")
    except Exception as e:
        print(f"Error inserting data into 'matches': {e}")
        
    # Fetch the match_id for each match to use as a foreign key in the other tables
    fetch_matches_query = text("""
    SELECT match_id, date, home_team, away_team FROM matches
    """)
    match_map = {}
    try:
        with engine.begin() as connection:
            result = connection.execute(fetch_matches_query).fetchall()
            for row in result:
                match_id, date, home_team, away_team = row
                match_map[(date, home_team, away_team)] = match_id
    except Exception as e:
        print(f"Error fetching match IDs: {e}")

    # Similarly, you can batch the other inserts for goalscorers and shootouts.
    insert_goalscorers_query = """
    INSERT INTO goalscorers (match_id, team, scorer, minute, penalty, own_goal)
    VALUES (:match_id, :team, :scorer, :minute, :penalty, :own_goal)
    """

    try:
        with engine.begin() as connection:
            batch_data = []
            for index, row in df_goalscorers.iterrows():
                date = row['date'].date()
                match_id = match_map.get((date, row['home_team'], row['away_team']))
                if match_id:
                    batch_data.append({
                        'match_id': match_id,
                        'team': row['team'],
                        'scorer': row['scorer'],
                        'minute': row['minute'],
                        'penalty': row['penalty'],
                        'own_goal': row['own_goal']
                    })

                if len(batch_data) >= batch_size:
                    connection.execute(text(insert_goalscorers_query), batch_data)
                    batch_data = []
            if batch_data:
                connection.execute(text(insert_goalscorers_query), batch_data)
            print("Data inserted into 'goalscorers' successfully.")
    except Exception as e:
        print(f"Error inserting data into 'goalscorers': {e}")

    # Repeat similar process for 'shootouts' table.
    insert_shootouts_query = """
    INSERT INTO shootouts (match_id, winner, first_shooter)
    VALUES (:match_id, :winner, :first_shooter)
    """

    try:
        with engine.begin() as connection:
            batch_data = []
            for index, row in df_shootouts.iterrows():
                date = row['date'].date()
                match_id = match_map.get((date, row['home_team'], row['away_team']))
                if match_id:
                    batch_data.append({
                        'match_id': match_id,
                        'winner': row['winner'],
                        'first_shooter': row['first_shooter']
                    })
                if len(batch_data) >= batch_size:
                    connection.execute(text(insert_shootouts_query), batch_data)
                    batch_data = []
            if batch_data:
                connection.execute(text(insert_shootouts_query), batch_data)
            print("Data inserted into 'shootouts' successfully.")
    except Exception as e:
        print(f"Error inserting data into 'shootouts': {e}")
        

df_results, df_goalscorers, df_shootouts = clean_data()
create_mysql_database_basic(engine, database_name_sql_basic)
insert_data_mysql_basic(df_results, df_goalscorers, df_shootouts, engine)

Database 'football_db' created successfully.
Table 'matches' created successfully.
Table 'goalscorers' created successfully.
Table 'shootouts' created successfully.
Data inserted into 'matches' successfully.
Data inserted into 'goalscorers' successfully.
Data inserted into 'shootouts' successfully.

## Queries on SQL

### Two simple queries on SQL

The two simple queries are:
1. Games where Portugal scored more than 3 goals after 2003
2. Games where Australia and Sweden played against each other

In [577]:
def simple_queries_mysql_basic(engine):    
    # Change for the football_db database
    with engine.connect() as connection:
        connection.execute(text("USE football_db"))

    # Query 1
    query1 = text("""
    SELECT *
    FROM matches
    WHERE (
            (home_team = 'Portugal' AND home_score > 3) OR
            (away_team = 'Portugal' AND away_score > 3)
        )
    AND date > '2003-12-31';
    """)

    with engine.connect() as connection:
        start_time = time.perf_counter()
        results1 = connection.execute(query1)
        sql_basic_sq1_time = time.perf_counter() - start_time
        print("Time to execute query 1:", sql_basic_sq1_time)
        print(results1.rowcount, " results for query 1")

    # Query 2
    query2 = text("""
    SELECT *
    FROM matches
    WHERE 
        (home_team = 'Australia' AND away_team = 'Sweden') OR
        (home_team = 'Sweden' AND away_team = 'Australia');
    """)

    with engine.connect() as connection:
        start_time = time.perf_counter()
        results2 = connection.execute(query2)
        sql_basic_sq2_time = time.perf_counter() - start_time
        print("Time to execute query 2:", sql_basic_sq2_time)
        print(results2.rowcount, " results for query 2")
        print("Results for Query 1:")
        for result in results1:
            print(result)
        print("Results for Query 2:")
        for result in results2:
            print(result)

    return sql_basic_sq1_time, sql_basic_sq2_time

sql_basic_sq1_time, sql_basic_sq2_time = simple_queries_mysql_basic(engine)

Time to execute query 1: 0.03757179097738117
46  results for query 1
Time to execute query 2: 0.02166716696228832
5  results for query 2
Results for Query 1:
(28202, datetime.date(2004, 6, 5), 'Portugal', 'Lithuania', 4, 1, 'Friendly', 'Setúbal', 'Portugal', 0)
(28558, datetime.date(2004, 9, 8), 'Portugal', 'Estonia', 4, 0, 'FIFA World Cup qualification', 'Leiria', 'Portugal', 0)
(28674, datetime.date(2004, 10, 13), 'Portugal', 'Russia', 7, 1, 'FIFA World Cup qualification', 'Lisbon', 'Portugal', 0)
(28742, datetime.date(2004, 11, 17), 'Luxembourg', 'Portugal', 0, 5, 'FIFA World Cup qualification', 'Luxembourg', 'Luxembourg', 0)
(29037, datetime.date(2005, 3, 26), 'Portugal', 'Canada', 4, 1, 'Friendly', 'Barcelos', 'Portugal', 0)
(29400, datetime.date(2005, 9, 3), 'Portugal', 'Luxembourg', 6, 0, 'FIFA World Cup qualification', 'Faro', 'Portugal', 0)
(29917, datetime.date(2006, 5, 27), 'Portugal', 'Cape Verde', 4, 1, 'Friendly', 'Évora', 'Portugal', 0)
(30687, datetime.date(2007, 3, 24), 'Portugal', 'Belgium', 4, 0, 'UEFA Euro qualification', 'Lisbon', 'Portugal', 0)
(32189, datetime.date(2008, 8, 20), 'Portugal', 'Faroe Islands', 5, 0, 'Friendly', 'Aveiro', 'Portugal', 0)
(32252, datetime.date(2008, 9, 6), 'Malta', 'Portugal', 0, 4, 'FIFA World Cup qualification', 'Attard', 'Malta', 0)
(33364, datetime.date(2009, 10, 14), 'Portugal', 'Malta', 4, 0, 'FIFA World Cup qualification', 'Guimarães', 'Portugal', 0)
(33848, datetime.date(2010, 6, 21), 'Portugal', 'North Korea', 7, 0, 'FIFA World Cup', 'Cape Town', 'South Africa', 1)
(33973, datetime.date(2010, 9, 3), 'Portugal', 'Cyprus', 4, 4, 'UEFA Euro qualification', 'Guimarães', 'Portugal', 0)
(34296, datetime.date(2010, 11, 17), 'Portugal', 'Spain', 4, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(34977, datetime.date(2011, 8, 10), 'Portugal', 'Luxembourg', 5, 0, 'Friendly', 'Faro', 'Portugal', 0)
(35043, datetime.date(2011, 9, 2), 'Cyprus', 'Portugal', 0, 4, 'UEFA Euro qualification', 'Nicosia', 'Cyprus', 0)
(35225, datetime.date(2011, 10, 7), 'Portugal', 'Iceland', 5, 3, 'UEFA Euro qualification', 'Porto', 'Portugal', 0)
(35430, datetime.date(2011, 11, 15), 'Portugal', 'Bosnia and Herzegovina', 6, 2, 'UEFA Euro qualification', 'Lisbon', 'Portugal', 0)
(37162, datetime.date(2013, 9, 6), 'Northern Ireland', 'Portugal', 2, 4, 'FIFA World Cup qualification', 'Belfast', 'Northern Ireland', 0)
(37552, datetime.date(2014, 3, 5), 'Portugal', 'Cameroon', 5, 1, 'Friendly', 'Leiria', 'Portugal', 0)
(37778, datetime.date(2014, 6, 10), 'Republic of Ireland', 'Portugal', 1, 5, 'Friendly', 'East Rutherford', 'United States', 1)
(39767, datetime.date(2016, 6, 8), 'Portugal', 'Estonia', 7, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(39918, datetime.date(2016, 9, 1), 'Portugal', 'Gibraltar', 5, 0, 'Friendly', 'Porto', 'Portugal', 0)
(40052, datetime.date(2016, 10, 7), 'Portugal', 'Andorra', 6, 0, 'FIFA World Cup qualification', 'Aveiro', 'Portugal', 0)
(40097, datetime.date(2016, 10, 10), 'Faroe Islands', 'Portugal', 0, 6, 'FIFA World Cup qualification', 'Tórshavn', 'Faroe Islands', 0)
(40220, datetime.date(2016, 11, 13), 'Portugal', 'Latvia', 4, 1, 'FIFA World Cup qualification', 'Faro', 'Portugal', 0)
(40519, datetime.date(2017, 6, 3), 'Portugal', 'Cyprus', 4, 0, 'Friendly', 'Estoril', 'Portugal', 0)
(40681, datetime.date(2017, 6, 24), 'New Zealand', 'Portugal', 0, 4, 'Confederations Cup', 'Saint Petersburg', 'Russia', 1)
(40819, datetime.date(2017, 8, 31), 'Portugal', 'Faroe Islands', 5, 1, 'FIFA World Cup qualification', 'Porto', 'Portugal', 0)
(42808, datetime.date(2019, 9, 7), 'Serbia', 'Portugal', 2, 4, 'UEFA Euro qualification', 'Belgrade', 'Serbia', 0)
(42870, datetime.date(2019, 9, 10), 'Lithuania', 'Portugal', 1, 5, 'UEFA Euro qualification', 'Vilnius', 'Lithuania', 0)
(43104, datetime.date(2019, 11, 14), 'Portugal', 'Lithuania', 6, 0, 'UEFA Euro qualification', 'Faro-Loulé', 'Portugal', 0)
(43316, datetime.date(2020, 9, 5), 'Portugal', 'Croatia', 4, 1, 'UEFA Nations League', 'Porto', 'Portugal', 0)
(43490, datetime.date(2020, 11, 11), 'Portugal', 'Andorra', 7, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(43990, datetime.date(2021, 6, 9), 'Portugal', 'Israel', 4, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(44501, datetime.date(2021, 10, 12), 'Portugal', 'Luxembourg', 5, 0, 'FIFA World Cup qualification', 'Faro-Loulé', 'Portugal', 0)
(45151, datetime.date(2022, 6, 5), 'Portugal', 'Switzerland', 4, 0, 'UEFA Nations League', 'Lisbon', 'Portugal', 0)
(45455, datetime.date(2022, 9, 24), 'Czech Republic', 'Portugal', 0, 4, 'UEFA Nations League', 'Prague', 'Czech Republic', 0)
(45586, datetime.date(2022, 11, 17), 'Portugal', 'Nigeria', 4, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(45685, datetime.date(2022, 12, 6), 'Portugal', 'Switzerland', 6, 1, 'FIFA World Cup', 'Lusail', 'Qatar', 1)
(45789, datetime.date(2023, 3, 23), 'Portugal', 'Liechtenstein', 4, 0, 'UEFA Euro qualification', 'Lisbon', 'Portugal', 0)
(45867, datetime.date(2023, 3, 26), 'Luxembourg', 'Portugal', 0, 6, 'UEFA Euro qualification', 'Luxembourg', 'Luxembourg', 0)
(46343, datetime.date(2023, 9, 11), 'Portugal', 'Luxembourg', 9, 0, 'UEFA Euro qualification', 'São João da Venda', 'Portugal', 0)
(46507, datetime.date(2023, 10, 16), 'Bosnia and Herzegovina', 'Portugal', 0, 5, 'UEFA Euro qualification', 'Zenica', 'Bosnia and Herzegovina', 0)
(46967, datetime.date(2024, 3, 21), 'Portugal', 'Sweden', 5, 2, 'Friendly', 'Guimarães', 'Portugal', 0)
(47103, datetime.date(2024, 6, 4), 'Portugal', 'Finland', 4, 2, 'Friendly', 'Lisbon', 'Portugal', 0)
Results for Query 2:
(18079, datetime.date(1992, 1, 26), 'Australia', 'Sweden', 0, 0, 'Friendly', 'Sydney', 'Australia', 0)
(18082, datetime.date(1992, 1, 29), 'Australia', 'Sweden', 1, 0, 'Friendly', 'Adelaide', 'Australia', 0)
(18084, datetime.date(1992, 2, 2), 'Australia', 'Sweden', 1, 0, 'Friendly', 'Melbourne', 'Australia', 0)
(20831, datetime.date(1996, 2, 25), 'Australia', 'Sweden', 0, 2, 'Friendly', 'Brisbane', 'Australia', 0)
(20834, datetime.date(1996, 2, 28), 'Australia', 'Sweden', 0, 0, 'Friendly', 'Sydney', 'Australia', 0)

### Two complex queries
The two complex queries are:

1. Change the neutral field to True for the matches that have more than 5 goals scored and that both teams have played with each other at least 100 times
2. Get the 100 matches with the most difference between the home_score and away_score and add 100 matches with the scores flipped, without shootouts and goalscores.

In [578]:
def complex_query1_mysql_basic(engine):
    # Change for the football_db database
    with engine.connect() as connection:
        connection.execute(text("USE football_db"))

    # SQL query to get team pairs with match counts
    team_pairs_query = """
    WITH normalized_matches AS (
        SELECT 
            CASE 
                WHEN home_team < away_team THEN home_team
                ELSE away_team
            END AS team1,
            CASE 
                WHEN home_team < away_team THEN away_team
                ELSE home_team
            END AS team2
        FROM matches
    )
    SELECT 
        team1 AS home_team, 
        team2 AS away_team, 
        COUNT(*) AS match_count
    FROM normalized_matches
    GROUP BY team1, team2
    HAVING COUNT(*) > 100;
    """
    start_time = time.perf_counter()
    try:
        with engine.connect() as connection:
            result = connection.execute(text(team_pairs_query))
            # Convert rows into a list of dictionaries
            team_pairs = [{"home_team": row[0], "away_team": row[1], "count": row[2]} for row in result]
            
    except Exception as e:
        print(f"Error fetching team pairs: {e}")

    modified_count = 0
    # SQL query to update matches
    for team_pair in team_pairs:
        home_team = team_pair["home_team"]
        away_team = team_pair["away_team"]
        update_matches_query = text(f"""
        UPDATE matches
        SET neutral = TRUE
        WHERE (
                (home_team = '{home_team}' AND away_team = '{away_team}')
                OR 
                (home_team = '{away_team}' AND away_team = '{home_team}')
            )
        AND (home_score + away_score) > 5;
        """)
        try:
            with engine.begin() as connection:
                result = connection.execute(update_matches_query)
                modified_count += result.rowcount
        except Exception as e:
            print(f"Error updating matches: {e}")

    sql_basic_cq1_time = time.perf_counter() - start_time
    print("Time to execute the complex query 1:", sql_basic_cq1_time)
    # Print the results in the desired format
    print("Teams that have played with each other at least 100 times:")
    for team_pair in team_pairs:
        print(
            f"Home team:  {team_pair['home_team']} , "
            f"Away team:  {team_pair['away_team']} , "
            f"Count:  {team_pair['count']}"
        )
    print(modified_count, " matches updated")

    return sql_basic_cq1_time

sql_basic_cq1_time = complex_query1_mysql_basic(engine)

Time to execute the complex query 1: 0.45122554094996303
Teams that have played with each other at least 100 times:
Home team:  England , Away team:  Scotland , Count:  118
Home team:  Scotland , Away team:  Wales , Count:  106
Home team:  England , Away team:  Wales , Count:  105
Home team:  Argentina , Away team:  Uruguay , Count:  182
Home team:  Austria , Away team:  Hungary , Count:  137
Home team:  Guernsey , Away team:  Jersey , Count:  119
Home team:  Belgium , Away team:  Netherlands , Count:  128
Home team:  Norway , Away team:  Sweden , Count:  109
Home team:  Denmark , Away team:  Sweden , Count:  108
Home team:  Argentina , Away team:  Brazil , Count:  109
Home team:  Argentina , Away team:  Paraguay , Count:  106
Home team:  Kenya , Away team:  Uganda , Count:  110
229  matches updated

In [579]:
def complex_query2_mysql_basic(engine):    
    # Change for the football_db database
    with engine.connect() as connection:
        connection.execute(text("USE football_db"))

    # Query to fetch matches with the most difference
    most_difference_query = """
    SELECT 
        match_id,
        ABS(home_score - away_score) AS difference,
        date,
        home_team,
        away_team,
        home_score,
        away_score,
        tournament,
        city,
        country,
        neutral
    FROM matches
    ORDER BY difference DESC
    LIMIT 100;
    """
    start_time = time.perf_counter()
    try:
        with engine.connect() as connection:
            result = connection.execute(text(most_difference_query))
            matches_with_most_difference = [
                {
                    "match_id": row[0],
                    "difference": row[1],
                    "date": row[2],
                    "home_team": row[3],
                    "away_team": row[4],
                    "home_score": row[5],
                    "away_score": row[6],
                    "tournament": row[7],
                    "city": row[8],
                    "country": row[9],
                    "neutral": row[10],
                }
                for row in result
            ]
    except Exception as e:
        print(f"Error processing matches: {e}")
        
    counter_inserted = 0
    for match in matches_with_most_difference:
        try:
            with engine.begin() as connection:
                flipped_match_query = text(f"""
                INSERT INTO matches (date, home_team, away_team, home_score, away_score, tournament, city, country, neutral)
                VALUES (:date, :home_team, :away_team, :home_score, :away_score, :tournament, :city, :country, :neutral);
                """)
                result = connection.execute(flipped_match_query, {
                    "date": match["date"],
                    "home_team": match["home_team"],
                    "away_team": match["away_team"],
                    "home_score": match["away_score"],
                    "away_score": match["home_score"],
                    "tournament": match["tournament"],
                    "city": match["city"],
                    "country": match["country"],
                    "neutral": match["neutral"],
                })
                counter_inserted += result.rowcount
        except Exception as e:
            print(f"Error inserting flipped match: {e}")

    sql_basic_cq2_time = time.perf_counter() - start_time
    print("Time to execute the complex query 2:", sql_basic_cq2_time)
    print("Matches with the most difference between the home_score and away_score:")
    for idx, match in enumerate(matches_with_most_difference, start=1):
        print(
            f"Match number: {idx}, Difference: {match['difference']}, Date: {match['date']}, "
            f"Home team: {match['home_team']}, Away team: {match['away_team']}, "
            f"Home score: {match['home_score']}, Away score: {match['away_score']}"
        )
    print(f"Inserted {counter_inserted} flipped matches.")

    return sql_basic_cq2_time

sql_basic_cq2_time = complex_query2_mysql_basic(engine)

Time to execute the complex query 2: 0.12773154210299253
Matches with the most difference between the home_score and away_score:
Match number: 1, Difference: 31, Date: 2001-04-11, Home team: Australia, Away team: American Samoa, Home score: 31, Away score: 0
Match number: 2, Difference: 30, Date: 1971-09-13, Home team: Tahiti, Away team: Cook Islands, Home score: 30, Away score: 0
Match number: 3, Difference: 24, Date: 1979-08-30, Home team: Fiji, Away team: Kiribati, Home score: 24, Away score: 0
Match number: 4, Difference: 22, Date: 2001-04-09, Home team: Australia, Away team: Tonga, Home score: 22, Away score: 0
Match number: 5, Difference: 21, Date: 2005-03-11, Home team: Guam, Away team: North Korea, Home score: 0, Away score: 21
Match number: 6, Difference: 21, Date: 1966-04-03, Home team: Libya, Away team: Oman, Home score: 21, Away score: 0
Match number: 7, Difference: 20, Date: 2000-02-14, Home team: Kuwait, Away team: Bhutan, Home score: 20, Away score: 0
Match number: 8, Difference: 20, Date: 2003-06-30, Home team: Sark, Away team: Isle of Wight, Home score: 0, Away score: 20
Match number: 9, Difference: 20, Date: 1987-12-15, Home team: American Samoa, Away team: Papua New Guinea, Home score: 0, Away score: 20
Match number: 10, Difference: 20, Date: 2014-06-01, Home team: Darfur, Away team: Padania, Home score: 0, Away score: 20
Match number: 11, Difference: 20, Date: 2006-11-24, Home team: Sápmi, Away team: Monaco, Home score: 21, Away score: 1
Match number: 12, Difference: 19, Date: 1983-08-22, Home team: Niue, Away team: Papua New Guinea, Home score: 0, Away score: 19
Match number: 13, Difference: 19, Date: 2000-11-24, Home team: Iran, Away team: Guam, Home score: 19, Away score: 0
Match number: 14, Difference: 19, Date: 2014-06-02, Home team: Darfur, Away team: South Ossetia, Home score: 0, Away score: 19
Match number: 15, Difference: 19, Date: 2003-06-29, Home team: Gibraltar, Away team: Sark, Home score: 19, Away score: 0
Match number: 16, Difference: 19, Date: 2000-01-26, Home team: China PR, Away team: Guam, Home score: 19, Away score: 0
Match number: 17, Difference: 19, Date: 1997-05-13, Home team: Kazakhstan, Away team: Guam, Home score: 20, Away score: 1
Match number: 18, Difference: 18, Date: 2012-06-05, Home team: Darfur, Away team: Provence, Home score: 0, Away score: 18
Match number: 19, Difference: 18, Date: 1994-03-19, Home team: Jersey, Away team: Alderney, Home score: 18, Away score: 0
Match number: 20, Difference: 18, Date: 1979-08-30, Home team: Tahiti, Away team: Tuvalu, Home score: 18, Away score: 0
Match number: 21, Difference: 18, Date: 2003-07-07, Home team: Kiribati, Away team: Vanuatu, Home score: 0, Away score: 18
Match number: 22, Difference: 18, Date: 2003-07-01, Home team: Micronesia, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 23, Difference: 18, Date: 1963-09-06, Home team: Solomon Islands, Away team: Tahiti, Home score: 0, Away score: 18
Match number: 24, Difference: 18, Date: 1991-09-15, Home team: Guam, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 25, Difference: 17, Date: 2010-10-14, Home team: Dominican Republic, Away team: British Virgin Islands, Home score: 17, Away score: 0
Match number: 26, Difference: 17, Date: 2003-06-30, Home team: Tahiti, Away team: Micronesia, Home score: 17, Away score: 0
Match number: 27, Difference: 17, Date: 2000-06-19, Home team: Australia, Away team: Cook Islands, Home score: 17, Away score: 0
Match number: 28, Difference: 17, Date: 1997-06-02, Home team: Maldives, Away team: Iran, Home score: 0, Away score: 17
Match number: 29, Difference: 16, Date: 2000-11-26, Home team: Tajikistan, Away team: Guam, Home score: 16, Away score: 0
Match number: 30, Difference: 16, Date: 2007-08-25, Home team: Fiji, Away team: Tuvalu, Home score: 16, Away score: 0
Match number: 31, Difference: 16, Date: 1998-09-28, Home team: Australia, Away team: Cook Islands, Home score: 16, Away score: 0
Match number: 32, Difference: 16, Date: 2012-09-05, Home team: Martinique, Away team: British Virgin Islands, Home score: 16, Away score: 0
Match number: 33, Difference: 16, Date: 2011-09-05, Home team: Kiribati, Away team: Tahiti, Home score: 1, Away score: 17
Match number: 34, Difference: 16, Date: 2003-07-01, Home team: Greenland, Away team: Sark, Home score: 16, Away score: 0
Match number: 35, Difference: 16, Date: 2012-01-14, Home team: Gozo, Away team: Raetia, Home score: 17, Away score: 1
Match number: 36, Difference: 16, Date: 2011-09-03, Home team: Kiribati, Away team: Papua New Guinea, Home score: 1, Away score: 17
Match number: 37, Difference: 16, Date: 1995-08-21, Home team: Cook Islands, Away team: Solomon Islands, Home score: 0, Away score: 16
Match number: 38, Difference: 16, Date: 2003-09-29, Home team: South Korea, Away team: Nepal, Home score: 16, Away score: 0
Match number: 39, Difference: 15, Date: 1998-12-05, Home team: Mongolia, Away team: Uzbekistan, Home score: 0, Away score: 15
Match number: 40, Difference: 15, Date: 2015-09-03, Home team: Qatar, Away team: Bhutan, Home score: 15, Away score: 0
Match number: 41, Difference: 15, Date: 2003-07-03, Home team: Frøya, Away team: Sark, Home score: 15, Away score: 0
Match number: 42, Difference: 15, Date: 1971-09-11, Home team: Cook Islands, Away team: Papua New Guinea, Home score: 1, Away score: 16
Match number: 43, Difference: 15, Date: 2005-03-07, Home team: Guam, Away team: Hong Kong, Home score: 0, Away score: 15
Match number: 44, Difference: 15, Date: 2007-08-29, Home team: American Samoa, Away team: Vanuatu, Home score: 0, Away score: 15
Match number: 45, Difference: 15, Date: 2012-06-04, Home team: Northern Cyprus, Away team: Darfur, Home score: 15, Away score: 0
Match number: 46, Difference: 15, Date: 1991-09-09, Home team: Guam, Away team: Tahiti, Home score: 0, Away score: 15
Match number: 47, Difference: 15, Date: 1963-11-15, Home team: Egypt, Away team: Laos, Home score: 15, Away score: 0
Match number: 48, Difference: 15, Date: 2019-11-10, Home team: Trinidad and Tobago, Away team: Anguilla, Home score: 15, Away score: 0
Match number: 49, Difference: 15, Date: 2012-09-28, Home team: Saint Pierre and Miquelon, Away team: New Caledonia, Home score: 1, Away score: 16
Match number: 50, Difference: 14, Date: 1966-11-30, Home team: North Korea, Away team: Yemen, Home score: 14, Away score: 0
Match number: 51, Difference: 14, Date: 2019-07-15, Home team: Tonga, Away team: Vanuatu, Home score: 0, Away score: 14
Match number: 52, Difference: 14, Date: 2017-03-28, Home team: Oman, Away team: Bhutan, Home score: 14, Away score: 0
Match number: 53, Difference: 14, Date: 1983-08-20, Home team: Niue, Away team: Tahiti, Home score: 0, Away score: 14
Match number: 54, Difference: 14, Date: 1946-12-15, Home team: Curaçao, Away team: Puerto Rico, Home score: 14, Away score: 0
Match number: 55, Difference: 14, Date: 1973-08-17, Home team: Algeria, Away team: Yemen, Home score: 15, Away score: 1
Match number: 56, Difference: 14, Date: 1998-04-19, Home team: Guyana, Away team: Anguilla, Home score: 14, Away score: 0
Match number: 57, Difference: 14, Date: 1963-11-11, Home team: North Korea, Away team: Somalia, Home score: 14, Away score: 0
Match number: 58, Difference: 14, Date: 2007-06-21, Home team: Hong Kong, Away team: Guam, Home score: 15, Away score: 1
Match number: 59, Difference: 14, Date: 2006-11-23, Home team: Sápmi, Away team: Monaco, Home score: 14, Away score: 0
Match number: 60, Difference: 14, Date: 1971-09-15, Home team: Cook Islands, Away team: Fiji, Home score: 1, Away score: 15
Match number: 61, Difference: 14, Date: 2019-10-10, Home team: Iran, Away team: Cambodia, Home score: 14, Away score: 0
Match number: 62, Difference: 14, Date: 2023-11-18, Home team: France, Away team: Gibraltar, Home score: 14, Away score: 0
Match number: 63, Difference: 14, Date: 1962-08-26, Home team: Malaysia, Away team: Philippines, Home score: 15, Away score: 1
Match number: 64, Difference: 14, Date: 2021-03-30, Home team: Japan, Away team: Mongolia, Home score: 14, Away score: 0
Match number: 65, Difference: 14, Date: 2005-05-03, Home team: Occitania, Away team: Chechnya, Home score: 14, Away score: 0
Match number: 66, Difference: 13, Date: 1995-08-17, Home team: Tahiti, Away team: Wallis Islands and Futuna, Home score: 13, Away score: 0
Match number: 67, Difference: 13, Date: 1966-04-06, Home team: Libya, Away team: Yemen, Home score: 13, Away score: 0
Match number: 68, Difference: 13, Date: 1917-05-07, Home team: Japan, Away team: Philippines, Home score: 2, Away score: 15
Match number: 69, Difference: 13, Date: 1981-08-16, Home team: New Zealand, Away team: Fiji, Home score: 13, Away score: 0
Match number: 70, Difference: 13, Date: 1998-04-15, Home team: Grenada, Away team: Anguilla, Home score: 14, Away score: 1
Match number: 71, Difference: 13, Date: 1882-02-18, Home team: Northern Ireland, Away team: England, Home score: 0, Away score: 13
Match number: 72, Difference: 13, Date: 1917-05-10, Home team: Japan, Away team: Philippines, Home score: 2, Away score: 15
Match number: 73, Difference: 13, Date: 1992-08-18, Home team: Ethiopia, Away team: Iraq, Home score: 0, Away score: 13
Match number: 74, Difference: 13, Date: 1991-09-12, Home team: Fiji, Away team: Guam, Home score: 14, Away score: 1
Match number: 75, Difference: 13, Date: 2001-04-07, Home team: Fiji, Away team: American Samoa, Home score: 13, Away score: 0
Match number: 76, Difference: 13, Date: 2019-07-08, Home team: Tuvalu, Away team: Solomon Islands, Home score: 0, Away score: 13
Match number: 77, Difference: 13, Date: 2012-09-22, Home team: Guadeloupe, Away team: Saint Pierre and Miquelon, Home score: 13, Away score: 0
Match number: 78, Difference: 13, Date: 2018-09-10, Home team: Haiti, Away team: Sint Maarten, Home score: 13, Away score: 0
Match number: 79, Difference: 13, Date: 1933-05-21, Home team: Spain, Away team: Bulgaria, Home score: 13, Away score: 0
Match number: 80, Difference: 13, Date: 1979-08-31, Home team: Kiribati, Away team: Papua New Guinea, Home score: 0, Away score: 13
Match number: 81, Difference: 13, Date: 2006-09-06, Home team: San Marino, Away team: Germany, Home score: 0, Away score: 13
Match number: 82, Difference: 13, Date: 1940-09-01, Home team: Germany, Away team: Finland, Home score: 13, Away score: 0
Match number: 83, Difference: 13, Date: 2021-06-05, Home team: Panama, Away team: Anguilla, Home score: 13, Away score: 0
Match number: 84, Difference: 13, Date: 2019-07-15, Home team: Solomon Islands, Away team: American Samoa, Home score: 13, Away score: 0
Match number: 85, Difference: 13, Date: 1997-06-11, Home team: Australia, Away team: Solomon Islands, Home score: 13, Away score: 0
Match number: 86, Difference: 13, Date: 2001-04-14, Home team: Saint Lucia, Away team: United States Virgin Islands, Home score: 14, Away score: 1
Match number: 87, Difference: 13, Date: 1950-04-14, Home team: Mauritius, Away team: Réunion, Home score: 15, Away score: 2
Match number: 88, Difference: 13, Date: 1981-07-08, Home team: Tahiti, Away team: Western Samoa, Home score: 13, Away score: 0
Match number: 89, Difference: 13, Date: 1998-08-01, Home team: Palau, Away team: Guam, Home score: 2, Away score: 15
Match number: 90, Difference: 13, Date: 2004-02-29, Home team: Bermuda, Away team: Montserrat, Home score: 13, Away score: 0
Match number: 91, Difference: 13, Date: 1999-06-28, Home team: Hitra, Away team: Isle of Man, Home score: 0, Away score: 13
Match number: 92, Difference: 12, Date: 1998-09-07, Home team: Tahiti, Away team: American Samoa, Home score: 12, Away score: 0
Match number: 93, Difference: 12, Date: 1969-05-21, Home team: Germany, Away team: Cyprus, Home score: 12, Away score: 0
Match number: 94, Difference: 12, Date: 2003-12-03, Home team: Maldives, Away team: Mongolia, Home score: 12, Away score: 0
Match number: 95, Difference: 12, Date: 2004-11-24, Home team: Jamaica, Away team: Saint Martin, Home score: 12, Away score: 0
Match number: 96, Difference: 12, Date: 1950-09-24, Home team: Hungary, Away team: Albania, Home score: 12, Away score: 0
Match number: 97, Difference: 12, Date: 2006-02-18, Home team: Monaco, Away team: Chechnya, Home score: 13, Away score: 1
Match number: 98, Difference: 12, Date: 1993-12-13, Home team: Fiji, Away team: Guam, Home score: 12, Away score: 0
Match number: 99, Difference: 12, Date: 1927-06-12, Home team: Hungary, Away team: France, Home score: 13, Away score: 1
Match number: 100, Difference: 12, Date: 1967-08-23, Home team: Denmark, Away team: Iceland, Home score: 14, Away score: 2
Inserted 100 flipped matches.

# PHASE 2

## DATABASES OPTIMIZATION

### MONGODB with more performance

#### Connections to MongoDB

In [679]:
# MongoDB do Miguel Dinis
# client = MongoClient("mongodb+srv://fc58198:ClusterPass@cluster0.wbcd4.mongodb.net/") 
# MongoDB do Rafa
client = MongoClient("mongodb://localhost:27017")
# MongoDB do Afonso
# client = MongoClient("mongodb://localhost:27017")
# MongoDB do Miguel Borges
# client = MongoClient("mongodb+srv://mfsb3110:Cfsb1705@cluster10.azlt2.mongodb.net/")

#### MongoDB collections structure and Database/collections creation

For the optimized database we thought of creating 3 collections, one for the matches, one for the goalscorers and one for the shootouts, because our querys are focused on the matches, so if we take the goalscorers and shootouts out of the matches collection we can optimize the queries, because instead of having to read the all 11 columns of the matches collection we only have to read the 9 columns of the matches collection, and if we want to get the goalscorers or the shootouts we can do a join with the match_id that is in the goalscorers and shootouts collections.

In [680]:

def create_mongo_optimized_database(client):
    
    schema_validator_matches = {
        "$jsonSchema": {
            "bsonType": "object",
            "title": "Schema for the results of the matches",
            "required": [
                "date",
                "home_team",
                "away_team",
                "home_score",
                "away_score",
                "tournament",
                "city",
                "country",
                "neutral"
            ],
            "properties": {
                "date": {
                    "bsonType": "date",
                    "description": "Must be a date representing the date of the match",
                },
                "home_team": {
                    "bsonType": "string",
                    "description": "Must be a string representing the home team",
                },
                "away_team": {
                    "bsonType": "string",
                    "description": "Must be a string representing the away team",
                },
                "home_score": {
                    "bsonType": "int",
                    "description": "Must be an integer representing the home team score",
                },
                "away_score": {
                    "bsonType": "int",
                    "description": "Must be an integer representing the away team score",
                },
                "tournament": {
                    "bsonType": "string",
                    "description": "Must be a string representing the tournament name",
                },
                "city": {
                    "bsonType": "string",
                    "description": "Must be a string representing the city",
                },
                "country": {
                    "bsonType": "string",
                    "description": "Must be a string representing the country",
                },
                "neutral": {
                    "bsonType": "bool",
                    "description": "Must be a boolean indicating if the match was played at a neutral venue",
                }
            },
        }
    }
    
    schema_validator_goalscorers = {
        "$jsonSchema": {
            "bsonType": "object",
            "title": "Schema for the goalscorers",
            "required": [
                "team",
                "scorer",
                "minute",
                "own_goal",
                "penalty",
                "match_id"
            ],
            "properties": {
                "team": {
                    "bsonType": "string",
                    "description": "Must be a string representing the team of the scorer",
                },
                "scorer": {
                    "bsonType": "string",
                    "description": "Must be a string representing the name of the scorer",
                },
                "minute": {
                    "bsonType": "double",
                    "description": "Must be a float representing the minute of the goal",
                },
                "own_goal": {
                    "bsonType": "bool",
                    "description": "Must be a boolean indicating if the goal was an own goal",
                },
                "penalty": {
                    "bsonType": "bool",
                    "description": "Must be a boolean indicating if the goal was a penalty",
                },
                "match_id": {
                    "bsonType": "objectId",
                    "description": "Must be an objectID representing the match",
                },
            },
        }
    }
    
    schema_validator_shootouts = {
        "$jsonSchema": {
            "bsonType": "object",
            "title": "Schema for the shootouts",
            "required": [
                "winner",
                "first_shooter",
                "match_id"
            ],
            "properties": {
                "winner": {
                    "bsonType": "string",
                    "description": "Must be a string representing the shootout winner",
                },
                "first_shooter": {
                    "bsonType": "string",
                    "description": "Must be a string representing the first shooter",
                },
                "match_id": {
                    "bsonType": "objectId",
                    "description": "Must be an objectID representing the match",
                },
            },
        }
    }

    client.drop_database('football_optimized') # Drop the database if it already exists

    db_mongo_optimized = client['football_optimized'] # Create the database

    # Create the collections withe their schema validators

    try:
        collection_matches = db_mongo_optimized.create_collection('football_matches', validator={'$jsonSchema': schema_validator_matches['$jsonSchema']})
        collection_goalscorers = db_mongo_optimized.create_collection('football_goalscorers', validator={'$jsonSchema': schema_validator_goalscorers['$jsonSchema']})
        collection_shootouts = db_mongo_optimized.create_collection('football_shootouts', validator={'$jsonSchema': schema_validator_shootouts['$jsonSchema']})
    except Exception as e:
        print(e)
        
    return db_mongo_optimized, collection_matches, collection_goalscorers, collection_shootouts

db_mongo_optimized, collection_matches, collection_goalscorers, collection_shootouts = create_mongo_optimized_database(client)

#### Data insertion

In [681]:
def insert_data_mongo_optimized(df_results, df_goalscorers, df_shootouts, collection_matches, collection_goalscorers, collection_shootouts):
    
    # Create the dataframe to insert into the database

    df_matches = df_results.copy(deep=True)
    
    # Insert the data into the collection `matches`
    match_ids = collection_matches.insert_many(df_matches.to_dict(orient="records")).inserted_ids
    
    # Create a map where the key is a tuple with the date, home_team and away_team and the value is the match_id
    match_map = {}
    for index, row in df_matches.iterrows():
        match_map[(row['date'], row['home_team'], row['away_team'])] = match_ids[index]
        
    # Insert the data into the collection `goalscorers`
    df_goalscorers['match_id'] = df_goalscorers.apply(lambda x: match_map[(x['date'], x['home_team'], x['away_team'])], axis=1)
    
    # Drop the columns date, home_team and away_team
    df_goalscorers = df_goalscorers.drop(columns=['date', 'home_team', 'away_team'])
    
    collection_goalscorers.insert_many(df_goalscorers.to_dict(orient="records"))
    
    # Insert the data into the collection `shootouts`
    df_shootouts['match_id'] = df_shootouts.apply(lambda x: match_map.get((x['date'], x['home_team'], x['away_team']), None), axis=1)
    
    # Remove rows with match_id equal to None
    df_shootouts = df_shootouts.dropna(subset=['match_id'])
    
    # Drop the columns date, home_team and away_team
    df_shootouts = df_shootouts.drop(columns=['date', 'home_team', 'away_team'])
    
    collection_shootouts.insert_many(df_shootouts.to_dict(orient="records"))
    
    print("Data inserted into the MongoDB collections successfully.")
    
df_results, df_goalscorers, df_shootouts = clean_data()
_, collection_matches, collection_goalscorers, collection_shootouts = create_mongo_optimized_database(client)
insert_data_mongo_optimized(df_results, df_goalscorers, df_shootouts, collection_matches, collection_goalscorers, collection_shootouts)

Data inserted into the MongoDB collections successfully.

### Queries on MongoDB with more performance and optimized queries but without Indexes

#### Two simple queries on MongoDB

We can't optimize this queries, this are very simple to do it

In [682]:
def simple_queries_mongo_optimized(collection_matches):    
    # Query 1

    # We need to convert the date to a datetime object to compare it with the date_limit
    date_limit = datetime(2003, 12, 31)

    query1 = {
            "description": "Games where Portugal scored more than 3 goals after 2003",
            "query": {
                "$and": [
                    {"$or": [{"home_team": "Portugal", "home_score": {"$gt": 3}},
                            {"away_team": "Portugal", "away_score": {"$gt": 3}}]},
                    {"date": {"$gt": date_limit}}
                ]
            }
        }


    # Query 2
    query2 = {
            "description": "Games where Australia and Sweden played against each other",
            "query": {
                "$or": [
                    {"home_team": "Australia", "away_team": "Sweden"},
                    {"home_team": "Sweden", "away_team": "Australia"}
                ]
            }
        }

    # Execute the queries
    start_time = time.perf_counter()
    results = collection_matches.find(query1['query'])
    mongo_optimized_sq1_time = time.perf_counter() - start_time
    print("Time to execute query 1:", mongo_optimized_sq1_time)
    print(len(list(results)), " results for query 1")
        
    start_time = time.perf_counter()
    results = collection_matches.find(query2['query'])
    mongo_optimized_sq2_time = time.perf_counter() - start_time
    print("Time to execute query 2:", mongo_optimized_sq2_time)
    print(len(list(results)), " results for query 2")
    
    return mongo_optimized_sq1_time, mongo_optimized_sq2_time

mongo_optimized_sq1_time, mongo_optimized_sq2_time = simple_queries_mongo_optimized(collection_matches)

Time to execute query 1: 3.0166003853082657e-05
46  results for query 1
Time to execute query 2: 2.7832924388349056e-05
5  results for query 2

#### Two complex queries

In this case, we only could optimize the query 1, by using only one query to update the matches instead of iterating over the team pairs and updating the matches one by one

In [683]:
def complex_query1_mongo_optimized(collection_matches):
    
    # Pipeline to get the team pairs with match counts greater than 100
    pipeline = [
        {
            "$project": {
                "team_pair": {
                    "$cond": [
                        {"$lt": ["$home_team", "$away_team"]},
                        {"home_team": "$home_team", "away_team": "$away_team"},
                        {"home_team": "$away_team", "away_team": "$home_team"}
                    ]
                }
            }
        },
        {
            "$group": {
                "_id": "$team_pair",
                "count": {"$sum": 1}
            }
        },
        {
            "$match": {
                "count": {"$gt": 100}
            }
        }
    ]

    start_time = time.perf_counter()

    teams_that_played_at_least_100_times = list(collection_matches.aggregate(pipeline))

    # Create a filter for each team pair
    team_pairs_filter = [
        {"$or": [
            {"home_team": team_pair['_id']['home_team'], "away_team": team_pair['_id']['away_team']},
            {"home_team": team_pair['_id']['away_team'], "away_team": team_pair['_id']['home_team']}
        ]}
        for team_pair in teams_that_played_at_least_100_times
    ]

    # Create the final filter
    final_filter = {
        "$or": team_pairs_filter,
        "$expr": {"$gt": [{"$add": ["$home_score", "$away_score"]}, 5]}
    }

    # Update the matches that match the final filter
    try:
        results = collection_matches.update_many(
            final_filter,
            {"$set": {"neutral": True}}
        )
        matched_count = results.matched_count
        modified_count = results.modified_count
    except Exception as e:
        print("Erro ao atualizar os documentos, erro:", e)
        return None

    mongo_optimized_cq1_time = time.perf_counter() - start_time

    print("Time to execute the complex query 1:", mongo_optimized_cq1_time)
    print("Teams that played at least 100 times:")
    for team_pair in teams_that_played_at_least_100_times:
        print("Home team:", team_pair['_id']['home_team'], ", Away team:", team_pair['_id']['away_team'], ", Count:", team_pair['count'])
    print("Matched count:", matched_count)
    print("Modified count:", modified_count)

    return mongo_optimized_cq1_time

mongo_optimized_cq1_time = complex_query1_mongo_optimized(collection_matches)

Time to execute the complex query 1: 0.18222945800516754
Teams that played at least 100 times:
Home team: Belgium , Away team: Netherlands , Count: 128
Home team: Argentina , Away team: Paraguay , Count: 106
Home team: Argentina , Away team: Uruguay , Count: 182
Home team: Austria , Away team: Hungary , Count: 137
Home team: Kenya , Away team: Uganda , Count: 110
Home team: England , Away team: Wales , Count: 105
Home team: Norway , Away team: Sweden , Count: 109
Home team: Denmark , Away team: Sweden , Count: 108
Home team: England , Away team: Scotland , Count: 118
Home team: Scotland , Away team: Wales , Count: 106
Home team: Argentina , Away team: Brazil , Count: 109
Home team: Guernsey , Away team: Jersey , Count: 119
Matched count: 229
Modified count: 215

In [684]:
def complex_query2_mongo_optimized(collection_matches):

    # Pipeline to get the matches with the most difference in goals
    pipeline = [
        {
            "$project": {
                "difference": {"$abs": {"$subtract": ["$home_score", "$away_score"]}},
                "date": 1,
                "home_team": 1,
                "away_team": 1,
                "home_score": 1,
                "away_score": 1,
                "tournament": 1,
                "city": 1,
                "country": 1,
                "neutral": 1,
            }
        },
        {"$sort": {"difference": -1}},
        {"$limit": 100},
    ]

    start_time = time.perf_counter()

    matches_with_most_difference = list(collection_matches.aggregate(pipeline))

    new_matches = [
        {
            "date": match['date'],
            "home_team": match['home_team'], 
            "away_team": match['away_team'],
            "home_score": match['away_score'],  
            "away_score": match['home_score'],
            "tournament": match['tournament'],
            "city": match['city'],
            "country": match['country'],
            "neutral": match['neutral']
        }
        for match in matches_with_most_difference
    ]

    try:
        collection_matches.insert_many(new_matches)
    except Exception as e:
        print("Error inserting the documents, error: ", e)
        return None

    mongo_optimized_cq2_time = time.perf_counter() - start_time

    print("Time to execute the complex query 2:", mongo_optimized_cq2_time)
    print("Matches with the most difference between the home_score and away_score:")
    for counter, match in enumerate(matches_with_most_difference, 1):
        print(f"Match number: {counter}, Difference: {match['difference']}, Date: {match['date']}, Home team: {match['home_team']}, Away team: {match['away_team']}")

    print(f"Inserted {len(new_matches)} matches with the most difference in goals scored between the two teams flipped.")

    return mongo_optimized_cq2_time

mongo_optimized_cq2_time = complex_query2_mongo_optimized(collection_matches)

Time to execute the complex query 2: 0.08373162499628961
Matches with the most difference between the home_score and away_score:
Match number: 1, Difference: 31, Date: 2001-04-11 00:00:00, Home team: Australia, Away team: American Samoa
Match number: 2, Difference: 30, Date: 1971-09-13 00:00:00, Home team: Tahiti, Away team: Cook Islands
Match number: 3, Difference: 24, Date: 1979-08-30 00:00:00, Home team: Fiji, Away team: Kiribati
Match number: 4, Difference: 22, Date: 2001-04-09 00:00:00, Home team: Australia, Away team: Tonga
Match number: 5, Difference: 21, Date: 1966-04-03 00:00:00, Home team: Libya, Away team: Oman
Match number: 6, Difference: 21, Date: 2005-03-11 00:00:00, Home team: Guam, Away team: North Korea
Match number: 7, Difference: 20, Date: 1987-12-15 00:00:00, Home team: American Samoa, Away team: Papua New Guinea
Match number: 8, Difference: 20, Date: 2006-11-24 00:00:00, Home team: Sápmi, Away team: Monaco
Match number: 9, Difference: 20, Date: 2000-02-14 00:00:00, Home team: Kuwait, Away team: Bhutan
Match number: 10, Difference: 20, Date: 2014-06-01 00:00:00, Home team: Darfur, Away team: Padania
Match number: 11, Difference: 20, Date: 2003-06-30 00:00:00, Home team: Sark, Away team: Isle of Wight
Match number: 12, Difference: 19, Date: 1983-08-22 00:00:00, Home team: Niue, Away team: Papua New Guinea
Match number: 13, Difference: 19, Date: 2000-11-24 00:00:00, Home team: Iran, Away team: Guam
Match number: 14, Difference: 19, Date: 2000-01-26 00:00:00, Home team: China PR, Away team: Guam
Match number: 15, Difference: 19, Date: 1997-05-13 00:00:00, Home team: Kazakhstan, Away team: Guam
Match number: 16, Difference: 19, Date: 2014-06-02 00:00:00, Home team: Darfur, Away team: South Ossetia
Match number: 17, Difference: 19, Date: 2003-06-29 00:00:00, Home team: Gibraltar, Away team: Sark
Match number: 18, Difference: 18, Date: 1991-09-15 00:00:00, Home team: Guam, Away team: New Caledonia
Match number: 19, Difference: 18, Date: 2012-06-05 00:00:00, Home team: Darfur, Away team: Provence
Match number: 20, Difference: 18, Date: 1994-03-19 00:00:00, Home team: Jersey, Away team: Alderney
Match number: 21, Difference: 18, Date: 2003-07-07 00:00:00, Home team: Kiribati, Away team: Vanuatu
Match number: 22, Difference: 18, Date: 1979-08-30 00:00:00, Home team: Tahiti, Away team: Tuvalu
Match number: 23, Difference: 18, Date: 2003-07-01 00:00:00, Home team: Micronesia, Away team: New Caledonia
Match number: 24, Difference: 18, Date: 1963-09-06 00:00:00, Home team: Solomon Islands, Away team: Tahiti
Match number: 25, Difference: 17, Date: 2010-10-14 00:00:00, Home team: Dominican Republic, Away team: British Virgin Islands
Match number: 26, Difference: 17, Date: 2003-06-30 00:00:00, Home team: Tahiti, Away team: Micronesia
Match number: 27, Difference: 17, Date: 1997-06-02 00:00:00, Home team: Maldives, Away team: Iran
Match number: 28, Difference: 17, Date: 2000-06-19 00:00:00, Home team: Australia, Away team: Cook Islands
Match number: 29, Difference: 16, Date: 2003-09-29 00:00:00, Home team: South Korea, Away team: Nepal
Match number: 30, Difference: 16, Date: 1998-09-28 00:00:00, Home team: Australia, Away team: Cook Islands
Match number: 31, Difference: 16, Date: 2003-07-01 00:00:00, Home team: Greenland, Away team: Sark
Match number: 32, Difference: 16, Date: 1995-08-21 00:00:00, Home team: Cook Islands, Away team: Solomon Islands
Match number: 33, Difference: 16, Date: 2012-09-05 00:00:00, Home team: Martinique, Away team: British Virgin Islands
Match number: 34, Difference: 16, Date: 2012-01-14 00:00:00, Home team: Gozo, Away team: Raetia
Match number: 35, Difference: 16, Date: 2011-09-03 00:00:00, Home team: Kiribati, Away team: Papua New Guinea
Match number: 36, Difference: 16, Date: 2000-11-26 00:00:00, Home team: Tajikistan, Away team: Guam
Match number: 37, Difference: 16, Date: 2011-09-05 00:00:00, Home team: Kiribati, Away team: Tahiti
Match number: 38, Difference: 16, Date: 2007-08-25 00:00:00, Home team: Fiji, Away team: Tuvalu
Match number: 39, Difference: 15, Date: 2005-03-07 00:00:00, Home team: Guam, Away team: Hong Kong
Match number: 40, Difference: 15, Date: 1991-09-09 00:00:00, Home team: Guam, Away team: Tahiti
Match number: 41, Difference: 15, Date: 1998-12-05 00:00:00, Home team: Mongolia, Away team: Uzbekistan
Match number: 42, Difference: 15, Date: 2019-11-10 00:00:00, Home team: Trinidad and Tobago, Away team: Anguilla
Match number: 43, Difference: 15, Date: 2015-09-03 00:00:00, Home team: Qatar, Away team: Bhutan
Match number: 44, Difference: 15, Date: 1963-11-15 00:00:00, Home team: Egypt, Away team: Laos
Match number: 45, Difference: 15, Date: 2012-09-28 00:00:00, Home team: Saint Pierre and Miquelon, Away team: New Caledonia
Match number: 46, Difference: 15, Date: 2012-06-04 00:00:00, Home team: Northern Cyprus, Away team: Darfur
Match number: 47, Difference: 15, Date: 1971-09-11 00:00:00, Home team: Cook Islands, Away team: Papua New Guinea
Match number: 48, Difference: 15, Date: 2007-08-29 00:00:00, Home team: American Samoa, Away team: Vanuatu
Match number: 49, Difference: 15, Date: 2003-07-03 00:00:00, Home team: Frøya, Away team: Sark
Match number: 50, Difference: 14, Date: 1971-09-15 00:00:00, Home team: Cook Islands, Away team: Fiji
Match number: 51, Difference: 14, Date: 2006-11-23 00:00:00, Home team: Sápmi, Away team: Monaco
Match number: 52, Difference: 14, Date: 2005-05-03 00:00:00, Home team: Occitania, Away team: Chechnya
Match number: 53, Difference: 14, Date: 2023-11-18 00:00:00, Home team: France, Away team: Gibraltar
Match number: 54, Difference: 14, Date: 2021-03-30 00:00:00, Home team: Japan, Away team: Mongolia
Match number: 55, Difference: 14, Date: 2007-06-21 00:00:00, Home team: Hong Kong, Away team: Guam
Match number: 56, Difference: 14, Date: 2017-03-28 00:00:00, Home team: Oman, Away team: Bhutan
Match number: 57, Difference: 14, Date: 1998-04-19 00:00:00, Home team: Guyana, Away team: Anguilla
Match number: 58, Difference: 14, Date: 1963-11-11 00:00:00, Home team: North Korea, Away team: Somalia
Match number: 59, Difference: 14, Date: 1983-08-20 00:00:00, Home team: Niue, Away team: Tahiti
Match number: 60, Difference: 14, Date: 2019-07-15 00:00:00, Home team: Tonga, Away team: Vanuatu
Match number: 61, Difference: 14, Date: 1962-08-26 00:00:00, Home team: Malaysia, Away team: Philippines
Match number: 62, Difference: 14, Date: 2019-10-10 00:00:00, Home team: Iran, Away team: Cambodia
Match number: 63, Difference: 14, Date: 1973-08-17 00:00:00, Home team: Algeria, Away team: Yemen
Match number: 64, Difference: 14, Date: 1946-12-15 00:00:00, Home team: Curaçao, Away team: Puerto Rico
Match number: 65, Difference: 14, Date: 1966-11-30 00:00:00, Home team: North Korea, Away team: Yemen
Match number: 66, Difference: 13, Date: 2006-09-06 00:00:00, Home team: San Marino, Away team: Germany
Match number: 67, Difference: 13, Date: 1999-06-28 00:00:00, Home team: Hitra, Away team: Isle of Man
Match number: 68, Difference: 13, Date: 1992-08-18 00:00:00, Home team: Ethiopia, Away team: Iraq
Match number: 69, Difference: 13, Date: 1991-09-12 00:00:00, Home team: Fiji, Away team: Guam
Match number: 70, Difference: 13, Date: 2021-06-05 00:00:00, Home team: Panama, Away team: Anguilla
Match number: 71, Difference: 13, Date: 2004-02-29 00:00:00, Home team: Bermuda, Away team: Montserrat
Match number: 72, Difference: 13, Date: 1917-05-10 00:00:00, Home team: Japan, Away team: Philippines
Match number: 73, Difference: 13, Date: 1917-05-07 00:00:00, Home team: Japan, Away team: Philippines
Match number: 74, Difference: 13, Date: 2018-09-10 00:00:00, Home team: Haiti, Away team: Sint Maarten
Match number: 75, Difference: 13, Date: 2019-07-08 00:00:00, Home team: Tuvalu, Away team: Solomon Islands
Match number: 76, Difference: 13, Date: 1997-06-11 00:00:00, Home team: Australia, Away team: Solomon Islands
Match number: 77, Difference: 13, Date: 1998-04-15 00:00:00, Home team: Grenada, Away team: Anguilla
Match number: 78, Difference: 13, Date: 1950-04-14 00:00:00, Home team: Mauritius, Away team: Réunion
Match number: 79, Difference: 13, Date: 1966-04-06 00:00:00, Home team: Libya, Away team: Yemen
Match number: 80, Difference: 13, Date: 1981-08-16 00:00:00, Home team: New Zealand, Away team: Fiji
Match number: 81, Difference: 13, Date: 2019-07-15 00:00:00, Home team: Solomon Islands, Away team: American Samoa
Match number: 82, Difference: 13, Date: 1981-07-08 00:00:00, Home team: Tahiti, Away team: Western Samoa
Match number: 83, Difference: 13, Date: 1882-02-18 00:00:00, Home team: Northern Ireland, Away team: England
Match number: 84, Difference: 13, Date: 1995-08-17 00:00:00, Home team: Tahiti, Away team: Wallis Islands and Futuna
Match number: 85, Difference: 13, Date: 1933-05-21 00:00:00, Home team: Spain, Away team: Bulgaria
Match number: 86, Difference: 13, Date: 2001-04-07 00:00:00, Home team: Fiji, Away team: American Samoa
Match number: 87, Difference: 13, Date: 1979-08-31 00:00:00, Home team: Kiribati, Away team: Papua New Guinea
Match number: 88, Difference: 13, Date: 2001-04-14 00:00:00, Home team: Saint Lucia, Away team: United States Virgin Islands
Match number: 89, Difference: 13, Date: 2012-09-22 00:00:00, Home team: Guadeloupe, Away team: Saint Pierre and Miquelon
Match number: 90, Difference: 13, Date: 1998-08-01 00:00:00, Home team: Palau, Away team: Guam
Match number: 91, Difference: 13, Date: 1940-09-01 00:00:00, Home team: Germany, Away team: Finland
Match number: 92, Difference: 12, Date: 2006-02-18 00:00:00, Home team: Monaco, Away team: Chechnya
Match number: 93, Difference: 12, Date: 2004-11-24 00:00:00, Home team: Jamaica, Away team: Saint Martin
Match number: 94, Difference: 12, Date: 2003-12-03 00:00:00, Home team: Maldives, Away team: Mongolia
Match number: 95, Difference: 12, Date: 1998-09-07 00:00:00, Home team: Tahiti, Away team: American Samoa
Match number: 96, Difference: 12, Date: 1927-05-29 00:00:00, Home team: Sweden, Away team: Latvia
Match number: 97, Difference: 12, Date: 1967-08-23 00:00:00, Home team: Denmark, Away team: Iceland
Match number: 98, Difference: 12, Date: 2003-07-05 00:00:00, Home team: Fiji, Away team: Kiribati
Match number: 99, Difference: 12, Date: 2001-04-14 00:00:00, Home team: Brunei, Away team: United Arab Emirates
Match number: 100, Difference: 12, Date: 1917-10-07 00:00:00, Home team: Denmark, Away team: Norway
Inserted 100 matches with the most difference in goals scored between the two teams flipped.

### SQL with more performance

#### Connecting to MYSQL

In [693]:
# Create a MySQL database, a table named "Football" to store the data
# Afonso
# username = 'root'
# password = "1234"

# Miguel Borges
# username = 'root'
# password = "Cfsb1705!"

# Miguel Dinis
# username = 'root'
#password = "MySQLMD-2024"

# Rafael
username = 'root'
password = "olaolaola"

host = 'localhost'
port = '3306'
database_name_sql_optimized = 'football_db_optimized'

# Create a connection to the MySQL server
db_url = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}'
engine = create_engine(db_url)

# Test connection
try:
    with engine.connect() as connection:
        print("Successfully connected to MySQL server.")
except Exception as e:
    print(f"Error connecting to MySQL: {e}")

Successfully connected to MySQL server.

#### Creating the database and relational schema

We created a **locations** table to make it easier to identify a match from the *matches* table by looking for the *location_id*, that leads to a specific *city* and *country*. \
We have also created a **details** table that stores the *tournament*, *location_id* and the *neutral fields*. \
After this, the **matches** table will store only the main features of each match, which are *date*, *home_team*, *away_team*, *home_score*, *away_score* and *detail_id*.

In [694]:
def create_mysql_database_optimized(engine, database_name):    
    # Create the database
    try:
        with engine.connect() as connection:
            connection.execute(text(f"DROP DATABASE IF EXISTS {database_name}")) 
            connection.execute(text(f"CREATE DATABASE {database_name}"))
            connection.execute(text(f"USE {database_name}"))
            print(f"Database '{database_name}' created successfully.")
    except Exception as e:
        print(f"Error creating database: {e}")
        
    create_locations_table = """
    CREATE TABLE IF NOT EXISTS locations (
        location_id INT AUTO_INCREMENT PRIMARY KEY,
        city VARCHAR(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
        country VARCHAR(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
        UNIQUE(city, country)
    );
    """

    create_details_table = """
    CREATE TABLE IF NOT EXISTS details (
        detail_id INT AUTO_INCREMENT PRIMARY KEY,
        tournament VARCHAR(100) NOT NULL,
        location_id INT NOT NULL,
        neutral BOOLEAN NOT NULL,
        FOREIGN KEY (location_id) REFERENCES locations(location_id)
    );
    """
    
    create_matches_table = """
    CREATE TABLE IF NOT EXISTS matches (
        match_id INT AUTO_INCREMENT PRIMARY KEY,
        date DATE NOT NULL,
        home_team VARCHAR(100) NOT NULL,
        away_team VARCHAR(100) NOT NULL,
        home_score INT NOT NULL,
        away_score INT NOT NULL,
        detail_id INT NOT NULL,
        FOREIGN KEY (detail_id) REFERENCES details(detail_id)
    );
    """

    create_goalscorers_table = """
    CREATE TABLE IF NOT EXISTS goalscorers (
        goal_id INT AUTO_INCREMENT PRIMARY KEY,
        match_id INT NOT NULL,
        team VARCHAR(100) NOT NULL,
        scorer VARCHAR(100) NOT NULL,
        minute DOUBLE NOT NULL,
        penalty BOOLEAN NOT NULL,
        own_goal BOOLEAN NOT NULL,
        FOREIGN KEY (match_id) REFERENCES matches(match_id)
    );
    """

    create_shootouts_table = """
    CREATE TABLE IF NOT EXISTS shootouts (
        shootout_id INT AUTO_INCREMENT PRIMARY KEY,
        match_id INT NOT NULL,
        winner VARCHAR(100) NOT NULL,
        first_shooter VARCHAR(100) NOT NULL,
        FOREIGN KEY (match_id) REFERENCES matches(match_id)
    );
    """

    # Execute each CREATE TABLE command separately
    try:
        with engine.connect() as connection:
            
            connection.execute(text(create_locations_table))
            print("Table 'locations' created successfully.")
            
            connection.execute(text(create_details_table))
            print("Table 'details' created successfully.")
            
            connection.execute(text(create_matches_table))
            print("Table 'matches' created successfully.")
            
            connection.execute(text(create_goalscorers_table))
            print("Table 'goalscorers' created successfully.")
            
            connection.execute(text(create_shootouts_table))
            print("Table 'shootouts' created successfully.")
    except Exception as e:
        print(f"Error creating tables: {e}")


create_mysql_database_optimized(engine, database_name_sql_optimized)

Database 'football_db_optimized' created successfully.
Table 'locations' created successfully.
Table 'details' created successfully.
Table 'matches' created successfully.
Table 'goalscorers' created successfully.
Table 'shootouts' created successfully.

#### Data insertion

In [695]:
def insert_data_mysql_optimized(df_results, df_goalscorers, df_shootouts, engine):    
    batch_size = 1000  # You can adjust this based on your dataset size

    # Insert data into 'locations' table
    insert_locations_query = text("""
    INSERT INTO locations (city, country)
    VALUES (:city, :country)
    ON DUPLICATE KEY UPDATE location_id = LAST_INSERT_ID(location_id)
    """)

    fetch_locations_query = text("""
    SELECT location_id, city, country FROM locations
    """)
    location_map = {}
    try:
        with engine.begin() as connection:
            unique_locations = df_results[['city', 'country']].drop_duplicates()
            location_data = unique_locations.to_dict(orient='records')
            connection.execute(insert_locations_query, location_data)
            print("Data inserted into 'locations' successfully.")
            result = connection.execute(fetch_locations_query).fetchall()
            location_map = { (row.city, row.country): row.location_id for row in result }
    except Exception as e:
        print(f"Error inserting data into 'locations': {e}")


    insert_details_query = text("""
    INSERT INTO details (tournament, location_id, neutral)
    VALUES (:tournament, :location_id, :neutral)
    """)
    details_map = {}
    try:
        with engine.begin() as connection:
            for _, row in df_results.iterrows():
                location_id = location_map.get((row['city'], row['country']))
                if location_id:
                    # Insert the record
                    connection.execute(insert_details_query, {
                        'tournament': row['tournament'],
                        'location_id': location_id,
                        'neutral': row['neutral']
                    })
                    
                    # Fetch the last inserted ID
                    last_insert_query = text("SELECT LAST_INSERT_ID()")
                    detail_id = connection.execute(last_insert_query).scalar()
                    
                    # Update the details map
                    details_map[(row['date'], row['home_team'], row['away_team'])] = detail_id
                else:
                    print(f"Warning: No location ID found for {row['city']}, {row['country']} in details.")
                    
    except Exception as e:
        print(f"Error inserting data into 'details': {e}")

    print("Data inserted into 'details' successfully.")

    # Insert data into 'matches' table
    insert_matches_query = text("""
    INSERT INTO matches (date, home_team, away_team, home_score, away_score, detail_id)
    VALUES (:date, :home_team, :away_team, :home_score, :away_score, :detail_id)
    """)
    try:
        with engine.begin() as connection:
            match_data = []
            for _, row in df_results.iterrows():
                detail_id = details_map.get((row['date'], row['home_team'], row['away_team']))
                if detail_id:
                    match_data.append({
                        'date': row['date'],
                        'home_team': row['home_team'],
                        'away_team': row['away_team'],
                        'home_score': row['home_score'],
                        'away_score': row['away_score'],
                        'detail_id': detail_id
                    })
                else:
                    print(f"Warning: No detail ID found for {row['date']}, {row['home_team']} vs {row['away_team']} in matches.")
                if len(match_data) >= batch_size:
                    connection.execute(insert_matches_query, match_data)
                    match_data = []
            if match_data:  # Ensure there's data to insert
                connection.execute(insert_matches_query, match_data)
    except Exception as e:
        print(f"Error inserting data into 'matches': {e}")
        
    print("Data inserted into 'matches' successfully.")

    # Fetch the match IDs to a map for later use
    fetch_matches_query = text("""
    SELECT match_id, date, home_team, away_team FROM matches
    """)
    match_map = {}
    try:
        with engine.begin() as connection:
            result = connection.execute(fetch_matches_query).fetchall()
            for row in result:
                match_id, date, home_team, away_team = row
                match_map[(date, home_team, away_team)] = match_id
    except Exception as e:
        print(f"Error fetching match IDs: {e}")
        

    insert_shootouts_query = text("""
    INSERT INTO shootouts (match_id, winner, first_shooter)
    VALUES (:match_id, :winner, :first_shooter)
    """)
    try:
        with engine.begin() as connection:
            shootout_data = []
            for _, row in df_shootouts.iterrows():
                date = row['date'].date()
                match_id = match_map.get((date, row['home_team'], row['away_team']))
                if match_id:
                    shootout_data.append({
                        'match_id': match_id,
                        'winner': row['winner'],
                        'first_shooter': row['first_shooter']
                    })
                if len(shootout_data) >= batch_size:
                    connection.execute(insert_shootouts_query, shootout_data)
                    shootout_data = []
            if shootout_data:  # Ensure there's data to insert
                connection.execute(insert_shootouts_query, shootout_data)
            else:
                print("No valid data to insert into 'shootouts'.")
    except Exception as e:
        print(f"Error inserting data into 'shootouts': {e}")
        
    print("Data inserted into 'shootouts' successfully.")

    insert_goalscorers_query = text("""
    INSERT INTO goalscorers (match_id, scorer, team, minute, own_goal, penalty)
    VALUES (:match_id, :scorer, :team, :minute, :own_goal, :penalty)
    """)
    try:
        with engine.begin() as connection:
            goalscorer_data = []
            for _, row in df_goalscorers.iterrows():
                date = row['date'].date()
                match_id = match_map.get((date, row['home_team'], row['away_team']))
                if match_id:
                    goalscorer_data.append({
                        'match_id': match_id,
                        'scorer': row['scorer'],  # 'scorer' represents the player
                        'team': row['team'],      # 'team' represents the team
                        'minute': row['minute'],
                        'own_goal': row['own_goal'],
                        'penalty': row['penalty']
                    })
                if len(goalscorer_data) >= batch_size:
                    connection.execute(insert_goalscorers_query, goalscorer_data)
                    goalscorer_data = []
            if goalscorer_data:  # Ensure there's data to insert
                connection.execute(insert_goalscorers_query, goalscorer_data)
            else:
                print("No valid data to insert into 'goalscorers'.")
    except Exception as e:
        print(f"Error inserting data into 'goalscorers': {e}")

    print("Data inserted into 'goalscorers' successfully.")


df_results, df_goalscorers, df_shootouts = clean_data()
create_mysql_database_optimized(engine, database_name_sql_optimized)
insert_data_mysql_optimized(df_results, df_goalscorers, df_shootouts, engine)

Database 'football_db_optimized' created successfully.
Table 'locations' created successfully.
Table 'details' created successfully.
Table 'matches' created successfully.
Table 'goalscorers' created successfully.
Table 'shootouts' created successfully.
Data inserted into 'locations' successfully.
Data inserted into 'details' successfully.
Data inserted into 'matches' successfully.
Data inserted into 'shootouts' successfully.
Data inserted into 'goalscorers' successfully.

### Queries on SQL with more performance and optimized queries but without Indexes

#### Two simple queries on SQL

This two queries are the same as the ones in the basic version

In [696]:
def simple_queries_mysql_optimized(engine):    
    #Change for the football_db_optimized database
    with engine.connect() as connection:
        connection.execute(text("USE football_db_optimized"))

    # Query 1
    query1 = text("""
    SELECT *
    FROM matches
    WHERE (
            (home_team = 'Portugal' AND home_score > 3) OR
            (away_team = 'Portugal' AND away_score > 3)
        )
    AND date > '2003-12-31';
    """)

    with engine.connect() as connection:
        start_time = time.perf_counter()
        results1 = connection.execute(query1)
        sql_optimized_sq1_time = time.perf_counter() - start_time
        print("Time to execute query 1:", sql_optimized_sq1_time)
        print(results1.rowcount, " results for query 1")

    # Query 2
    query2 = text("""
    SELECT *
    FROM matches
    WHERE 
        (home_team = 'Australia' AND away_team = 'Sweden') OR
        (home_team = 'Sweden' AND away_team = 'Australia');
    """)

    with engine.connect() as connection:
        start_time = time.perf_counter()
        results2 = connection.execute(query2)
        sql_optimized_sq2_time = time.perf_counter() - start_time
        print("Time to execute query 2:", sql_optimized_sq2_time)
        print(results2.rowcount, " results for query 2")
        print("Results for Query 1:")
        for result in results1:
            print(result)
        print("Results for Query 2:")
        for result in results2:
            print(result)
            
    return sql_optimized_sq1_time, sql_optimized_sq2_time

sql_optimized_sq1_time, sql_optimized_sq2_time = simple_queries_mysql_optimized(engine)

Time to execute query 1: 0.0280712079256773
46  results for query 1
Time to execute query 2: 0.016430290997959673
5  results for query 2
Results for Query 1:
(28202, datetime.date(2004, 6, 5), 'Portugal', 'Lithuania', 4, 1, 28202)
(28558, datetime.date(2004, 9, 8), 'Portugal', 'Estonia', 4, 0, 28558)
(28674, datetime.date(2004, 10, 13), 'Portugal', 'Russia', 7, 1, 28674)
(28742, datetime.date(2004, 11, 17), 'Luxembourg', 'Portugal', 0, 5, 28742)
(29037, datetime.date(2005, 3, 26), 'Portugal', 'Canada', 4, 1, 29037)
(29400, datetime.date(2005, 9, 3), 'Portugal', 'Luxembourg', 6, 0, 29400)
(29917, datetime.date(2006, 5, 27), 'Portugal', 'Cape Verde', 4, 1, 29917)
(30687, datetime.date(2007, 3, 24), 'Portugal', 'Belgium', 4, 0, 30687)
(32189, datetime.date(2008, 8, 20), 'Portugal', 'Faroe Islands', 5, 0, 32189)
(32252, datetime.date(2008, 9, 6), 'Malta', 'Portugal', 0, 4, 32252)
(33364, datetime.date(2009, 10, 14), 'Portugal', 'Malta', 4, 0, 33364)
(33848, datetime.date(2010, 6, 21), 'Portugal', 'North Korea', 7, 0, 33848)
(33973, datetime.date(2010, 9, 3), 'Portugal', 'Cyprus', 4, 4, 33973)
(34296, datetime.date(2010, 11, 17), 'Portugal', 'Spain', 4, 0, 34296)
(34977, datetime.date(2011, 8, 10), 'Portugal', 'Luxembourg', 5, 0, 34977)
(35043, datetime.date(2011, 9, 2), 'Cyprus', 'Portugal', 0, 4, 35043)
(35225, datetime.date(2011, 10, 7), 'Portugal', 'Iceland', 5, 3, 35225)
(35430, datetime.date(2011, 11, 15), 'Portugal', 'Bosnia and Herzegovina', 6, 2, 35430)
(37162, datetime.date(2013, 9, 6), 'Northern Ireland', 'Portugal', 2, 4, 37162)
(37552, datetime.date(2014, 3, 5), 'Portugal', 'Cameroon', 5, 1, 37552)
(37778, datetime.date(2014, 6, 10), 'Republic of Ireland', 'Portugal', 1, 5, 37778)
(39767, datetime.date(2016, 6, 8), 'Portugal', 'Estonia', 7, 0, 39767)
(39918, datetime.date(2016, 9, 1), 'Portugal', 'Gibraltar', 5, 0, 39918)
(40052, datetime.date(2016, 10, 7), 'Portugal', 'Andorra', 6, 0, 40052)
(40097, datetime.date(2016, 10, 10), 'Faroe Islands', 'Portugal', 0, 6, 40097)
(40220, datetime.date(2016, 11, 13), 'Portugal', 'Latvia', 4, 1, 40220)
(40519, datetime.date(2017, 6, 3), 'Portugal', 'Cyprus', 4, 0, 40519)
(40681, datetime.date(2017, 6, 24), 'New Zealand', 'Portugal', 0, 4, 40681)
(40819, datetime.date(2017, 8, 31), 'Portugal', 'Faroe Islands', 5, 1, 40819)
(42808, datetime.date(2019, 9, 7), 'Serbia', 'Portugal', 2, 4, 42808)
(42870, datetime.date(2019, 9, 10), 'Lithuania', 'Portugal', 1, 5, 42870)
(43104, datetime.date(2019, 11, 14), 'Portugal', 'Lithuania', 6, 0, 43104)
(43316, datetime.date(2020, 9, 5), 'Portugal', 'Croatia', 4, 1, 43316)
(43490, datetime.date(2020, 11, 11), 'Portugal', 'Andorra', 7, 0, 43490)
(43990, datetime.date(2021, 6, 9), 'Portugal', 'Israel', 4, 0, 43990)
(44501, datetime.date(2021, 10, 12), 'Portugal', 'Luxembourg', 5, 0, 44501)
(45151, datetime.date(2022, 6, 5), 'Portugal', 'Switzerland', 4, 0, 45151)
(45455, datetime.date(2022, 9, 24), 'Czech Republic', 'Portugal', 0, 4, 45455)
(45586, datetime.date(2022, 11, 17), 'Portugal', 'Nigeria', 4, 0, 45586)
(45685, datetime.date(2022, 12, 6), 'Portugal', 'Switzerland', 6, 1, 45685)
(45789, datetime.date(2023, 3, 23), 'Portugal', 'Liechtenstein', 4, 0, 45789)
(45867, datetime.date(2023, 3, 26), 'Luxembourg', 'Portugal', 0, 6, 45867)
(46343, datetime.date(2023, 9, 11), 'Portugal', 'Luxembourg', 9, 0, 46343)
(46507, datetime.date(2023, 10, 16), 'Bosnia and Herzegovina', 'Portugal', 0, 5, 46507)
(46967, datetime.date(2024, 3, 21), 'Portugal', 'Sweden', 5, 2, 46967)
(47103, datetime.date(2024, 6, 4), 'Portugal', 'Finland', 4, 2, 47103)
Results for Query 2:
(18079, datetime.date(1992, 1, 26), 'Australia', 'Sweden', 0, 0, 18079)
(18082, datetime.date(1992, 1, 29), 'Australia', 'Sweden', 1, 0, 18082)
(18084, datetime.date(1992, 2, 2), 'Australia', 'Sweden', 1, 0, 18084)
(20831, datetime.date(1996, 2, 25), 'Australia', 'Sweden', 0, 2, 20831)
(20834, datetime.date(1996, 2, 28), 'Australia', 'Sweden', 0, 0, 20834)

#### Two complex queries

To optimize the first complex query, we use a single query to update the matches, instead of a for loop to update each match individually like in the basic version.

To optimize the second complex query, we fetch the details for the matches in a single query, instead of fetching them individually on a for loop

In [697]:
def complex_query1_mysql_optimized(engine):
    # Change for the football_db_optimized database
    with engine.connect() as connection:
        connection.execute(text("USE football_db_optimized"))

    # SQL query to get team pairs with match counts
    team_pairs_query = """
    WITH normalized_matches AS (
        SELECT 
            CASE 
                WHEN home_team < away_team THEN home_team
                ELSE away_team
            END AS team1,
            CASE 
                WHEN home_team < away_team THEN away_team
                ELSE home_team
            END AS team2
        FROM matches
    )
    SELECT 
        team1 AS home_team, 
        team2 AS away_team, 
        COUNT(*) AS match_count
    FROM normalized_matches
    GROUP BY team1, team2
    HAVING COUNT(*) > 100;
    """
    start_time = time.perf_counter()

    try:
        with engine.connect() as connection:
            result = connection.execute(text(team_pairs_query))
            # Convert rows into a list of dictionaries
            team_pairs = [{"home_team": row[0], "away_team": row[1], "count": row[2]} for row in result]
            
    except Exception as e:
        print(f"Error fetching team pairs: {e}")
        return

    if team_pairs:
        team_pairs_conditions = " OR ".join([
            f"((matches.home_team = '{tp['home_team']}' AND matches.away_team = '{tp['away_team']}')"
            f" OR (matches.home_team = '{tp['away_team']}' AND matches.away_team = '{tp['home_team']}'))"
            for tp in team_pairs
        ])

        update_matches_query = f"""
        UPDATE details
        JOIN matches 
            ON matches.detail_id = details.detail_id
        SET details.neutral = TRUE
        WHERE ({team_pairs_conditions})
            AND (matches.home_score + matches.away_score) > 5;
        """
        
        try:
            with engine.begin() as connection:
                result = connection.execute(text(update_matches_query))
                modified_count = result.rowcount
        except Exception as e:
            print(f"Error updating matches: {e}")
            modified_count = 0
    else:
        modified_count = 0

    sql_optimized_cq1_time = time.perf_counter() - start_time
    print("Time to execute the complex query 1:", sql_optimized_cq1_time)

    # Print the results in the desired format
    print("Teams that have played with each other at least 100 times:")
    for team_pair in team_pairs:
        print(
            f"Home team:  {team_pair['home_team']} , "
            f"Away team:  {team_pair['away_team']} , "
            f"Count:  {team_pair['count']}"
        )
    print(modified_count, " matches updated")
    
    return sql_optimized_cq1_time

sql_optimized_cq1_time = complex_query1_mysql_optimized(engine)

Time to execute the complex query 1: 0.09329170803539455
Teams that have played with each other at least 100 times:
Home team:  England , Away team:  Scotland , Count:  118
Home team:  Scotland , Away team:  Wales , Count:  106
Home team:  England , Away team:  Wales , Count:  105
Home team:  Argentina , Away team:  Uruguay , Count:  182
Home team:  Austria , Away team:  Hungary , Count:  137
Home team:  Guernsey , Away team:  Jersey , Count:  119
Home team:  Belgium , Away team:  Netherlands , Count:  128
Home team:  Norway , Away team:  Sweden , Count:  109
Home team:  Denmark , Away team:  Sweden , Count:  108
Home team:  Argentina , Away team:  Brazil , Count:  109
Home team:  Argentina , Away team:  Paraguay , Count:  106
Home team:  Kenya , Away team:  Uganda , Count:  110
229  matches updated

In [698]:
def complex_query2_mysql_optimized(engine):    
    # Change for the football_db database
    with engine.connect() as connection:
        connection.execute(text("USE football_db_optimized"))

    # Query to fetch matches with the most difference
    most_difference_query = """
    SELECT 
        match_id,
        ABS(home_score - away_score) AS difference,
        date,
        home_team,
        away_team,
        home_score,
        away_score,
        detail_id
    FROM matches
    ORDER BY difference DESC
    LIMIT 100;
    """
    start_time = time.perf_counter()
    try:
        with engine.connect() as connection:
            result = connection.execute(text(most_difference_query))
            matches_with_most_difference = [
                {
                    "match_id": row[0],
                    "difference": row[1],
                    "date": row[2],
                    "home_team": row[3],
                    "away_team": row[4],
                    "home_score": row[5],
                    "away_score": row[6],
                    "detail_id": row[7]
                }
                for row in result
            ]
    except Exception as e:
        print(f"Error processing matches: {e}")
        return

    # Fetch the details for the matches in a single query
    detail_ids = [match["detail_id"] for match in matches_with_most_difference]
    details_map = {}
    if detail_ids:
        details_query = f"""
        SELECT detail_id, tournament, location_id, neutral
        FROM details
        WHERE detail_id IN ({','.join(map(str, detail_ids))});
        """
        try:
            with engine.connect() as connection:
                result = connection.execute(text(details_query))
                for row in result.mappings(): 
                    details_map[row["detail_id"]] = {
                        "tournament": row["tournament"],
                        "location_id": row["location_id"],
                        "neutral": row["neutral"]
                    }
        except Exception as e:
            print(f"Error fetching details: {e}")
            return

    # Insert details and matches individually
    flipped_matches_inserted = 0
    try:
        with engine.begin() as connection:
            for match in matches_with_most_difference:
                detail = details_map.get(match["detail_id"], {})
                if detail:
                    # Insert detail and get the new detail_id
                    detail_insert_query = """
                    INSERT INTO details (tournament, location_id, neutral) 
                    VALUES (:tournament, :location_id, :neutral);
                    """
                    result = connection.execute(text(detail_insert_query), detail)
                    new_detail_id = result.lastrowid

                    # Insert flipped match with the new detail_id
                    flipped_match_insert_query = """
                    INSERT INTO matches (date, home_team, away_team, home_score, away_score, detail_id)
                    VALUES (:date, :home_team, :away_team, :home_score, :away_score, :detail_id);
                    """
                    connection.execute(text(flipped_match_insert_query), {
                        "date": match["date"],
                        "home_team": match["home_team"],
                        "away_team": match["away_team"],
                        "home_score": match["away_score"],
                        "away_score": match["home_score"],
                        "detail_id": new_detail_id
                    })
                    flipped_matches_inserted += 1
    except Exception as e:
        print(f"Error inserting flipped matches: {e}")

    sql_optimized_cq2_time = time.perf_counter() - start_time
    print("Time to execute the complex query 2:", sql_optimized_cq2_time)
    print("Matches with the most difference between the home_score and away_score:")
    for idx, match in enumerate(matches_with_most_difference, start=1):
        print(
            f"Match number: {idx}, Difference: {match['difference']}, Date: {match['date']}, "
            f"Home team: {match['home_team']}, Away team: {match['away_team']}, "
            f"Home score: {match['home_score']}, Away score: {match['away_score']}"
        )
    print(f"Inserted {flipped_matches_inserted} flipped matches.")
    
    return sql_optimized_cq2_time

sql_optimized_cq2_time = complex_query2_mysql_optimized(engine)

Time to execute the complex query 2: 0.0778476670384407
Matches with the most difference between the home_score and away_score:
Match number: 1, Difference: 31, Date: 2001-04-11, Home team: Australia, Away team: American Samoa, Home score: 31, Away score: 0
Match number: 2, Difference: 30, Date: 1971-09-13, Home team: Tahiti, Away team: Cook Islands, Home score: 30, Away score: 0
Match number: 3, Difference: 24, Date: 1979-08-30, Home team: Fiji, Away team: Kiribati, Home score: 24, Away score: 0
Match number: 4, Difference: 22, Date: 2001-04-09, Home team: Australia, Away team: Tonga, Home score: 22, Away score: 0
Match number: 5, Difference: 21, Date: 2005-03-11, Home team: Guam, Away team: North Korea, Home score: 0, Away score: 21
Match number: 6, Difference: 21, Date: 1966-04-03, Home team: Libya, Away team: Oman, Home score: 21, Away score: 0
Match number: 7, Difference: 20, Date: 2000-02-14, Home team: Kuwait, Away team: Bhutan, Home score: 20, Away score: 0
Match number: 8, Difference: 20, Date: 2003-06-30, Home team: Sark, Away team: Isle of Wight, Home score: 0, Away score: 20
Match number: 9, Difference: 20, Date: 1987-12-15, Home team: American Samoa, Away team: Papua New Guinea, Home score: 0, Away score: 20
Match number: 10, Difference: 20, Date: 2014-06-01, Home team: Darfur, Away team: Padania, Home score: 0, Away score: 20
Match number: 11, Difference: 20, Date: 2006-11-24, Home team: Sápmi, Away team: Monaco, Home score: 21, Away score: 1
Match number: 12, Difference: 19, Date: 1983-08-22, Home team: Niue, Away team: Papua New Guinea, Home score: 0, Away score: 19
Match number: 13, Difference: 19, Date: 2000-11-24, Home team: Iran, Away team: Guam, Home score: 19, Away score: 0
Match number: 14, Difference: 19, Date: 2014-06-02, Home team: Darfur, Away team: South Ossetia, Home score: 0, Away score: 19
Match number: 15, Difference: 19, Date: 2003-06-29, Home team: Gibraltar, Away team: Sark, Home score: 19, Away score: 0
Match number: 16, Difference: 19, Date: 2000-01-26, Home team: China PR, Away team: Guam, Home score: 19, Away score: 0
Match number: 17, Difference: 19, Date: 1997-05-13, Home team: Kazakhstan, Away team: Guam, Home score: 20, Away score: 1
Match number: 18, Difference: 18, Date: 2012-06-05, Home team: Darfur, Away team: Provence, Home score: 0, Away score: 18
Match number: 19, Difference: 18, Date: 1994-03-19, Home team: Jersey, Away team: Alderney, Home score: 18, Away score: 0
Match number: 20, Difference: 18, Date: 1979-08-30, Home team: Tahiti, Away team: Tuvalu, Home score: 18, Away score: 0
Match number: 21, Difference: 18, Date: 2003-07-07, Home team: Kiribati, Away team: Vanuatu, Home score: 0, Away score: 18
Match number: 22, Difference: 18, Date: 2003-07-01, Home team: Micronesia, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 23, Difference: 18, Date: 1963-09-06, Home team: Solomon Islands, Away team: Tahiti, Home score: 0, Away score: 18
Match number: 24, Difference: 18, Date: 1991-09-15, Home team: Guam, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 25, Difference: 17, Date: 2010-10-14, Home team: Dominican Republic, Away team: British Virgin Islands, Home score: 17, Away score: 0
Match number: 26, Difference: 17, Date: 2003-06-30, Home team: Tahiti, Away team: Micronesia, Home score: 17, Away score: 0
Match number: 27, Difference: 17, Date: 2000-06-19, Home team: Australia, Away team: Cook Islands, Home score: 17, Away score: 0
Match number: 28, Difference: 17, Date: 1997-06-02, Home team: Maldives, Away team: Iran, Home score: 0, Away score: 17
Match number: 29, Difference: 16, Date: 2000-11-26, Home team: Tajikistan, Away team: Guam, Home score: 16, Away score: 0
Match number: 30, Difference: 16, Date: 2007-08-25, Home team: Fiji, Away team: Tuvalu, Home score: 16, Away score: 0
Match number: 31, Difference: 16, Date: 1998-09-28, Home team: Australia, Away team: Cook Islands, Home score: 16, Away score: 0
Match number: 32, Difference: 16, Date: 2012-09-05, Home team: Martinique, Away team: British Virgin Islands, Home score: 16, Away score: 0
Match number: 33, Difference: 16, Date: 2011-09-05, Home team: Kiribati, Away team: Tahiti, Home score: 1, Away score: 17
Match number: 34, Difference: 16, Date: 2003-07-01, Home team: Greenland, Away team: Sark, Home score: 16, Away score: 0
Match number: 35, Difference: 16, Date: 2012-01-14, Home team: Gozo, Away team: Raetia, Home score: 17, Away score: 1
Match number: 36, Difference: 16, Date: 2011-09-03, Home team: Kiribati, Away team: Papua New Guinea, Home score: 1, Away score: 17
Match number: 37, Difference: 16, Date: 1995-08-21, Home team: Cook Islands, Away team: Solomon Islands, Home score: 0, Away score: 16
Match number: 38, Difference: 16, Date: 2003-09-29, Home team: South Korea, Away team: Nepal, Home score: 16, Away score: 0
Match number: 39, Difference: 15, Date: 1998-12-05, Home team: Mongolia, Away team: Uzbekistan, Home score: 0, Away score: 15
Match number: 40, Difference: 15, Date: 2015-09-03, Home team: Qatar, Away team: Bhutan, Home score: 15, Away score: 0
Match number: 41, Difference: 15, Date: 2003-07-03, Home team: Frøya, Away team: Sark, Home score: 15, Away score: 0
Match number: 42, Difference: 15, Date: 1971-09-11, Home team: Cook Islands, Away team: Papua New Guinea, Home score: 1, Away score: 16
Match number: 43, Difference: 15, Date: 2005-03-07, Home team: Guam, Away team: Hong Kong, Home score: 0, Away score: 15
Match number: 44, Difference: 15, Date: 2007-08-29, Home team: American Samoa, Away team: Vanuatu, Home score: 0, Away score: 15
Match number: 45, Difference: 15, Date: 2012-06-04, Home team: Northern Cyprus, Away team: Darfur, Home score: 15, Away score: 0
Match number: 46, Difference: 15, Date: 1991-09-09, Home team: Guam, Away team: Tahiti, Home score: 0, Away score: 15
Match number: 47, Difference: 15, Date: 1963-11-15, Home team: Egypt, Away team: Laos, Home score: 15, Away score: 0
Match number: 48, Difference: 15, Date: 2019-11-10, Home team: Trinidad and Tobago, Away team: Anguilla, Home score: 15, Away score: 0
Match number: 49, Difference: 15, Date: 2012-09-28, Home team: Saint Pierre and Miquelon, Away team: New Caledonia, Home score: 1, Away score: 16
Match number: 50, Difference: 14, Date: 1966-11-30, Home team: North Korea, Away team: Yemen, Home score: 14, Away score: 0
Match number: 51, Difference: 14, Date: 2019-07-15, Home team: Tonga, Away team: Vanuatu, Home score: 0, Away score: 14
Match number: 52, Difference: 14, Date: 2017-03-28, Home team: Oman, Away team: Bhutan, Home score: 14, Away score: 0
Match number: 53, Difference: 14, Date: 1983-08-20, Home team: Niue, Away team: Tahiti, Home score: 0, Away score: 14
Match number: 54, Difference: 14, Date: 1946-12-15, Home team: Curaçao, Away team: Puerto Rico, Home score: 14, Away score: 0
Match number: 55, Difference: 14, Date: 1973-08-17, Home team: Algeria, Away team: Yemen, Home score: 15, Away score: 1
Match number: 56, Difference: 14, Date: 1998-04-19, Home team: Guyana, Away team: Anguilla, Home score: 14, Away score: 0
Match number: 57, Difference: 14, Date: 1963-11-11, Home team: North Korea, Away team: Somalia, Home score: 14, Away score: 0
Match number: 58, Difference: 14, Date: 2007-06-21, Home team: Hong Kong, Away team: Guam, Home score: 15, Away score: 1
Match number: 59, Difference: 14, Date: 2006-11-23, Home team: Sápmi, Away team: Monaco, Home score: 14, Away score: 0
Match number: 60, Difference: 14, Date: 1971-09-15, Home team: Cook Islands, Away team: Fiji, Home score: 1, Away score: 15
Match number: 61, Difference: 14, Date: 2019-10-10, Home team: Iran, Away team: Cambodia, Home score: 14, Away score: 0
Match number: 62, Difference: 14, Date: 2023-11-18, Home team: France, Away team: Gibraltar, Home score: 14, Away score: 0
Match number: 63, Difference: 14, Date: 1962-08-26, Home team: Malaysia, Away team: Philippines, Home score: 15, Away score: 1
Match number: 64, Difference: 14, Date: 2021-03-30, Home team: Japan, Away team: Mongolia, Home score: 14, Away score: 0
Match number: 65, Difference: 14, Date: 2005-05-03, Home team: Occitania, Away team: Chechnya, Home score: 14, Away score: 0
Match number: 66, Difference: 13, Date: 1995-08-17, Home team: Tahiti, Away team: Wallis Islands and Futuna, Home score: 13, Away score: 0
Match number: 67, Difference: 13, Date: 1966-04-06, Home team: Libya, Away team: Yemen, Home score: 13, Away score: 0
Match number: 68, Difference: 13, Date: 1917-05-07, Home team: Japan, Away team: Philippines, Home score: 2, Away score: 15
Match number: 69, Difference: 13, Date: 1981-08-16, Home team: New Zealand, Away team: Fiji, Home score: 13, Away score: 0
Match number: 70, Difference: 13, Date: 1998-04-15, Home team: Grenada, Away team: Anguilla, Home score: 14, Away score: 1
Match number: 71, Difference: 13, Date: 1882-02-18, Home team: Northern Ireland, Away team: England, Home score: 0, Away score: 13
Match number: 72, Difference: 13, Date: 1917-05-10, Home team: Japan, Away team: Philippines, Home score: 2, Away score: 15
Match number: 73, Difference: 13, Date: 1992-08-18, Home team: Ethiopia, Away team: Iraq, Home score: 0, Away score: 13
Match number: 74, Difference: 13, Date: 1991-09-12, Home team: Fiji, Away team: Guam, Home score: 14, Away score: 1
Match number: 75, Difference: 13, Date: 2001-04-07, Home team: Fiji, Away team: American Samoa, Home score: 13, Away score: 0
Match number: 76, Difference: 13, Date: 2019-07-08, Home team: Tuvalu, Away team: Solomon Islands, Home score: 0, Away score: 13
Match number: 77, Difference: 13, Date: 2012-09-22, Home team: Guadeloupe, Away team: Saint Pierre and Miquelon, Home score: 13, Away score: 0
Match number: 78, Difference: 13, Date: 2018-09-10, Home team: Haiti, Away team: Sint Maarten, Home score: 13, Away score: 0
Match number: 79, Difference: 13, Date: 1933-05-21, Home team: Spain, Away team: Bulgaria, Home score: 13, Away score: 0
Match number: 80, Difference: 13, Date: 1979-08-31, Home team: Kiribati, Away team: Papua New Guinea, Home score: 0, Away score: 13
Match number: 81, Difference: 13, Date: 2006-09-06, Home team: San Marino, Away team: Germany, Home score: 0, Away score: 13
Match number: 82, Difference: 13, Date: 1940-09-01, Home team: Germany, Away team: Finland, Home score: 13, Away score: 0
Match number: 83, Difference: 13, Date: 2021-06-05, Home team: Panama, Away team: Anguilla, Home score: 13, Away score: 0
Match number: 84, Difference: 13, Date: 2019-07-15, Home team: Solomon Islands, Away team: American Samoa, Home score: 13, Away score: 0
Match number: 85, Difference: 13, Date: 1997-06-11, Home team: Australia, Away team: Solomon Islands, Home score: 13, Away score: 0
Match number: 86, Difference: 13, Date: 2001-04-14, Home team: Saint Lucia, Away team: United States Virgin Islands, Home score: 14, Away score: 1
Match number: 87, Difference: 13, Date: 1950-04-14, Home team: Mauritius, Away team: Réunion, Home score: 15, Away score: 2
Match number: 88, Difference: 13, Date: 1981-07-08, Home team: Tahiti, Away team: Western Samoa, Home score: 13, Away score: 0
Match number: 89, Difference: 13, Date: 1998-08-01, Home team: Palau, Away team: Guam, Home score: 2, Away score: 15
Match number: 90, Difference: 13, Date: 2004-02-29, Home team: Bermuda, Away team: Montserrat, Home score: 13, Away score: 0
Match number: 91, Difference: 13, Date: 1999-06-28, Home team: Hitra, Away team: Isle of Man, Home score: 0, Away score: 13
Match number: 92, Difference: 12, Date: 1998-09-07, Home team: Tahiti, Away team: American Samoa, Home score: 12, Away score: 0
Match number: 93, Difference: 12, Date: 1969-05-21, Home team: Germany, Away team: Cyprus, Home score: 12, Away score: 0
Match number: 94, Difference: 12, Date: 2003-12-03, Home team: Maldives, Away team: Mongolia, Home score: 12, Away score: 0
Match number: 95, Difference: 12, Date: 2004-11-24, Home team: Jamaica, Away team: Saint Martin, Home score: 12, Away score: 0
Match number: 96, Difference: 12, Date: 1950-09-24, Home team: Hungary, Away team: Albania, Home score: 12, Away score: 0
Match number: 97, Difference: 12, Date: 2006-02-18, Home team: Monaco, Away team: Chechnya, Home score: 13, Away score: 1
Match number: 98, Difference: 12, Date: 1993-12-13, Home team: Fiji, Away team: Guam, Home score: 12, Away score: 0
Match number: 99, Difference: 12, Date: 1927-06-12, Home team: Hungary, Away team: France, Home score: 13, Away score: 1
Match number: 100, Difference: 12, Date: 1967-08-23, Home team: Denmark, Away team: Iceland, Home score: 14, Away score: 2
Inserted 100 flipped matches.

## INDEXES

### Applying Indexes SQL Basic

In [533]:
    
# Create indexes for the teams playing against each other
create_index_query = """
CREATE INDEX idx_home_team_away_team ON matches(home_team, away_team);
"""

# Create indexes for the scores
create_index_query2 = """
CREATE INDEX idx_scores ON matches(home_score, away_score);
"""


# Reset the database
database_name_sql_basic = 'football_db'
df_results, df_goalscorers, df_shootouts = clean_data()
create_mysql_database_basic(engine, database_name_sql_basic)
insert_data_mysql_basic(df_results, df_goalscorers, df_shootouts, engine)

# Execute the queries
try:
    with engine.begin() as connection:
        connection.execute(text(create_index_query))
        connection.execute(text(create_index_query2))
        print("Indexes created successfully.")
except Exception as e:
    print(f"Error creating indexes: {e}")

Database 'football_db' created successfully.
Table 'matches' created successfully.
Table 'goalscorers' created successfully.
Table 'shootouts' created successfully.
Data inserted into 'matches' successfully.
Data inserted into 'goalscorers' successfully.
Data inserted into 'shootouts' successfully.
Indexes created successfully.

### Queries on SQL only with Indexes

In [534]:
sql_indexed_sq1_time, sql_indexed_sq2_time = simple_queries_mysql_basic(engine)
sql_indexed_cq1_time = complex_query1_mysql_basic(engine)
sql_indexed_cq2_time = complex_query2_mysql_basic(engine)

Time to execute query 1: 0.04771920805796981
46  results for query 1
Time to execute query 2: 0.000848833005875349
5  results for query 2
Results for Query 1:
(28202, datetime.date(2004, 6, 5), 'Portugal', 'Lithuania', 4, 1, 'Friendly', 'Setúbal', 'Portugal', 0)
(28558, datetime.date(2004, 9, 8), 'Portugal', 'Estonia', 4, 0, 'FIFA World Cup qualification', 'Leiria', 'Portugal', 0)
(28674, datetime.date(2004, 10, 13), 'Portugal', 'Russia', 7, 1, 'FIFA World Cup qualification', 'Lisbon', 'Portugal', 0)
(28742, datetime.date(2004, 11, 17), 'Luxembourg', 'Portugal', 0, 5, 'FIFA World Cup qualification', 'Luxembourg', 'Luxembourg', 0)
(29037, datetime.date(2005, 3, 26), 'Portugal', 'Canada', 4, 1, 'Friendly', 'Barcelos', 'Portugal', 0)
(29400, datetime.date(2005, 9, 3), 'Portugal', 'Luxembourg', 6, 0, 'FIFA World Cup qualification', 'Faro', 'Portugal', 0)
(29917, datetime.date(2006, 5, 27), 'Portugal', 'Cape Verde', 4, 1, 'Friendly', 'Évora', 'Portugal', 0)
(30687, datetime.date(2007, 3, 24), 'Portugal', 'Belgium', 4, 0, 'UEFA Euro qualification', 'Lisbon', 'Portugal', 0)
(32189, datetime.date(2008, 8, 20), 'Portugal', 'Faroe Islands', 5, 0, 'Friendly', 'Aveiro', 'Portugal', 0)
(32252, datetime.date(2008, 9, 6), 'Malta', 'Portugal', 0, 4, 'FIFA World Cup qualification', 'Attard', 'Malta', 0)
(33364, datetime.date(2009, 10, 14), 'Portugal', 'Malta', 4, 0, 'FIFA World Cup qualification', 'Guimarães', 'Portugal', 0)
(33848, datetime.date(2010, 6, 21), 'Portugal', 'North Korea', 7, 0, 'FIFA World Cup', 'Cape Town', 'South Africa', 1)
(33973, datetime.date(2010, 9, 3), 'Portugal', 'Cyprus', 4, 4, 'UEFA Euro qualification', 'Guimarães', 'Portugal', 0)
(34296, datetime.date(2010, 11, 17), 'Portugal', 'Spain', 4, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(34977, datetime.date(2011, 8, 10), 'Portugal', 'Luxembourg', 5, 0, 'Friendly', 'Faro', 'Portugal', 0)
(35043, datetime.date(2011, 9, 2), 'Cyprus', 'Portugal', 0, 4, 'UEFA Euro qualification', 'Nicosia', 'Cyprus', 0)
(35225, datetime.date(2011, 10, 7), 'Portugal', 'Iceland', 5, 3, 'UEFA Euro qualification', 'Porto', 'Portugal', 0)
(35430, datetime.date(2011, 11, 15), 'Portugal', 'Bosnia and Herzegovina', 6, 2, 'UEFA Euro qualification', 'Lisbon', 'Portugal', 0)
(37162, datetime.date(2013, 9, 6), 'Northern Ireland', 'Portugal', 2, 4, 'FIFA World Cup qualification', 'Belfast', 'Northern Ireland', 0)
(37552, datetime.date(2014, 3, 5), 'Portugal', 'Cameroon', 5, 1, 'Friendly', 'Leiria', 'Portugal', 0)
(37778, datetime.date(2014, 6, 10), 'Republic of Ireland', 'Portugal', 1, 5, 'Friendly', 'East Rutherford', 'United States', 1)
(39767, datetime.date(2016, 6, 8), 'Portugal', 'Estonia', 7, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(39918, datetime.date(2016, 9, 1), 'Portugal', 'Gibraltar', 5, 0, 'Friendly', 'Porto', 'Portugal', 0)
(40052, datetime.date(2016, 10, 7), 'Portugal', 'Andorra', 6, 0, 'FIFA World Cup qualification', 'Aveiro', 'Portugal', 0)
(40097, datetime.date(2016, 10, 10), 'Faroe Islands', 'Portugal', 0, 6, 'FIFA World Cup qualification', 'Tórshavn', 'Faroe Islands', 0)
(40220, datetime.date(2016, 11, 13), 'Portugal', 'Latvia', 4, 1, 'FIFA World Cup qualification', 'Faro', 'Portugal', 0)
(40519, datetime.date(2017, 6, 3), 'Portugal', 'Cyprus', 4, 0, 'Friendly', 'Estoril', 'Portugal', 0)
(40681, datetime.date(2017, 6, 24), 'New Zealand', 'Portugal', 0, 4, 'Confederations Cup', 'Saint Petersburg', 'Russia', 1)
(40819, datetime.date(2017, 8, 31), 'Portugal', 'Faroe Islands', 5, 1, 'FIFA World Cup qualification', 'Porto', 'Portugal', 0)
(42808, datetime.date(2019, 9, 7), 'Serbia', 'Portugal', 2, 4, 'UEFA Euro qualification', 'Belgrade', 'Serbia', 0)
(42870, datetime.date(2019, 9, 10), 'Lithuania', 'Portugal', 1, 5, 'UEFA Euro qualification', 'Vilnius', 'Lithuania', 0)
(43104, datetime.date(2019, 11, 14), 'Portugal', 'Lithuania', 6, 0, 'UEFA Euro qualification', 'Faro-Loulé', 'Portugal', 0)
(43316, datetime.date(2020, 9, 5), 'Portugal', 'Croatia', 4, 1, 'UEFA Nations League', 'Porto', 'Portugal', 0)
(43490, datetime.date(2020, 11, 11), 'Portugal', 'Andorra', 7, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(43990, datetime.date(2021, 6, 9), 'Portugal', 'Israel', 4, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(44501, datetime.date(2021, 10, 12), 'Portugal', 'Luxembourg', 5, 0, 'FIFA World Cup qualification', 'Faro-Loulé', 'Portugal', 0)
(45151, datetime.date(2022, 6, 5), 'Portugal', 'Switzerland', 4, 0, 'UEFA Nations League', 'Lisbon', 'Portugal', 0)
(45455, datetime.date(2022, 9, 24), 'Czech Republic', 'Portugal', 0, 4, 'UEFA Nations League', 'Prague', 'Czech Republic', 0)
(45586, datetime.date(2022, 11, 17), 'Portugal', 'Nigeria', 4, 0, 'Friendly', 'Lisbon', 'Portugal', 0)
(45685, datetime.date(2022, 12, 6), 'Portugal', 'Switzerland', 6, 1, 'FIFA World Cup', 'Lusail', 'Qatar', 1)
(45789, datetime.date(2023, 3, 23), 'Portugal', 'Liechtenstein', 4, 0, 'UEFA Euro qualification', 'Lisbon', 'Portugal', 0)
(45867, datetime.date(2023, 3, 26), 'Luxembourg', 'Portugal', 0, 6, 'UEFA Euro qualification', 'Luxembourg', 'Luxembourg', 0)
(46343, datetime.date(2023, 9, 11), 'Portugal', 'Luxembourg', 9, 0, 'UEFA Euro qualification', 'São João da Venda', 'Portugal', 0)
(46507, datetime.date(2023, 10, 16), 'Bosnia and Herzegovina', 'Portugal', 0, 5, 'UEFA Euro qualification', 'Zenica', 'Bosnia and Herzegovina', 0)
(46967, datetime.date(2024, 3, 21), 'Portugal', 'Sweden', 5, 2, 'Friendly', 'Guimarães', 'Portugal', 0)
(47103, datetime.date(2024, 6, 4), 'Portugal', 'Finland', 4, 2, 'Friendly', 'Lisbon', 'Portugal', 0)
Results for Query 2:
(18079, datetime.date(1992, 1, 26), 'Australia', 'Sweden', 0, 0, 'Friendly', 'Sydney', 'Australia', 0)
(18082, datetime.date(1992, 1, 29), 'Australia', 'Sweden', 1, 0, 'Friendly', 'Adelaide', 'Australia', 0)
(18084, datetime.date(1992, 2, 2), 'Australia', 'Sweden', 1, 0, 'Friendly', 'Melbourne', 'Australia', 0)
(20831, datetime.date(1996, 2, 25), 'Australia', 'Sweden', 0, 2, 'Friendly', 'Brisbane', 'Australia', 0)
(20834, datetime.date(1996, 2, 28), 'Australia', 'Sweden', 0, 0, 'Friendly', 'Sydney', 'Australia', 0)
Time to execute the complex query 1: 0.05549970793072134
Teams that have played with each other at least 100 times:
Home team:  Argentina , Away team:  Brazil , Count:  109
Home team:  Argentina , Away team:  Paraguay , Count:  106
Home team:  Argentina , Away team:  Uruguay , Count:  182
Home team:  Austria , Away team:  Hungary , Count:  137
Home team:  Belgium , Away team:  Netherlands , Count:  128
Home team:  Denmark , Away team:  Sweden , Count:  108
Home team:  England , Away team:  Scotland , Count:  118
Home team:  England , Away team:  Wales , Count:  105
Home team:  Guernsey , Away team:  Jersey , Count:  119
Home team:  Kenya , Away team:  Uganda , Count:  110
Home team:  Norway , Away team:  Sweden , Count:  109
Home team:  Scotland , Away team:  Wales , Count:  106
229  matches updated
Time to execute the complex query 2: 0.12449658301193267
Matches with the most difference between the home_score and away_score:
Match number: 1, Difference: 31, Date: 2001-04-11, Home team: Australia, Away team: American Samoa, Home score: 31, Away score: 0
Match number: 2, Difference: 30, Date: 1971-09-13, Home team: Tahiti, Away team: Cook Islands, Home score: 30, Away score: 0
Match number: 3, Difference: 24, Date: 1979-08-30, Home team: Fiji, Away team: Kiribati, Home score: 24, Away score: 0
Match number: 4, Difference: 22, Date: 2001-04-09, Home team: Australia, Away team: Tonga, Home score: 22, Away score: 0
Match number: 5, Difference: 21, Date: 2005-03-11, Home team: Guam, Away team: North Korea, Home score: 0, Away score: 21
Match number: 6, Difference: 21, Date: 1966-04-03, Home team: Libya, Away team: Oman, Home score: 21, Away score: 0
Match number: 7, Difference: 20, Date: 2000-02-14, Home team: Kuwait, Away team: Bhutan, Home score: 20, Away score: 0
Match number: 8, Difference: 20, Date: 2003-06-30, Home team: Sark, Away team: Isle of Wight, Home score: 0, Away score: 20
Match number: 9, Difference: 20, Date: 1987-12-15, Home team: American Samoa, Away team: Papua New Guinea, Home score: 0, Away score: 20
Match number: 10, Difference: 20, Date: 2014-06-01, Home team: Darfur, Away team: Padania, Home score: 0, Away score: 20
Match number: 11, Difference: 20, Date: 2006-11-24, Home team: Sápmi, Away team: Monaco, Home score: 21, Away score: 1
Match number: 12, Difference: 19, Date: 1983-08-22, Home team: Niue, Away team: Papua New Guinea, Home score: 0, Away score: 19
Match number: 13, Difference: 19, Date: 2000-11-24, Home team: Iran, Away team: Guam, Home score: 19, Away score: 0
Match number: 14, Difference: 19, Date: 2014-06-02, Home team: Darfur, Away team: South Ossetia, Home score: 0, Away score: 19
Match number: 15, Difference: 19, Date: 2003-06-29, Home team: Gibraltar, Away team: Sark, Home score: 19, Away score: 0
Match number: 16, Difference: 19, Date: 2000-01-26, Home team: China PR, Away team: Guam, Home score: 19, Away score: 0
Match number: 17, Difference: 19, Date: 1997-05-13, Home team: Kazakhstan, Away team: Guam, Home score: 20, Away score: 1
Match number: 18, Difference: 18, Date: 2012-06-05, Home team: Darfur, Away team: Provence, Home score: 0, Away score: 18
Match number: 19, Difference: 18, Date: 1994-03-19, Home team: Jersey, Away team: Alderney, Home score: 18, Away score: 0
Match number: 20, Difference: 18, Date: 1979-08-30, Home team: Tahiti, Away team: Tuvalu, Home score: 18, Away score: 0
Match number: 21, Difference: 18, Date: 2003-07-07, Home team: Kiribati, Away team: Vanuatu, Home score: 0, Away score: 18
Match number: 22, Difference: 18, Date: 2003-07-01, Home team: Micronesia, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 23, Difference: 18, Date: 1963-09-06, Home team: Solomon Islands, Away team: Tahiti, Home score: 0, Away score: 18
Match number: 24, Difference: 18, Date: 1991-09-15, Home team: Guam, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 25, Difference: 17, Date: 2010-10-14, Home team: Dominican Republic, Away team: British Virgin Islands, Home score: 17, Away score: 0
Match number: 26, Difference: 17, Date: 2003-06-30, Home team: Tahiti, Away team: Micronesia, Home score: 17, Away score: 0
Match number: 27, Difference: 17, Date: 2000-06-19, Home team: Australia, Away team: Cook Islands, Home score: 17, Away score: 0
Match number: 28, Difference: 17, Date: 1997-06-02, Home team: Maldives, Away team: Iran, Home score: 0, Away score: 17
Match number: 29, Difference: 16, Date: 2000-11-26, Home team: Tajikistan, Away team: Guam, Home score: 16, Away score: 0
Match number: 30, Difference: 16, Date: 2007-08-25, Home team: Fiji, Away team: Tuvalu, Home score: 16, Away score: 0
Match number: 31, Difference: 16, Date: 1998-09-28, Home team: Australia, Away team: Cook Islands, Home score: 16, Away score: 0
Match number: 32, Difference: 16, Date: 2012-09-05, Home team: Martinique, Away team: British Virgin Islands, Home score: 16, Away score: 0
Match number: 33, Difference: 16, Date: 2011-09-05, Home team: Kiribati, Away team: Tahiti, Home score: 1, Away score: 17
Match number: 34, Difference: 16, Date: 2003-07-01, Home team: Greenland, Away team: Sark, Home score: 16, Away score: 0
Match number: 35, Difference: 16, Date: 2012-01-14, Home team: Gozo, Away team: Raetia, Home score: 17, Away score: 1
Match number: 36, Difference: 16, Date: 2011-09-03, Home team: Kiribati, Away team: Papua New Guinea, Home score: 1, Away score: 17
Match number: 37, Difference: 16, Date: 1995-08-21, Home team: Cook Islands, Away team: Solomon Islands, Home score: 0, Away score: 16
Match number: 38, Difference: 16, Date: 2003-09-29, Home team: South Korea, Away team: Nepal, Home score: 16, Away score: 0
Match number: 39, Difference: 15, Date: 1998-12-05, Home team: Mongolia, Away team: Uzbekistan, Home score: 0, Away score: 15
Match number: 40, Difference: 15, Date: 2015-09-03, Home team: Qatar, Away team: Bhutan, Home score: 15, Away score: 0
Match number: 41, Difference: 15, Date: 2003-07-03, Home team: Frøya, Away team: Sark, Home score: 15, Away score: 0
Match number: 42, Difference: 15, Date: 1971-09-11, Home team: Cook Islands, Away team: Papua New Guinea, Home score: 1, Away score: 16
Match number: 43, Difference: 15, Date: 2005-03-07, Home team: Guam, Away team: Hong Kong, Home score: 0, Away score: 15
Match number: 44, Difference: 15, Date: 2007-08-29, Home team: American Samoa, Away team: Vanuatu, Home score: 0, Away score: 15
Match number: 45, Difference: 15, Date: 2012-06-04, Home team: Northern Cyprus, Away team: Darfur, Home score: 15, Away score: 0
Match number: 46, Difference: 15, Date: 1991-09-09, Home team: Guam, Away team: Tahiti, Home score: 0, Away score: 15
Match number: 47, Difference: 15, Date: 1963-11-15, Home team: Egypt, Away team: Laos, Home score: 15, Away score: 0
Match number: 48, Difference: 15, Date: 2019-11-10, Home team: Trinidad and Tobago, Away team: Anguilla, Home score: 15, Away score: 0
Match number: 49, Difference: 15, Date: 2012-09-28, Home team: Saint Pierre and Miquelon, Away team: New Caledonia, Home score: 1, Away score: 16
Match number: 50, Difference: 14, Date: 1966-11-30, Home team: North Korea, Away team: Yemen, Home score: 14, Away score: 0
Match number: 51, Difference: 14, Date: 2019-07-15, Home team: Tonga, Away team: Vanuatu, Home score: 0, Away score: 14
Match number: 52, Difference: 14, Date: 2017-03-28, Home team: Oman, Away team: Bhutan, Home score: 14, Away score: 0
Match number: 53, Difference: 14, Date: 1983-08-20, Home team: Niue, Away team: Tahiti, Home score: 0, Away score: 14
Match number: 54, Difference: 14, Date: 1946-12-15, Home team: Curaçao, Away team: Puerto Rico, Home score: 14, Away score: 0
Match number: 55, Difference: 14, Date: 1973-08-17, Home team: Algeria, Away team: Yemen, Home score: 15, Away score: 1
Match number: 56, Difference: 14, Date: 1998-04-19, Home team: Guyana, Away team: Anguilla, Home score: 14, Away score: 0
Match number: 57, Difference: 14, Date: 1963-11-11, Home team: North Korea, Away team: Somalia, Home score: 14, Away score: 0
Match number: 58, Difference: 14, Date: 2007-06-21, Home team: Hong Kong, Away team: Guam, Home score: 15, Away score: 1
Match number: 59, Difference: 14, Date: 2006-11-23, Home team: Sápmi, Away team: Monaco, Home score: 14, Away score: 0
Match number: 60, Difference: 14, Date: 1971-09-15, Home team: Cook Islands, Away team: Fiji, Home score: 1, Away score: 15
Match number: 61, Difference: 14, Date: 2019-10-10, Home team: Iran, Away team: Cambodia, Home score: 14, Away score: 0
Match number: 62, Difference: 14, Date: 2023-11-18, Home team: France, Away team: Gibraltar, Home score: 14, Away score: 0
Match number: 63, Difference: 14, Date: 1962-08-26, Home team: Malaysia, Away team: Philippines, Home score: 15, Away score: 1
Match number: 64, Difference: 14, Date: 2021-03-30, Home team: Japan, Away team: Mongolia, Home score: 14, Away score: 0
Match number: 65, Difference: 14, Date: 2005-05-03, Home team: Occitania, Away team: Chechnya, Home score: 14, Away score: 0
Match number: 66, Difference: 13, Date: 1995-08-17, Home team: Tahiti, Away team: Wallis Islands and Futuna, Home score: 13, Away score: 0
Match number: 67, Difference: 13, Date: 1966-04-06, Home team: Libya, Away team: Yemen, Home score: 13, Away score: 0
Match number: 68, Difference: 13, Date: 1917-05-07, Home team: Japan, Away team: Philippines, Home score: 2, Away score: 15
Match number: 69, Difference: 13, Date: 1981-08-16, Home team: New Zealand, Away team: Fiji, Home score: 13, Away score: 0
Match number: 70, Difference: 13, Date: 1998-04-15, Home team: Grenada, Away team: Anguilla, Home score: 14, Away score: 1
Match number: 71, Difference: 13, Date: 1882-02-18, Home team: Northern Ireland, Away team: England, Home score: 0, Away score: 13
Match number: 72, Difference: 13, Date: 1917-05-10, Home team: Japan, Away team: Philippines, Home score: 2, Away score: 15
Match number: 73, Difference: 13, Date: 1992-08-18, Home team: Ethiopia, Away team: Iraq, Home score: 0, Away score: 13
Match number: 74, Difference: 13, Date: 1991-09-12, Home team: Fiji, Away team: Guam, Home score: 14, Away score: 1
Match number: 75, Difference: 13, Date: 2001-04-07, Home team: Fiji, Away team: American Samoa, Home score: 13, Away score: 0
Match number: 76, Difference: 13, Date: 2019-07-08, Home team: Tuvalu, Away team: Solomon Islands, Home score: 0, Away score: 13
Match number: 77, Difference: 13, Date: 2012-09-22, Home team: Guadeloupe, Away team: Saint Pierre and Miquelon, Home score: 13, Away score: 0
Match number: 78, Difference: 13, Date: 2018-09-10, Home team: Haiti, Away team: Sint Maarten, Home score: 13, Away score: 0
Match number: 79, Difference: 13, Date: 1933-05-21, Home team: Spain, Away team: Bulgaria, Home score: 13, Away score: 0
Match number: 80, Difference: 13, Date: 1979-08-31, Home team: Kiribati, Away team: Papua New Guinea, Home score: 0, Away score: 13
Match number: 81, Difference: 13, Date: 2006-09-06, Home team: San Marino, Away team: Germany, Home score: 0, Away score: 13
Match number: 82, Difference: 13, Date: 1940-09-01, Home team: Germany, Away team: Finland, Home score: 13, Away score: 0
Match number: 83, Difference: 13, Date: 2021-06-05, Home team: Panama, Away team: Anguilla, Home score: 13, Away score: 0
Match number: 84, Difference: 13, Date: 2019-07-15, Home team: Solomon Islands, Away team: American Samoa, Home score: 13, Away score: 0
Match number: 85, Difference: 13, Date: 1997-06-11, Home team: Australia, Away team: Solomon Islands, Home score: 13, Away score: 0
Match number: 86, Difference: 13, Date: 2001-04-14, Home team: Saint Lucia, Away team: United States Virgin Islands, Home score: 14, Away score: 1
Match number: 87, Difference: 13, Date: 1950-04-14, Home team: Mauritius, Away team: Réunion, Home score: 15, Away score: 2
Match number: 88, Difference: 13, Date: 1981-07-08, Home team: Tahiti, Away team: Western Samoa, Home score: 13, Away score: 0
Match number: 89, Difference: 13, Date: 1998-08-01, Home team: Palau, Away team: Guam, Home score: 2, Away score: 15
Match number: 90, Difference: 13, Date: 2004-02-29, Home team: Bermuda, Away team: Montserrat, Home score: 13, Away score: 0
Match number: 91, Difference: 13, Date: 1999-06-28, Home team: Hitra, Away team: Isle of Man, Home score: 0, Away score: 13
Match number: 92, Difference: 12, Date: 1998-09-07, Home team: Tahiti, Away team: American Samoa, Home score: 12, Away score: 0
Match number: 93, Difference: 12, Date: 1969-05-21, Home team: Germany, Away team: Cyprus, Home score: 12, Away score: 0
Match number: 94, Difference: 12, Date: 2003-12-03, Home team: Maldives, Away team: Mongolia, Home score: 12, Away score: 0
Match number: 95, Difference: 12, Date: 2004-11-24, Home team: Jamaica, Away team: Saint Martin, Home score: 12, Away score: 0
Match number: 96, Difference: 12, Date: 1950-09-24, Home team: Hungary, Away team: Albania, Home score: 12, Away score: 0
Match number: 97, Difference: 12, Date: 2006-02-18, Home team: Monaco, Away team: Chechnya, Home score: 13, Away score: 1
Match number: 98, Difference: 12, Date: 1993-12-13, Home team: Fiji, Away team: Guam, Home score: 12, Away score: 0
Match number: 99, Difference: 12, Date: 1927-06-12, Home team: Hungary, Away team: France, Home score: 13, Away score: 1
Match number: 100, Difference: 12, Date: 1967-08-23, Home team: Denmark, Away team: Iceland, Home score: 14, Away score: 2
Inserted 100 flipped matches.

### Applying Indexes Mongo Basic

In [512]:
# Reset the database
df_results, df_goalscorers, df_shootouts = clean_data()
_, collection_results = create_mongo_basic_database(client)
insert_data_mongo_basic(df_results, df_goalscorers, df_shootouts, collection_results)

collection_results.create_index([("home_team", ASCENDING), ("away_team", ASCENDING)])

collection_results.create_index([("home_score", ASCENDING), ("away_score", ASCENDING)])

print("Indexes created successfully.")

Indexes created successfully.

### Queries on MongoDB only with Indexes

In [513]:
mongo_indexed_sq1_time, mongo_indexed_sq2_time = simple_queries_mongo_basic(collection_results)
mongo_indexed_cq1_time = complex_query1_mongo_basic(collection_results)
mongo_indexed_cq2_time = complex_query2_mongo_basic(collection_results)

Time to execute query 1: 1.4625024050474167e-05
46  results for query 1
Time to execute query 2: 1.2625008821487427e-05
5  results for query 2
Results for query 1:
Date: 2004-06-05 00:00:00 Home team: Portugal Away team: Lithuania Home score: 4 Away score: 1
Date: 2004-09-08 00:00:00 Home team: Portugal Away team: Estonia Home score: 4 Away score: 0
Date: 2004-10-13 00:00:00 Home team: Portugal Away team: Russia Home score: 7 Away score: 1
Date: 2004-11-17 00:00:00 Home team: Luxembourg Away team: Portugal Home score: 0 Away score: 5
Date: 2005-03-26 00:00:00 Home team: Portugal Away team: Canada Home score: 4 Away score: 1
Date: 2005-09-03 00:00:00 Home team: Portugal Away team: Luxembourg Home score: 6 Away score: 0
Date: 2006-05-27 00:00:00 Home team: Portugal Away team: Cape Verde Home score: 4 Away score: 1
Date: 2007-03-24 00:00:00 Home team: Portugal Away team: Belgium Home score: 4 Away score: 0
Date: 2008-08-20 00:00:00 Home team: Portugal Away team: Faroe Islands Home score: 5 Away score: 0
Date: 2008-09-06 00:00:00 Home team: Malta Away team: Portugal Home score: 0 Away score: 4
Date: 2009-10-14 00:00:00 Home team: Portugal Away team: Malta Home score: 4 Away score: 0
Date: 2010-06-21 00:00:00 Home team: Portugal Away team: North Korea Home score: 7 Away score: 0
Date: 2010-09-03 00:00:00 Home team: Portugal Away team: Cyprus Home score: 4 Away score: 4
Date: 2010-11-17 00:00:00 Home team: Portugal Away team: Spain Home score: 4 Away score: 0
Date: 2011-08-10 00:00:00 Home team: Portugal Away team: Luxembourg Home score: 5 Away score: 0
Date: 2011-09-02 00:00:00 Home team: Cyprus Away team: Portugal Home score: 0 Away score: 4
Date: 2011-10-07 00:00:00 Home team: Portugal Away team: Iceland Home score: 5 Away score: 3
Date: 2011-11-15 00:00:00 Home team: Portugal Away team: Bosnia and Herzegovina Home score: 6 Away score: 2
Date: 2013-09-06 00:00:00 Home team: Northern Ireland Away team: Portugal Home score: 2 Away score: 4
Date: 2014-03-05 00:00:00 Home team: Portugal Away team: Cameroon Home score: 5 Away score: 1
Date: 2014-06-10 00:00:00 Home team: Republic of Ireland Away team: Portugal Home score: 1 Away score: 5
Date: 2016-06-08 00:00:00 Home team: Portugal Away team: Estonia Home score: 7 Away score: 0
Date: 2016-09-01 00:00:00 Home team: Portugal Away team: Gibraltar Home score: 5 Away score: 0
Date: 2016-10-07 00:00:00 Home team: Portugal Away team: Andorra Home score: 6 Away score: 0
Date: 2016-10-10 00:00:00 Home team: Faroe Islands Away team: Portugal Home score: 0 Away score: 6
Date: 2016-11-13 00:00:00 Home team: Portugal Away team: Latvia Home score: 4 Away score: 1
Date: 2017-06-03 00:00:00 Home team: Portugal Away team: Cyprus Home score: 4 Away score: 0
Date: 2017-06-24 00:00:00 Home team: New Zealand Away team: Portugal Home score: 0 Away score: 4
Date: 2017-08-31 00:00:00 Home team: Portugal Away team: Faroe Islands Home score: 5 Away score: 1
Date: 2019-09-07 00:00:00 Home team: Serbia Away team: Portugal Home score: 2 Away score: 4
Date: 2019-09-10 00:00:00 Home team: Lithuania Away team: Portugal Home score: 1 Away score: 5
Date: 2019-11-14 00:00:00 Home team: Portugal Away team: Lithuania Home score: 6 Away score: 0
Date: 2020-09-05 00:00:00 Home team: Portugal Away team: Croatia Home score: 4 Away score: 1
Date: 2020-11-11 00:00:00 Home team: Portugal Away team: Andorra Home score: 7 Away score: 0
Date: 2021-06-09 00:00:00 Home team: Portugal Away team: Israel Home score: 4 Away score: 0
Date: 2021-10-12 00:00:00 Home team: Portugal Away team: Luxembourg Home score: 5 Away score: 0
Date: 2022-06-05 00:00:00 Home team: Portugal Away team: Switzerland Home score: 4 Away score: 0
Date: 2022-09-24 00:00:00 Home team: Czech Republic Away team: Portugal Home score: 0 Away score: 4
Date: 2022-11-17 00:00:00 Home team: Portugal Away team: Nigeria Home score: 4 Away score: 0
Date: 2022-12-06 00:00:00 Home team: Portugal Away team: Switzerland Home score: 6 Away score: 1
Date: 2023-03-23 00:00:00 Home team: Portugal Away team: Liechtenstein Home score: 4 Away score: 0
Date: 2023-03-26 00:00:00 Home team: Luxembourg Away team: Portugal Home score: 0 Away score: 6
Date: 2023-09-11 00:00:00 Home team: Portugal Away team: Luxembourg Home score: 9 Away score: 0
Date: 2023-10-16 00:00:00 Home team: Bosnia and Herzegovina Away team: Portugal Home score: 0 Away score: 5
Date: 2024-03-21 00:00:00 Home team: Portugal Away team: Sweden Home score: 5 Away score: 2
Date: 2024-06-04 00:00:00 Home team: Portugal Away team: Finland Home score: 4 Away score: 2
Results for query 2:
Date: 1992-01-26 00:00:00 Home team: Australia Away team: Sweden Home score: 0 Away score: 0
Date: 1992-01-29 00:00:00 Home team: Australia Away team: Sweden Home score: 1 Away score: 0
Date: 1992-02-02 00:00:00 Home team: Australia Away team: Sweden Home score: 1 Away score: 0
Date: 1996-02-25 00:00:00 Home team: Australia Away team: Sweden Home score: 0 Away score: 2
Date: 1996-02-28 00:00:00 Home team: Australia Away team: Sweden Home score: 0 Away score: 0
Time to execute the complex query 1: 0.12411279196385294
Teams that have played with each other at least 100 times:
Home team:  Argentina , Away team:  Paraguay , Count:  106
Home team:  Belgium , Away team:  Netherlands , Count:  128
Home team:  Argentina , Away team:  Uruguay , Count:  182
Home team:  Austria , Away team:  Hungary , Count:  137
Home team:  Kenya , Away team:  Uganda , Count:  110
Home team:  Denmark , Away team:  Sweden , Count:  108
Home team:  England , Away team:  Wales , Count:  105
Home team:  Norway , Away team:  Sweden , Count:  109
Home team:  England , Away team:  Scotland , Count:  118
Home team:  Argentina , Away team:  Brazil , Count:  109
Home team:  Scotland , Away team:  Wales , Count:  106
Home team:  Guernsey , Away team:  Jersey , Count:  119
Matched count:  229
Modified count:  215
Time to execute the complex query 2: 0.0883695000084117
Inserted 100 matches with the most difference in goals scored between the two teams flipped.
Matches with the most difference between the home_score and away_score:
Match number:  1 , Difference:  31 , Date:  2001-04-11 00:00:00 , Home team:  Australia , Away team:  American Samoa
Match number:  2 , Difference:  30 , Date:  1971-09-13 00:00:00 , Home team:  Tahiti , Away team:  Cook Islands
Match number:  3 , Difference:  24 , Date:  1979-08-30 00:00:00 , Home team:  Fiji , Away team:  Kiribati
Match number:  4 , Difference:  22 , Date:  2001-04-09 00:00:00 , Home team:  Australia , Away team:  Tonga
Match number:  5 , Difference:  21 , Date:  1966-04-03 00:00:00 , Home team:  Libya , Away team:  Oman
Match number:  6 , Difference:  21 , Date:  2005-03-11 00:00:00 , Home team:  Guam , Away team:  North Korea
Match number:  7 , Difference:  20 , Date:  1987-12-15 00:00:00 , Home team:  American Samoa , Away team:  Papua New Guinea
Match number:  8 , Difference:  20 , Date:  2006-11-24 00:00:00 , Home team:  Sápmi , Away team:  Monaco
Match number:  9 , Difference:  20 , Date:  2000-02-14 00:00:00 , Home team:  Kuwait , Away team:  Bhutan
Match number:  10 , Difference:  20 , Date:  2014-06-01 00:00:00 , Home team:  Darfur , Away team:  Padania
Match number:  11 , Difference:  20 , Date:  2003-06-30 00:00:00 , Home team:  Sark , Away team:  Isle of Wight
Match number:  12 , Difference:  19 , Date:  1983-08-22 00:00:00 , Home team:  Niue , Away team:  Papua New Guinea
Match number:  13 , Difference:  19 , Date:  2000-11-24 00:00:00 , Home team:  Iran , Away team:  Guam
Match number:  14 , Difference:  19 , Date:  2000-01-26 00:00:00 , Home team:  China PR , Away team:  Guam
Match number:  15 , Difference:  19 , Date:  1997-05-13 00:00:00 , Home team:  Kazakhstan , Away team:  Guam
Match number:  16 , Difference:  19 , Date:  2014-06-02 00:00:00 , Home team:  Darfur , Away team:  South Ossetia
Match number:  17 , Difference:  19 , Date:  2003-06-29 00:00:00 , Home team:  Gibraltar , Away team:  Sark
Match number:  18 , Difference:  18 , Date:  1991-09-15 00:00:00 , Home team:  Guam , Away team:  New Caledonia
Match number:  19 , Difference:  18 , Date:  2012-06-05 00:00:00 , Home team:  Darfur , Away team:  Provence
Match number:  20 , Difference:  18 , Date:  1994-03-19 00:00:00 , Home team:  Jersey , Away team:  Alderney
Match number:  21 , Difference:  18 , Date:  2003-07-07 00:00:00 , Home team:  Kiribati , Away team:  Vanuatu
Match number:  22 , Difference:  18 , Date:  1979-08-30 00:00:00 , Home team:  Tahiti , Away team:  Tuvalu
Match number:  23 , Difference:  18 , Date:  2003-07-01 00:00:00 , Home team:  Micronesia , Away team:  New Caledonia
Match number:  24 , Difference:  18 , Date:  1963-09-06 00:00:00 , Home team:  Solomon Islands , Away team:  Tahiti
Match number:  25 , Difference:  17 , Date:  2010-10-14 00:00:00 , Home team:  Dominican Republic , Away team:  British Virgin Islands
Match number:  26 , Difference:  17 , Date:  2003-06-30 00:00:00 , Home team:  Tahiti , Away team:  Micronesia
Match number:  27 , Difference:  17 , Date:  1997-06-02 00:00:00 , Home team:  Maldives , Away team:  Iran
Match number:  28 , Difference:  17 , Date:  2000-06-19 00:00:00 , Home team:  Australia , Away team:  Cook Islands
Match number:  29 , Difference:  16 , Date:  2003-09-29 00:00:00 , Home team:  South Korea , Away team:  Nepal
Match number:  30 , Difference:  16 , Date:  1998-09-28 00:00:00 , Home team:  Australia , Away team:  Cook Islands
Match number:  31 , Difference:  16 , Date:  2003-07-01 00:00:00 , Home team:  Greenland , Away team:  Sark
Match number:  32 , Difference:  16 , Date:  1995-08-21 00:00:00 , Home team:  Cook Islands , Away team:  Solomon Islands
Match number:  33 , Difference:  16 , Date:  2012-09-05 00:00:00 , Home team:  Martinique , Away team:  British Virgin Islands
Match number:  34 , Difference:  16 , Date:  2012-01-14 00:00:00 , Home team:  Gozo , Away team:  Raetia
Match number:  35 , Difference:  16 , Date:  2011-09-03 00:00:00 , Home team:  Kiribati , Away team:  Papua New Guinea
Match number:  36 , Difference:  16 , Date:  2000-11-26 00:00:00 , Home team:  Tajikistan , Away team:  Guam
Match number:  37 , Difference:  16 , Date:  2011-09-05 00:00:00 , Home team:  Kiribati , Away team:  Tahiti
Match number:  38 , Difference:  16 , Date:  2007-08-25 00:00:00 , Home team:  Fiji , Away team:  Tuvalu
Match number:  39 , Difference:  15 , Date:  2005-03-07 00:00:00 , Home team:  Guam , Away team:  Hong Kong
Match number:  40 , Difference:  15 , Date:  1991-09-09 00:00:00 , Home team:  Guam , Away team:  Tahiti
Match number:  41 , Difference:  15 , Date:  1998-12-05 00:00:00 , Home team:  Mongolia , Away team:  Uzbekistan
Match number:  42 , Difference:  15 , Date:  2019-11-10 00:00:00 , Home team:  Trinidad and Tobago , Away team:  Anguilla
Match number:  43 , Difference:  15 , Date:  2015-09-03 00:00:00 , Home team:  Qatar , Away team:  Bhutan
Match number:  44 , Difference:  15 , Date:  1963-11-15 00:00:00 , Home team:  Egypt , Away team:  Laos
Match number:  45 , Difference:  15 , Date:  2012-09-28 00:00:00 , Home team:  Saint Pierre and Miquelon , Away team:  New Caledonia
Match number:  46 , Difference:  15 , Date:  2012-06-04 00:00:00 , Home team:  Northern Cyprus , Away team:  Darfur
Match number:  47 , Difference:  15 , Date:  1971-09-11 00:00:00 , Home team:  Cook Islands , Away team:  Papua New Guinea
Match number:  48 , Difference:  15 , Date:  2007-08-29 00:00:00 , Home team:  American Samoa , Away team:  Vanuatu
Match number:  49 , Difference:  15 , Date:  2003-07-03 00:00:00 , Home team:  Frøya , Away team:  Sark
Match number:  50 , Difference:  14 , Date:  1971-09-15 00:00:00 , Home team:  Cook Islands , Away team:  Fiji
Match number:  51 , Difference:  14 , Date:  2006-11-23 00:00:00 , Home team:  Sápmi , Away team:  Monaco
Match number:  52 , Difference:  14 , Date:  2005-05-03 00:00:00 , Home team:  Occitania , Away team:  Chechnya
Match number:  53 , Difference:  14 , Date:  2023-11-18 00:00:00 , Home team:  France , Away team:  Gibraltar
Match number:  54 , Difference:  14 , Date:  2021-03-30 00:00:00 , Home team:  Japan , Away team:  Mongolia
Match number:  55 , Difference:  14 , Date:  2007-06-21 00:00:00 , Home team:  Hong Kong , Away team:  Guam
Match number:  56 , Difference:  14 , Date:  2017-03-28 00:00:00 , Home team:  Oman , Away team:  Bhutan
Match number:  57 , Difference:  14 , Date:  1998-04-19 00:00:00 , Home team:  Guyana , Away team:  Anguilla
Match number:  58 , Difference:  14 , Date:  1963-11-11 00:00:00 , Home team:  North Korea , Away team:  Somalia
Match number:  59 , Difference:  14 , Date:  1983-08-20 00:00:00 , Home team:  Niue , Away team:  Tahiti
Match number:  60 , Difference:  14 , Date:  2019-07-15 00:00:00 , Home team:  Tonga , Away team:  Vanuatu
Match number:  61 , Difference:  14 , Date:  1962-08-26 00:00:00 , Home team:  Malaysia , Away team:  Philippines
Match number:  62 , Difference:  14 , Date:  2019-10-10 00:00:00 , Home team:  Iran , Away team:  Cambodia
Match number:  63 , Difference:  14 , Date:  1973-08-17 00:00:00 , Home team:  Algeria , Away team:  Yemen
Match number:  64 , Difference:  14 , Date:  1946-12-15 00:00:00 , Home team:  Curaçao , Away team:  Puerto Rico
Match number:  65 , Difference:  14 , Date:  1966-11-30 00:00:00 , Home team:  North Korea , Away team:  Yemen
Match number:  66 , Difference:  13 , Date:  2006-09-06 00:00:00 , Home team:  San Marino , Away team:  Germany
Match number:  67 , Difference:  13 , Date:  1999-06-28 00:00:00 , Home team:  Hitra , Away team:  Isle of Man
Match number:  68 , Difference:  13 , Date:  1992-08-18 00:00:00 , Home team:  Ethiopia , Away team:  Iraq
Match number:  69 , Difference:  13 , Date:  1991-09-12 00:00:00 , Home team:  Fiji , Away team:  Guam
Match number:  70 , Difference:  13 , Date:  2021-06-05 00:00:00 , Home team:  Panama , Away team:  Anguilla
Match number:  71 , Difference:  13 , Date:  2004-02-29 00:00:00 , Home team:  Bermuda , Away team:  Montserrat
Match number:  72 , Difference:  13 , Date:  1917-05-10 00:00:00 , Home team:  Japan , Away team:  Philippines
Match number:  73 , Difference:  13 , Date:  1917-05-07 00:00:00 , Home team:  Japan , Away team:  Philippines
Match number:  74 , Difference:  13 , Date:  2018-09-10 00:00:00 , Home team:  Haiti , Away team:  Sint Maarten
Match number:  75 , Difference:  13 , Date:  2019-07-08 00:00:00 , Home team:  Tuvalu , Away team:  Solomon Islands
Match number:  76 , Difference:  13 , Date:  1997-06-11 00:00:00 , Home team:  Australia , Away team:  Solomon Islands
Match number:  77 , Difference:  13 , Date:  1998-04-15 00:00:00 , Home team:  Grenada , Away team:  Anguilla
Match number:  78 , Difference:  13 , Date:  1950-04-14 00:00:00 , Home team:  Mauritius , Away team:  Réunion
Match number:  79 , Difference:  13 , Date:  1966-04-06 00:00:00 , Home team:  Libya , Away team:  Yemen
Match number:  80 , Difference:  13 , Date:  1981-08-16 00:00:00 , Home team:  New Zealand , Away team:  Fiji
Match number:  81 , Difference:  13 , Date:  2019-07-15 00:00:00 , Home team:  Solomon Islands , Away team:  American Samoa
Match number:  82 , Difference:  13 , Date:  1981-07-08 00:00:00 , Home team:  Tahiti , Away team:  Western Samoa
Match number:  83 , Difference:  13 , Date:  1882-02-18 00:00:00 , Home team:  Northern Ireland , Away team:  England
Match number:  84 , Difference:  13 , Date:  1995-08-17 00:00:00 , Home team:  Tahiti , Away team:  Wallis Islands and Futuna
Match number:  85 , Difference:  13 , Date:  1933-05-21 00:00:00 , Home team:  Spain , Away team:  Bulgaria
Match number:  86 , Difference:  13 , Date:  2001-04-07 00:00:00 , Home team:  Fiji , Away team:  American Samoa
Match number:  87 , Difference:  13 , Date:  1979-08-31 00:00:00 , Home team:  Kiribati , Away team:  Papua New Guinea
Match number:  88 , Difference:  13 , Date:  2001-04-14 00:00:00 , Home team:  Saint Lucia , Away team:  United States Virgin Islands
Match number:  89 , Difference:  13 , Date:  2012-09-22 00:00:00 , Home team:  Guadeloupe , Away team:  Saint Pierre and Miquelon
Match number:  90 , Difference:  13 , Date:  1998-08-01 00:00:00 , Home team:  Palau , Away team:  Guam
Match number:  91 , Difference:  13 , Date:  1940-09-01 00:00:00 , Home team:  Germany , Away team:  Finland
Match number:  92 , Difference:  12 , Date:  2006-02-18 00:00:00 , Home team:  Monaco , Away team:  Chechnya
Match number:  93 , Difference:  12 , Date:  2004-11-24 00:00:00 , Home team:  Jamaica , Away team:  Saint Martin
Match number:  94 , Difference:  12 , Date:  2003-12-03 00:00:00 , Home team:  Maldives , Away team:  Mongolia
Match number:  95 , Difference:  12 , Date:  1998-09-07 00:00:00 , Home team:  Tahiti , Away team:  American Samoa
Match number:  96 , Difference:  12 , Date:  1927-05-29 00:00:00 , Home team:  Sweden , Away team:  Latvia
Match number:  97 , Difference:  12 , Date:  1967-08-23 00:00:00 , Home team:  Denmark , Away team:  Iceland
Match number:  98 , Difference:  12 , Date:  2003-07-05 00:00:00 , Home team:  Fiji , Away team:  Kiribati
Match number:  99 , Difference:  12 , Date:  2001-04-14 00:00:00 , Home team:  Brunei , Away team:  United Arab Emirates
Match number:  100 , Difference:  12 , Date:  1917-10-07 00:00:00 , Home team:  Denmark , Away team:  Norway

### Applying Indexes SQL Optimized

In [700]:
# Create indexes for the teams playing against each other
create_index_query = """
CREATE INDEX idx_home_team_away_team ON matches(home_team, away_team);
"""

# Create indexes for the scores
create_index_query2 = """
CREATE INDEX idx_scores ON matches(home_score, away_score);
"""

# Reset the database
database_name_sql_optimized = 'football_db_optimized'
df_results, df_goalscorers, df_shootouts = clean_data()
create_mysql_database_optimized(engine, database_name_sql_optimized)
insert_data_mysql_optimized(df_results, df_goalscorers, df_shootouts, engine)

# Execute the queries
try:
    with engine.begin() as connection:
        connection.execute(text(create_index_query))
        connection.execute(text(create_index_query2))
        print("Indexes created successfully.")
except Exception as e:
    print(f"Error creating indexes: {e}")

Database 'football_db_optimized' created successfully.
Table 'locations' created successfully.
Table 'details' created successfully.
Table 'matches' created successfully.
Table 'goalscorers' created successfully.
Table 'shootouts' created successfully.
Data inserted into 'locations' successfully.
Data inserted into 'details' successfully.
Data inserted into 'matches' successfully.
Data inserted into 'shootouts' successfully.
Data inserted into 'goalscorers' successfully.
Indexes created successfully.

### Applying Indexes Mongo Optimized

In [475]:
# Reset the database
df_results, df_goalscorers, df_shootouts = clean_data()
_, collection_matches, collection_goalscorers, collection_shootouts = create_mongo_optimized_database(client)
insert_data_mongo_optimized(df_results, df_goalscorers, df_shootouts, collection_matches, collection_goalscorers, collection_shootouts)

collection_matches.create_index([("home_team", ASCENDING), ("away_team", ASCENDING)])
collection_matches.create_index([("home_score", ASCENDING), ("away_score", ASCENDING)])

print("Indexes created successfully.")

Data inserted into the MongoDB collections successfully.
Indexes created successfully.

### Queries on SQL with more performance and Indexes

In [701]:
sql_indexed_optimized_sq1_time, sql_indexed_optimized_sq2_time = simple_queries_mysql_optimized(engine)
sql_indexed_optimized_cq1_time = complex_query1_mysql_optimized(engine)
sql_indexed_optimized_cq2_time = complex_query2_mysql_optimized(engine)

Time to execute query 1: 0.018115250044502318
46  results for query 1
Time to execute query 2: 0.002947207889519632
5  results for query 2
Results for Query 1:
(28202, datetime.date(2004, 6, 5), 'Portugal', 'Lithuania', 4, 1, 28202)
(28558, datetime.date(2004, 9, 8), 'Portugal', 'Estonia', 4, 0, 28558)
(28674, datetime.date(2004, 10, 13), 'Portugal', 'Russia', 7, 1, 28674)
(28742, datetime.date(2004, 11, 17), 'Luxembourg', 'Portugal', 0, 5, 28742)
(29037, datetime.date(2005, 3, 26), 'Portugal', 'Canada', 4, 1, 29037)
(29400, datetime.date(2005, 9, 3), 'Portugal', 'Luxembourg', 6, 0, 29400)
(29917, datetime.date(2006, 5, 27), 'Portugal', 'Cape Verde', 4, 1, 29917)
(30687, datetime.date(2007, 3, 24), 'Portugal', 'Belgium', 4, 0, 30687)
(32189, datetime.date(2008, 8, 20), 'Portugal', 'Faroe Islands', 5, 0, 32189)
(32252, datetime.date(2008, 9, 6), 'Malta', 'Portugal', 0, 4, 32252)
(33364, datetime.date(2009, 10, 14), 'Portugal', 'Malta', 4, 0, 33364)
(33848, datetime.date(2010, 6, 21), 'Portugal', 'North Korea', 7, 0, 33848)
(33973, datetime.date(2010, 9, 3), 'Portugal', 'Cyprus', 4, 4, 33973)
(34296, datetime.date(2010, 11, 17), 'Portugal', 'Spain', 4, 0, 34296)
(34977, datetime.date(2011, 8, 10), 'Portugal', 'Luxembourg', 5, 0, 34977)
(35043, datetime.date(2011, 9, 2), 'Cyprus', 'Portugal', 0, 4, 35043)
(35225, datetime.date(2011, 10, 7), 'Portugal', 'Iceland', 5, 3, 35225)
(35430, datetime.date(2011, 11, 15), 'Portugal', 'Bosnia and Herzegovina', 6, 2, 35430)
(37162, datetime.date(2013, 9, 6), 'Northern Ireland', 'Portugal', 2, 4, 37162)
(37552, datetime.date(2014, 3, 5), 'Portugal', 'Cameroon', 5, 1, 37552)
(37778, datetime.date(2014, 6, 10), 'Republic of Ireland', 'Portugal', 1, 5, 37778)
(39767, datetime.date(2016, 6, 8), 'Portugal', 'Estonia', 7, 0, 39767)
(39918, datetime.date(2016, 9, 1), 'Portugal', 'Gibraltar', 5, 0, 39918)
(40052, datetime.date(2016, 10, 7), 'Portugal', 'Andorra', 6, 0, 40052)
(40097, datetime.date(2016, 10, 10), 'Faroe Islands', 'Portugal', 0, 6, 40097)
(40220, datetime.date(2016, 11, 13), 'Portugal', 'Latvia', 4, 1, 40220)
(40519, datetime.date(2017, 6, 3), 'Portugal', 'Cyprus', 4, 0, 40519)
(40681, datetime.date(2017, 6, 24), 'New Zealand', 'Portugal', 0, 4, 40681)
(40819, datetime.date(2017, 8, 31), 'Portugal', 'Faroe Islands', 5, 1, 40819)
(42808, datetime.date(2019, 9, 7), 'Serbia', 'Portugal', 2, 4, 42808)
(42870, datetime.date(2019, 9, 10), 'Lithuania', 'Portugal', 1, 5, 42870)
(43104, datetime.date(2019, 11, 14), 'Portugal', 'Lithuania', 6, 0, 43104)
(43316, datetime.date(2020, 9, 5), 'Portugal', 'Croatia', 4, 1, 43316)
(43490, datetime.date(2020, 11, 11), 'Portugal', 'Andorra', 7, 0, 43490)
(43990, datetime.date(2021, 6, 9), 'Portugal', 'Israel', 4, 0, 43990)
(44501, datetime.date(2021, 10, 12), 'Portugal', 'Luxembourg', 5, 0, 44501)
(45151, datetime.date(2022, 6, 5), 'Portugal', 'Switzerland', 4, 0, 45151)
(45455, datetime.date(2022, 9, 24), 'Czech Republic', 'Portugal', 0, 4, 45455)
(45586, datetime.date(2022, 11, 17), 'Portugal', 'Nigeria', 4, 0, 45586)
(45685, datetime.date(2022, 12, 6), 'Portugal', 'Switzerland', 6, 1, 45685)
(45789, datetime.date(2023, 3, 23), 'Portugal', 'Liechtenstein', 4, 0, 45789)
(45867, datetime.date(2023, 3, 26), 'Luxembourg', 'Portugal', 0, 6, 45867)
(46343, datetime.date(2023, 9, 11), 'Portugal', 'Luxembourg', 9, 0, 46343)
(46507, datetime.date(2023, 10, 16), 'Bosnia and Herzegovina', 'Portugal', 0, 5, 46507)
(46967, datetime.date(2024, 3, 21), 'Portugal', 'Sweden', 5, 2, 46967)
(47103, datetime.date(2024, 6, 4), 'Portugal', 'Finland', 4, 2, 47103)
Results for Query 2:
(18079, datetime.date(1992, 1, 26), 'Australia', 'Sweden', 0, 0, 18079)
(18082, datetime.date(1992, 1, 29), 'Australia', 'Sweden', 1, 0, 18082)
(18084, datetime.date(1992, 2, 2), 'Australia', 'Sweden', 1, 0, 18084)
(20831, datetime.date(1996, 2, 25), 'Australia', 'Sweden', 0, 2, 20831)
(20834, datetime.date(1996, 2, 28), 'Australia', 'Sweden', 0, 0, 20834)
Time to execute the complex query 1: 0.04146283399313688
Teams that have played with each other at least 100 times:
Home team:  Argentina , Away team:  Brazil , Count:  109
Home team:  Argentina , Away team:  Paraguay , Count:  106
Home team:  Argentina , Away team:  Uruguay , Count:  182
Home team:  Austria , Away team:  Hungary , Count:  137
Home team:  Belgium , Away team:  Netherlands , Count:  128
Home team:  Denmark , Away team:  Sweden , Count:  108
Home team:  England , Away team:  Scotland , Count:  118
Home team:  England , Away team:  Wales , Count:  105
Home team:  Guernsey , Away team:  Jersey , Count:  119
Home team:  Kenya , Away team:  Uganda , Count:  110
Home team:  Norway , Away team:  Sweden , Count:  109
Home team:  Scotland , Away team:  Wales , Count:  106
229  matches updated
Time to execute the complex query 2: 0.06268199998885393
Matches with the most difference between the home_score and away_score:
Match number: 1, Difference: 31, Date: 2001-04-11, Home team: Australia, Away team: American Samoa, Home score: 31, Away score: 0
Match number: 2, Difference: 30, Date: 1971-09-13, Home team: Tahiti, Away team: Cook Islands, Home score: 30, Away score: 0
Match number: 3, Difference: 24, Date: 1979-08-30, Home team: Fiji, Away team: Kiribati, Home score: 24, Away score: 0
Match number: 4, Difference: 22, Date: 2001-04-09, Home team: Australia, Away team: Tonga, Home score: 22, Away score: 0
Match number: 5, Difference: 21, Date: 2005-03-11, Home team: Guam, Away team: North Korea, Home score: 0, Away score: 21
Match number: 6, Difference: 21, Date: 1966-04-03, Home team: Libya, Away team: Oman, Home score: 21, Away score: 0
Match number: 7, Difference: 20, Date: 2000-02-14, Home team: Kuwait, Away team: Bhutan, Home score: 20, Away score: 0
Match number: 8, Difference: 20, Date: 2003-06-30, Home team: Sark, Away team: Isle of Wight, Home score: 0, Away score: 20
Match number: 9, Difference: 20, Date: 1987-12-15, Home team: American Samoa, Away team: Papua New Guinea, Home score: 0, Away score: 20
Match number: 10, Difference: 20, Date: 2014-06-01, Home team: Darfur, Away team: Padania, Home score: 0, Away score: 20
Match number: 11, Difference: 20, Date: 2006-11-24, Home team: Sápmi, Away team: Monaco, Home score: 21, Away score: 1
Match number: 12, Difference: 19, Date: 1983-08-22, Home team: Niue, Away team: Papua New Guinea, Home score: 0, Away score: 19
Match number: 13, Difference: 19, Date: 2000-11-24, Home team: Iran, Away team: Guam, Home score: 19, Away score: 0
Match number: 14, Difference: 19, Date: 2014-06-02, Home team: Darfur, Away team: South Ossetia, Home score: 0, Away score: 19
Match number: 15, Difference: 19, Date: 2003-06-29, Home team: Gibraltar, Away team: Sark, Home score: 19, Away score: 0
Match number: 16, Difference: 19, Date: 2000-01-26, Home team: China PR, Away team: Guam, Home score: 19, Away score: 0
Match number: 17, Difference: 19, Date: 1997-05-13, Home team: Kazakhstan, Away team: Guam, Home score: 20, Away score: 1
Match number: 18, Difference: 18, Date: 2012-06-05, Home team: Darfur, Away team: Provence, Home score: 0, Away score: 18
Match number: 19, Difference: 18, Date: 1994-03-19, Home team: Jersey, Away team: Alderney, Home score: 18, Away score: 0
Match number: 20, Difference: 18, Date: 1979-08-30, Home team: Tahiti, Away team: Tuvalu, Home score: 18, Away score: 0
Match number: 21, Difference: 18, Date: 2003-07-07, Home team: Kiribati, Away team: Vanuatu, Home score: 0, Away score: 18
Match number: 22, Difference: 18, Date: 2003-07-01, Home team: Micronesia, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 23, Difference: 18, Date: 1963-09-06, Home team: Solomon Islands, Away team: Tahiti, Home score: 0, Away score: 18
Match number: 24, Difference: 18, Date: 1991-09-15, Home team: Guam, Away team: New Caledonia, Home score: 0, Away score: 18
Match number: 25, Difference: 17, Date: 2010-10-14, Home team: Dominican Republic, Away team: British Virgin Islands, Home score: 17, Away score: 0
Match number: 26, Difference: 17, Date: 2003-06-30, Home team: Tahiti, Away team: Micronesia, Home score: 17, Away score: 0
Match number: 27, Difference: 17, Date: 2000-06-19, Home team: Australia, Away team: Cook Islands, Home score: 17, Away score: 0
Match number: 28, Difference: 17, Date: 1997-06-02, Home team: Maldives, Away team: Iran, Home score: 0, Away score: 17
Match number: 29, Difference: 16, Date: 2000-11-26, Home team: Tajikistan, Away team: Guam, Home score: 16, Away score: 0
Match number: 30, Difference: 16, Date: 2007-08-25, Home team: Fiji, Away team: Tuvalu, Home score: 16, Away score: 0
Match number: 31, Difference: 16, Date: 1998-09-28, Home team: Australia, Away team: Cook Islands, Home score: 16, Away score: 0
Match number: 32, Difference: 16, Date: 2012-09-05, Home team: Martinique, Away team: British Virgin Islands, Home score: 16, Away score: 0
Match number: 33, Difference: 16, Date: 2011-09-05, Home team: Kiribati, Away team: Tahiti, Home score: 1, Away score: 17
Match number: 34, Difference: 16, Date: 2003-07-01, Home team: Greenland, Away team: Sark, Home score: 16, Away score: 0
Match number: 35, Difference: 16, Date: 2012-01-14, Home team: Gozo, Away team: Raetia, Home score: 17, Away score: 1
Match number: 36, Difference: 16, Date: 2011-09-03, Home team: Kiribati, Away team: Papua New Guinea, Home score: 1, Away score: 17
Match number: 37, Difference: 16, Date: 1995-08-21, Home team: Cook Islands, Away team: Solomon Islands, Home score: 0, Away score: 16
Match number: 38, Difference: 16, Date: 2003-09-29, Home team: South Korea, Away team: Nepal, Home score: 16, Away score: 0
Match number: 39, Difference: 15, Date: 1998-12-05, Home team: Mongolia, Away team: Uzbekistan, Home score: 0, Away score: 15
Match number: 40, Difference: 15, Date: 2015-09-03, Home team: Qatar, Away team: Bhutan, Home score: 15, Away score: 0
Match number: 41, Difference: 15, Date: 2003-07-03, Home team: Frøya, Away team: Sark, Home score: 15, Away score: 0
Match number: 42, Difference: 15, Date: 1971-09-11, Home team: Cook Islands, Away team: Papua New Guinea, Home score: 1, Away score: 16
Match number: 43, Difference: 15, Date: 2005-03-07, Home team: Guam, Away team: Hong Kong, Home score: 0, Away score: 15
Match number: 44, Difference: 15, Date: 2007-08-29, Home team: American Samoa, Away team: Vanuatu, Home score: 0, Away score: 15
Match number: 45, Difference: 15, Date: 2012-06-04, Home team: Northern Cyprus, Away team: Darfur, Home score: 15, Away score: 0
Match number: 46, Difference: 15, Date: 1991-09-09, Home team: Guam, Away team: Tahiti, Home score: 0, Away score: 15
Match number: 47, Difference: 15, Date: 1963-11-15, Home team: Egypt, Away team: Laos, Home score: 15, Away score: 0
Match number: 48, Difference: 15, Date: 2019-11-10, Home team: Trinidad and Tobago, Away team: Anguilla, Home score: 15, Away score: 0
Match number: 49, Difference: 15, Date: 2012-09-28, Home team: Saint Pierre and Miquelon, Away team: New Caledonia, Home score: 1, Away score: 16
Match number: 50, Difference: 14, Date: 1966-11-30, Home team: North Korea, Away team: Yemen, Home score: 14, Away score: 0
Match number: 51, Difference: 14, Date: 2019-07-15, Home team: Tonga, Away team: Vanuatu, Home score: 0, Away score: 14
Match number: 52, Difference: 14, Date: 2017-03-28, Home team: Oman, Away team: Bhutan, Home score: 14, Away score: 0
Match number: 53, Difference: 14, Date: 1983-08-20, Home team: Niue, Away team: Tahiti, Home score: 0, Away score: 14
Match number: 54, Difference: 14, Date: 1946-12-15, Home team: Curaçao, Away team: Puerto Rico, Home score: 14, Away score: 0
Match number: 55, Difference: 14, Date: 1973-08-17, Home team: Algeria, Away team: Yemen, Home score: 15, Away score: 1
Match number: 56, Difference: 14, Date: 1998-04-19, Home team: Guyana, Away team: Anguilla, Home score: 14, Away score: 0
Match number: 57, Difference: 14, Date: 1963-11-11, Home team: North Korea, Away team: Somalia, Home score: 14, Away score: 0
Match number: 58, Difference: 14, Date: 2007-06-21, Home team: Hong Kong, Away team: Guam, Home score: 15, Away score: 1
Match number: 59, Difference: 14, Date: 2006-11-23, Home team: Sápmi, Away team: Monaco, Home score: 14, Away score: 0
Match number: 60, Difference: 14, Date: 1971-09-15, Home team: Cook Islands, Away team: Fiji, Home score: 1, Away score: 15
Match number: 61, Difference: 14, Date: 2019-10-10, Home team: Iran, Away team: Cambodia, Home score: 14, Away score: 0
Match number: 62, Difference: 14, Date: 2023-11-18, Home team: France, Away team: Gibraltar, Home score: 14, Away score: 0
Match number: 63, Difference: 14, Date: 1962-08-26, Home team: Malaysia, Away team: Philippines, Home score: 15, Away score: 1
Match number: 64, Difference: 14, Date: 2021-03-30, Home team: Japan, Away team: Mongolia, Home score: 14, Away score: 0
Match number: 65, Difference: 14, Date: 2005-05-03, Home team: Occitania, Away team: Chechnya, Home score: 14, Away score: 0
Match number: 66, Difference: 13, Date: 1995-08-17, Home team: Tahiti, Away team: Wallis Islands and Futuna, Home score: 13, Away score: 0
Match number: 67, Difference: 13, Date: 1966-04-06, Home team: Libya, Away team: Yemen, Home score: 13, Away score: 0
Match number: 68, Difference: 13, Date: 1917-05-07, Home team: Japan, Away team: Philippines, Home score: 2, Away score: 15
Match number: 69, Difference: 13, Date: 1981-08-16, Home team: New Zealand, Away team: Fiji, Home score: 13, Away score: 0
Match number: 70, Difference: 13, Date: 1998-04-15, Home team: Grenada, Away team: Anguilla, Home score: 14, Away score: 1
Match number: 71, Difference: 13, Date: 1882-02-18, Home team: Northern Ireland, Away team: England, Home score: 0, Away score: 13
Match number: 72, Difference: 13, Date: 1917-05-10, Home team: Japan, Away team: Philippines, Home score: 2, Away score: 15
Match number: 73, Difference: 13, Date: 1992-08-18, Home team: Ethiopia, Away team: Iraq, Home score: 0, Away score: 13
Match number: 74, Difference: 13, Date: 1991-09-12, Home team: Fiji, Away team: Guam, Home score: 14, Away score: 1
Match number: 75, Difference: 13, Date: 2001-04-07, Home team: Fiji, Away team: American Samoa, Home score: 13, Away score: 0
Match number: 76, Difference: 13, Date: 2019-07-08, Home team: Tuvalu, Away team: Solomon Islands, Home score: 0, Away score: 13
Match number: 77, Difference: 13, Date: 2012-09-22, Home team: Guadeloupe, Away team: Saint Pierre and Miquelon, Home score: 13, Away score: 0
Match number: 78, Difference: 13, Date: 2018-09-10, Home team: Haiti, Away team: Sint Maarten, Home score: 13, Away score: 0
Match number: 79, Difference: 13, Date: 1933-05-21, Home team: Spain, Away team: Bulgaria, Home score: 13, Away score: 0
Match number: 80, Difference: 13, Date: 1979-08-31, Home team: Kiribati, Away team: Papua New Guinea, Home score: 0, Away score: 13
Match number: 81, Difference: 13, Date: 2006-09-06, Home team: San Marino, Away team: Germany, Home score: 0, Away score: 13
Match number: 82, Difference: 13, Date: 1940-09-01, Home team: Germany, Away team: Finland, Home score: 13, Away score: 0
Match number: 83, Difference: 13, Date: 2021-06-05, Home team: Panama, Away team: Anguilla, Home score: 13, Away score: 0
Match number: 84, Difference: 13, Date: 2019-07-15, Home team: Solomon Islands, Away team: American Samoa, Home score: 13, Away score: 0
Match number: 85, Difference: 13, Date: 1997-06-11, Home team: Australia, Away team: Solomon Islands, Home score: 13, Away score: 0
Match number: 86, Difference: 13, Date: 2001-04-14, Home team: Saint Lucia, Away team: United States Virgin Islands, Home score: 14, Away score: 1
Match number: 87, Difference: 13, Date: 1950-04-14, Home team: Mauritius, Away team: Réunion, Home score: 15, Away score: 2
Match number: 88, Difference: 13, Date: 1981-07-08, Home team: Tahiti, Away team: Western Samoa, Home score: 13, Away score: 0
Match number: 89, Difference: 13, Date: 1998-08-01, Home team: Palau, Away team: Guam, Home score: 2, Away score: 15
Match number: 90, Difference: 13, Date: 2004-02-29, Home team: Bermuda, Away team: Montserrat, Home score: 13, Away score: 0
Match number: 91, Difference: 13, Date: 1999-06-28, Home team: Hitra, Away team: Isle of Man, Home score: 0, Away score: 13
Match number: 92, Difference: 12, Date: 1998-09-07, Home team: Tahiti, Away team: American Samoa, Home score: 12, Away score: 0
Match number: 93, Difference: 12, Date: 1969-05-21, Home team: Germany, Away team: Cyprus, Home score: 12, Away score: 0
Match number: 94, Difference: 12, Date: 2003-12-03, Home team: Maldives, Away team: Mongolia, Home score: 12, Away score: 0
Match number: 95, Difference: 12, Date: 2004-11-24, Home team: Jamaica, Away team: Saint Martin, Home score: 12, Away score: 0
Match number: 96, Difference: 12, Date: 1950-09-24, Home team: Hungary, Away team: Albania, Home score: 12, Away score: 0
Match number: 97, Difference: 12, Date: 2006-02-18, Home team: Monaco, Away team: Chechnya, Home score: 13, Away score: 1
Match number: 98, Difference: 12, Date: 1993-12-13, Home team: Fiji, Away team: Guam, Home score: 12, Away score: 0
Match number: 99, Difference: 12, Date: 1927-06-12, Home team: Hungary, Away team: France, Home score: 13, Away score: 1
Match number: 100, Difference: 12, Date: 1967-08-23, Home team: Denmark, Away team: Iceland, Home score: 14, Away score: 2
Inserted 100 flipped matches.

### Queries on MongoDB with more performance and Indexes

In [477]:
mongo_indexed_optimized_sq1_time, mongo_indexed_optimized_sq2_time = simple_queries_mongo_optimized(collection_matches)
mongo_indexed_optimized_cq1_time = complex_query1_mongo_optimized(collection_matches)
mongo_indexed_optimized_cq2_time = complex_query2_mongo_optimized(collection_matches)

Time to execute query 1: 2.2333930246531963e-05
46  results for query 1
Time to execute query 2: 1.758395228534937e-05
5  results for query 2
Time to execute the complex query 1: 0.053770708036608994
Teams that played at least 100 times:
Home team: Argentina , Away team: Paraguay , Count: 106
Home team: Belgium , Away team: Netherlands , Count: 128
Home team: Austria , Away team: Hungary , Count: 137
Home team: Argentina , Away team: Uruguay , Count: 182
Home team: Denmark , Away team: Sweden , Count: 108
Home team: England , Away team: Wales , Count: 105
Home team: Norway , Away team: Sweden , Count: 109
Home team: Kenya , Away team: Uganda , Count: 110
Home team: Argentina , Away team: Brazil , Count: 109
Home team: Scotland , Away team: Wales , Count: 106
Home team: England , Away team: Scotland , Count: 118
Home team: Guernsey , Away team: Jersey , Count: 119
Matched count: 229
Modified count: 215
Time to execute the complex query 2: 0.08626033295877278
Matches with the most difference between the home_score and away_score:
Match number: 1, Difference: 31, Date: 2001-04-11 00:00:00, Home team: Australia, Away team: American Samoa
Match number: 2, Difference: 30, Date: 1971-09-13 00:00:00, Home team: Tahiti, Away team: Cook Islands
Match number: 3, Difference: 24, Date: 1979-08-30 00:00:00, Home team: Fiji, Away team: Kiribati
Match number: 4, Difference: 22, Date: 2001-04-09 00:00:00, Home team: Australia, Away team: Tonga
Match number: 5, Difference: 21, Date: 1966-04-03 00:00:00, Home team: Libya, Away team: Oman
Match number: 6, Difference: 21, Date: 2005-03-11 00:00:00, Home team: Guam, Away team: North Korea
Match number: 7, Difference: 20, Date: 1987-12-15 00:00:00, Home team: American Samoa, Away team: Papua New Guinea
Match number: 8, Difference: 20, Date: 2006-11-24 00:00:00, Home team: Sápmi, Away team: Monaco
Match number: 9, Difference: 20, Date: 2000-02-14 00:00:00, Home team: Kuwait, Away team: Bhutan
Match number: 10, Difference: 20, Date: 2014-06-01 00:00:00, Home team: Darfur, Away team: Padania
Match number: 11, Difference: 20, Date: 2003-06-30 00:00:00, Home team: Sark, Away team: Isle of Wight
Match number: 12, Difference: 19, Date: 1983-08-22 00:00:00, Home team: Niue, Away team: Papua New Guinea
Match number: 13, Difference: 19, Date: 2000-11-24 00:00:00, Home team: Iran, Away team: Guam
Match number: 14, Difference: 19, Date: 2000-01-26 00:00:00, Home team: China PR, Away team: Guam
Match number: 15, Difference: 19, Date: 1997-05-13 00:00:00, Home team: Kazakhstan, Away team: Guam
Match number: 16, Difference: 19, Date: 2014-06-02 00:00:00, Home team: Darfur, Away team: South Ossetia
Match number: 17, Difference: 19, Date: 2003-06-29 00:00:00, Home team: Gibraltar, Away team: Sark
Match number: 18, Difference: 18, Date: 1991-09-15 00:00:00, Home team: Guam, Away team: New Caledonia
Match number: 19, Difference: 18, Date: 2012-06-05 00:00:00, Home team: Darfur, Away team: Provence
Match number: 20, Difference: 18, Date: 1994-03-19 00:00:00, Home team: Jersey, Away team: Alderney
Match number: 21, Difference: 18, Date: 2003-07-07 00:00:00, Home team: Kiribati, Away team: Vanuatu
Match number: 22, Difference: 18, Date: 1979-08-30 00:00:00, Home team: Tahiti, Away team: Tuvalu
Match number: 23, Difference: 18, Date: 2003-07-01 00:00:00, Home team: Micronesia, Away team: New Caledonia
Match number: 24, Difference: 18, Date: 1963-09-06 00:00:00, Home team: Solomon Islands, Away team: Tahiti
Match number: 25, Difference: 17, Date: 2010-10-14 00:00:00, Home team: Dominican Republic, Away team: British Virgin Islands
Match number: 26, Difference: 17, Date: 2003-06-30 00:00:00, Home team: Tahiti, Away team: Micronesia
Match number: 27, Difference: 17, Date: 1997-06-02 00:00:00, Home team: Maldives, Away team: Iran
Match number: 28, Difference: 17, Date: 2000-06-19 00:00:00, Home team: Australia, Away team: Cook Islands
Match number: 29, Difference: 16, Date: 2003-09-29 00:00:00, Home team: South Korea, Away team: Nepal
Match number: 30, Difference: 16, Date: 1998-09-28 00:00:00, Home team: Australia, Away team: Cook Islands
Match number: 31, Difference: 16, Date: 2003-07-01 00:00:00, Home team: Greenland, Away team: Sark
Match number: 32, Difference: 16, Date: 1995-08-21 00:00:00, Home team: Cook Islands, Away team: Solomon Islands
Match number: 33, Difference: 16, Date: 2012-09-05 00:00:00, Home team: Martinique, Away team: British Virgin Islands
Match number: 34, Difference: 16, Date: 2012-01-14 00:00:00, Home team: Gozo, Away team: Raetia
Match number: 35, Difference: 16, Date: 2011-09-03 00:00:00, Home team: Kiribati, Away team: Papua New Guinea
Match number: 36, Difference: 16, Date: 2000-11-26 00:00:00, Home team: Tajikistan, Away team: Guam
Match number: 37, Difference: 16, Date: 2011-09-05 00:00:00, Home team: Kiribati, Away team: Tahiti
Match number: 38, Difference: 16, Date: 2007-08-25 00:00:00, Home team: Fiji, Away team: Tuvalu
Match number: 39, Difference: 15, Date: 2005-03-07 00:00:00, Home team: Guam, Away team: Hong Kong
Match number: 40, Difference: 15, Date: 1991-09-09 00:00:00, Home team: Guam, Away team: Tahiti
Match number: 41, Difference: 15, Date: 1998-12-05 00:00:00, Home team: Mongolia, Away team: Uzbekistan
Match number: 42, Difference: 15, Date: 2019-11-10 00:00:00, Home team: Trinidad and Tobago, Away team: Anguilla
Match number: 43, Difference: 15, Date: 2015-09-03 00:00:00, Home team: Qatar, Away team: Bhutan
Match number: 44, Difference: 15, Date: 1963-11-15 00:00:00, Home team: Egypt, Away team: Laos
Match number: 45, Difference: 15, Date: 2012-09-28 00:00:00, Home team: Saint Pierre and Miquelon, Away team: New Caledonia
Match number: 46, Difference: 15, Date: 2012-06-04 00:00:00, Home team: Northern Cyprus, Away team: Darfur
Match number: 47, Difference: 15, Date: 1971-09-11 00:00:00, Home team: Cook Islands, Away team: Papua New Guinea
Match number: 48, Difference: 15, Date: 2007-08-29 00:00:00, Home team: American Samoa, Away team: Vanuatu
Match number: 49, Difference: 15, Date: 2003-07-03 00:00:00, Home team: Frøya, Away team: Sark
Match number: 50, Difference: 14, Date: 1971-09-15 00:00:00, Home team: Cook Islands, Away team: Fiji
Match number: 51, Difference: 14, Date: 2006-11-23 00:00:00, Home team: Sápmi, Away team: Monaco
Match number: 52, Difference: 14, Date: 2005-05-03 00:00:00, Home team: Occitania, Away team: Chechnya
Match number: 53, Difference: 14, Date: 2023-11-18 00:00:00, Home team: France, Away team: Gibraltar
Match number: 54, Difference: 14, Date: 2021-03-30 00:00:00, Home team: Japan, Away team: Mongolia
Match number: 55, Difference: 14, Date: 2007-06-21 00:00:00, Home team: Hong Kong, Away team: Guam
Match number: 56, Difference: 14, Date: 2017-03-28 00:00:00, Home team: Oman, Away team: Bhutan
Match number: 57, Difference: 14, Date: 1998-04-19 00:00:00, Home team: Guyana, Away team: Anguilla
Match number: 58, Difference: 14, Date: 1963-11-11 00:00:00, Home team: North Korea, Away team: Somalia
Match number: 59, Difference: 14, Date: 1983-08-20 00:00:00, Home team: Niue, Away team: Tahiti
Match number: 60, Difference: 14, Date: 2019-07-15 00:00:00, Home team: Tonga, Away team: Vanuatu
Match number: 61, Difference: 14, Date: 1962-08-26 00:00:00, Home team: Malaysia, Away team: Philippines
Match number: 62, Difference: 14, Date: 2019-10-10 00:00:00, Home team: Iran, Away team: Cambodia
Match number: 63, Difference: 14, Date: 1973-08-17 00:00:00, Home team: Algeria, Away team: Yemen
Match number: 64, Difference: 14, Date: 1946-12-15 00:00:00, Home team: Curaçao, Away team: Puerto Rico
Match number: 65, Difference: 14, Date: 1966-11-30 00:00:00, Home team: North Korea, Away team: Yemen
Match number: 66, Difference: 13, Date: 2006-09-06 00:00:00, Home team: San Marino, Away team: Germany
Match number: 67, Difference: 13, Date: 1999-06-28 00:00:00, Home team: Hitra, Away team: Isle of Man
Match number: 68, Difference: 13, Date: 1992-08-18 00:00:00, Home team: Ethiopia, Away team: Iraq
Match number: 69, Difference: 13, Date: 1991-09-12 00:00:00, Home team: Fiji, Away team: Guam
Match number: 70, Difference: 13, Date: 2021-06-05 00:00:00, Home team: Panama, Away team: Anguilla
Match number: 71, Difference: 13, Date: 2004-02-29 00:00:00, Home team: Bermuda, Away team: Montserrat
Match number: 72, Difference: 13, Date: 1917-05-10 00:00:00, Home team: Japan, Away team: Philippines
Match number: 73, Difference: 13, Date: 1917-05-07 00:00:00, Home team: Japan, Away team: Philippines
Match number: 74, Difference: 13, Date: 2018-09-10 00:00:00, Home team: Haiti, Away team: Sint Maarten
Match number: 75, Difference: 13, Date: 2019-07-08 00:00:00, Home team: Tuvalu, Away team: Solomon Islands
Match number: 76, Difference: 13, Date: 1997-06-11 00:00:00, Home team: Australia, Away team: Solomon Islands
Match number: 77, Difference: 13, Date: 1998-04-15 00:00:00, Home team: Grenada, Away team: Anguilla
Match number: 78, Difference: 13, Date: 1950-04-14 00:00:00, Home team: Mauritius, Away team: Réunion
Match number: 79, Difference: 13, Date: 1966-04-06 00:00:00, Home team: Libya, Away team: Yemen
Match number: 80, Difference: 13, Date: 1981-08-16 00:00:00, Home team: New Zealand, Away team: Fiji
Match number: 81, Difference: 13, Date: 2019-07-15 00:00:00, Home team: Solomon Islands, Away team: American Samoa
Match number: 82, Difference: 13, Date: 1981-07-08 00:00:00, Home team: Tahiti, Away team: Western Samoa
Match number: 83, Difference: 13, Date: 1882-02-18 00:00:00, Home team: Northern Ireland, Away team: England
Match number: 84, Difference: 13, Date: 1995-08-17 00:00:00, Home team: Tahiti, Away team: Wallis Islands and Futuna
Match number: 85, Difference: 13, Date: 1933-05-21 00:00:00, Home team: Spain, Away team: Bulgaria
Match number: 86, Difference: 13, Date: 2001-04-07 00:00:00, Home team: Fiji, Away team: American Samoa
Match number: 87, Difference: 13, Date: 1979-08-31 00:00:00, Home team: Kiribati, Away team: Papua New Guinea
Match number: 88, Difference: 13, Date: 2001-04-14 00:00:00, Home team: Saint Lucia, Away team: United States Virgin Islands
Match number: 89, Difference: 13, Date: 2012-09-22 00:00:00, Home team: Guadeloupe, Away team: Saint Pierre and Miquelon
Match number: 90, Difference: 13, Date: 1998-08-01 00:00:00, Home team: Palau, Away team: Guam
Match number: 91, Difference: 13, Date: 1940-09-01 00:00:00, Home team: Germany, Away team: Finland
Match number: 92, Difference: 12, Date: 2006-02-18 00:00:00, Home team: Monaco, Away team: Chechnya
Match number: 93, Difference: 12, Date: 2004-11-24 00:00:00, Home team: Jamaica, Away team: Saint Martin
Match number: 94, Difference: 12, Date: 2003-12-03 00:00:00, Home team: Maldives, Away team: Mongolia
Match number: 95, Difference: 12, Date: 1998-09-07 00:00:00, Home team: Tahiti, Away team: American Samoa
Match number: 96, Difference: 12, Date: 1927-05-29 00:00:00, Home team: Sweden, Away team: Latvia
Match number: 97, Difference: 12, Date: 1967-08-23 00:00:00, Home team: Denmark, Away team: Iceland
Match number: 98, Difference: 12, Date: 2003-07-05 00:00:00, Home team: Fiji, Away team: Kiribati
Match number: 99, Difference: 12, Date: 2001-04-14 00:00:00, Home team: Brunei, Away team: United Arab Emirates
Match number: 100, Difference: 12, Date: 1917-10-07 00:00:00, Home team: Denmark, Away team: Norway
Inserted 100 matches with the most difference in goals scored between the two teams flipped.

## COMPARISON OF TIMES

In [702]:
# Function to print a table
def print_table(header, rows):
    col_widths = [max(len(str(cell)) for cell in col) for col in zip(header, *rows)]
    print(" | ".join(f"{cell:<{col_widths[i]}}" for i, cell in enumerate(header)))
    print("-" * (sum(col_widths) + 3 * (len(header) - 1)))
    for row in rows:
        print(" | ".join(f"{cell:<{col_widths[i]}}" for i, cell in enumerate(row)))

mongo_header = ["Query Type", "Basic", "Optimized", "Indexed", "Indexed & Optimized"]
sql_header = ["Query Type", "Basic", "Optimized", "Indexed", "Indexed & Optimized"]

mongo_rows = [
    ["Simple Query 1", mongo_basic_sq1_time, mongo_optimized_sq1_time, mongo_indexed_sq1_time, mongo_indexed_optimized_sq1_time],
    ["Simple Query 2", mongo_basic_sq2_time, mongo_optimized_sq2_time, mongo_indexed_sq2_time, mongo_indexed_optimized_sq2_time],
    ["Complex Query 1", mongo_basic_cq1_time, mongo_optimized_cq1_time, mongo_indexed_cq1_time, mongo_indexed_optimized_cq1_time],
    ["Complex Query 2", mongo_basic_cq2_time, mongo_optimized_cq2_time, mongo_indexed_cq2_time, mongo_indexed_optimized_cq2_time],
]

sql_rows = [
    ["Simple Query 1", sql_basic_sq1_time, sql_optimized_sq1_time, sql_indexed_sq1_time, sql_indexed_optimized_sq1_time],
    ["Simple Query 2", sql_basic_sq2_time, sql_optimized_sq2_time, sql_indexed_sq2_time, sql_indexed_optimized_sq2_time],
    ["Complex Query 1", sql_basic_cq1_time, sql_optimized_cq1_time, sql_indexed_cq1_time, sql_indexed_optimized_cq1_time],
    ["Complex Query 2", sql_basic_cq2_time, sql_optimized_cq2_time, sql_indexed_cq2_time, sql_indexed_optimized_cq2_time],
]

# Print the tables
print("MongoDB Query Times:\n")
print_table(mongo_header, mongo_rows)
print("\nSQL Query Times:\n")
print_table(sql_header, sql_rows)

MongoDB Query Times:

Query Type      | Basic                  | Optimized              | Indexed                | Indexed & Optimized
-------------------------------------------------------------------------------------------------------------------
Simple Query 1  | 1.8166028894484043e-05 | 3.0166003853082657e-05 | 1.4625024050474167e-05 | 2.2333930246531963e-05
Simple Query 2  | 1.1709053069353104e-05 | 2.7832924388349056e-05 | 1.2625008821487427e-05 | 1.758395228534937e-05
Complex Query 1 | 0.26157895801588893    | 0.18222945800516754    | 0.12411279196385294    | 0.053770708036608994
Complex Query 2 | 0.09429875004570931    | 0.08373162499628961    | 0.0883695000084117     | 0.08626033295877278

SQL Query Times:

Query Type      | Basic               | Optimized            | Indexed              | Indexed & Optimized
----------------------------------------------------------------------------------------------------------
Simple Query 1  | 0.03757179097738117 | 0.0280712079256773   | 0.04771920805796981  | 0.018115250044502318
Simple Query 2  | 0.02166716696228832 | 0.016430290997959673 | 0.000848833005875349 | 0.002947207889519632
Complex Query 1 | 0.45122554094996303 | 0.09329170803539455  | 0.05549970793072134  | 0.04146283399313688
Complex Query 2 | 0.12773154210299253 | 0.0778476670384407   | 0.12449658301193267  | 0.06268199998885393